<ion-view view-title='About Us'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <!-- <a><img src="img/back_button.png"></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' >
      <div ng-style='device_height_header_tab'>
        <div class="aboutuspage">
          <ion-item ng-click='$state.go("about")'>
            <div class='select_content'>
              <span>About</span>
            </div>
          </ion-item>
          <ion-item ng-click='open_in_app_browser("/privacy-policy")'>
            <div class='select_content'>
              <span>Privacy Policy</span>
            </div>
          </ion-item>
          <ion-item ng-click='open_in_app_browser("/terms-of-use")'>
            <div class='select_content'>
              <span>Terms of Usage</span>
            </div>
          </ion-item>
          <ion-item ng-click='open_in_app_browser("/faqs")'>
            <div class='select_content'>
              <span>FAQ</span>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("feedback")'>
            <div class='select_content'>
              <span>Feedback / Contact Us</span>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("hcncarehelp")'>
            <div class='select_content'>
              <span>HCN Care Help</span>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("version")'>
            <div class='select_content'>
              <span>Version</span>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-content>
</ion-view>
