<ion-view view-title='Log Activity'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='showConfirm()'>
      <!-- <a><img src="img/back_button.png"/></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
    <!-- <div class="user_pro" ng-controller='CommonControllerForProfile'>
      <img src='img/user_account.png' ng-show='profile_image == null'/>
      <img src='{{ profile_image }}' ng-show='profile_image != null'/>
    </div>
    <div class="user_pro_name" ng-click='$state.go("user_profile_tab.profile")' ng-controller='CommonControllerForProfile'>
      <span>{{username}}</span>
    </div> -->
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <div class='user_sos' ng-click='$state.go("sos")'></div> -->
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_activity()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' >
        <div ng-style='device_height_header_tab'>
          <!-- <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="$state.go('main_tabs.log_widget')"></i>
            <span class='title'></span>
            <i class='right' ng-show='!v.is_check_enabled'></i>
            <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_activity()' style="padding:0 10px"></i>
          </div> -->
          <div class='log_wid log_wid_2'>
            <ion-list class='log_form activity_form'>
              <ion-item>
                <div class='log_form_item' ng-class='v.search_results.length > 0?"gray_border":""'>
                  <div class='search_form'>
                    <input type='text' placeholder="Search and choose your exercise" ng-model='v.activity_search_text' ng-change='search_activity()'/>
                    <i class='ion-ios-search-strong'></i>
                  </div>
                </div>
              </ion-item>
              <ion-item  ng-show='v.is_searching' style="text-align:center">
                <ion-spinner icon="ios"></ion-spinner>
              </ion-item>
              <ion-item  ng-repeat='item in v.search_results' ng-show='!v.is_searching' ng-click='choose_activity(item)'>
                <div class='log_form_item'>
                  <p>{{ item.activity_name }}</p>
                </div>
              </ion-item>

              <ion-item ng-show='!v.is_searching && v.activity_log_input.activity_id.length > 0'>
                <div class='log_form_item'>
                  <span class='key'>{{ v.activity_log_input.activity_name }} :</span>
                  <div class='value'>
                    <div class='input_unit_val'>
                      <input type='number' placeholder="----" ng-model='v.activity_log_input.duration' ng-change='validate_for_check()' numberval maxval="999" fractionlen='1'/>
                      <span>Mins</span>
                    </div>
                  </div>
                </div>
              </ion-item>

            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
