<div class='appreview_popup'>
  <h1>Tell us about your experience with HCN Care</h1>
  <div class="stars_icons">
    <span ng-click='set_rating(1)' class="is_inactive" ng-class='v.user_rating >=1?"is_active":""'></span>
    <span ng-click='set_rating(2)' class="is_inactive" ng-class='v.user_rating >=2?"is_active":""'></span>
    <span ng-click='set_rating(3)' class="is_inactive" ng-class='v.user_rating >=3?"is_active":""'></span>
    <span ng-click='set_rating(4)' class="is_inactive" ng-class='v.user_rating >=4?"is_active":""'></span>
    <span ng-click='set_rating(5)' class="is_inactive" ng-class='v.user_rating >=5?"is_active":""'></span>
  </div>
  <div class='text-right' style='margin-top:30px'>
    <a hredf='#' ng-click='appreview_popup.close()' class='not_sure'>NOT NOW</a>
    <!-- <a hresf='#'  ng-click='review_final_popup.close()' class='sure'>SURE</a> -->
  </div>
</div>
