<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.6 10.36"><defs><style></style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M9.6,5.56,8.48,4.44,4.8,8.12,1.12,4.44,0,5.56l4.8,4.8Zm0,0"/><path class="cls-1" d="M9.6,1.12,8.48,0,4.8,3.68,1.12,0,0,1.12l4.8,4.8Zm0,0"/></g></g></svg>
