<!-- <div class="main_event">
  <ion-item class="attach_file" ng-click="select_file_to_upload()">
    <span>Attach a File</span>
  </ion-item>
  <input type='file' style='display:none;' id='uploaded_file' onchange="angular.element(this).scope().get_image_from_gallery(this)" multiple/>
  <ion-item class="divider">
    <p>OR</p>
  </ion-item>
  <ion-item class="attach_picture" ng-click="get_image_from_camera()">
    <span>Click a Picture</span>
  </ion-item>
</div> -->

<div class='image'>
  <div class='sec' ng-click='select_file_to_upload()'>
    <div>Attach a File</div> <div class='img'><img src='./img/phr_icons/popup_attach.png' /></div>
  </div>
  <div class='sep'></div>
  <div class='sec' ng-click='get_image_from_camera()'>
    <div>Click a Picture</div> <div class='img'><img src='./img/phr_icons/popup_camera.png' /></div>
  </div>
  <!-- <a href='javascript:void(0)' ng-click='select_file_to_upload()'><img src='img/gallery.png' /><span class='sm_text'>Gallery</span></a> -->
  <!-- <a href='javascript:void(0)' ng-click='get_image_from_camera()'><img src='img/camera_upload.png' /><span class='sm_text'>Camera</span></a> -->
</div>
  <input type='file' style='display:none;' id='uploaded_file' onchange="angular.element(this).scope().get_image_from_gallery(this)" multiple/>
<!-- <div class='buttons'>
  <button class='popup_btn' ng-click='close_attach_doc_popup()'>Close</button>
</div> -->
