<ion-view view-title='Log Blood Glucose Level'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='showConfirm()'>
      <!-- <a><img src="img/back_button.png"/></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <div class='user_sos' ng-click='$state.go("sos")'></div> -->
    <!-- <div class='check_user'  ng-click="openPopover($event)" ng-controller='CommonControllerForProfile'>
      <i class='ion-android-more-vertical'></i>
    </div> -->
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_bgl()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon'>
        <div ng-style='device_height_header'>
          <!-- <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="$state.go('main_tabs.log_widget')"></i>
            <span class='title'>Blood Glucose Levels</span>
            <i class='right' ng-show='!v.is_check_enabled'></i>
            <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_bgl()' style="padding:0 10px"></i>
          </div> -->
          <div class='log_wid log_wid_2'>
            <ion-list class='log_form'>
              <ion-item>
                <div class='log_form_item'>
                    <span class='key'>Glucose Level:</span>
                    <div class='value'>
                      <div class='select_unit_val'>
                        <input type='number' maxlength="30" placeholder="----" ng-model='v.bgl_log_input.blood_glucose_level' ng-change='validate_for_check()' numberval maxval="999" fractionlen='1'/>
                        <select ng-model='v.bgl_log_input.unit'>
                          <option value='mg_dl'>mg/dl</option>
                          <option value='mmol_l'>mmol/l</option>
                        </select>
                      </div>
                    </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Event :</span>
                  <div class='value' ng-click='open_event_popup()'>
                    <div class='span_title_val'>
                      <span class='ttl1'  ng-show='v.bgl_log_input.event_id.length > 0'>{{ v.bgl_log_input.event_name }}</span>
                      <span class='ttl2' ng-show='v.bgl_log_input.event_id.length > 0'>{{ v.bgl_log_input.subevent_name }}</span>
                      <span class='place_holder' ng-show='v.bgl_log_input.event_id.length == 0'>Select Event</span>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Date :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.bgl_log_input.log_date | format_date:"YYYY-MM-DD":"D MMM,YYYY"' ng-click='open_datepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Time :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Time" readonly="" ng-model='v.bgl_log_input.log_time_view' ng-click='open_timepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item' ng-class='v.search_results1.length > 0 ?"gray_border":""'>
                  <span class='key'>Food :</span>
                  <div class='value'>
                    <div class='search_form'>
                      <input type='text' placeholder="Select Food" ng-model='v.food_search_text' ng-change='search_food()'/>
                      <i class='ion-ios-search-strong'></i>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item  ng-show='v.is_searching ' style="text-align:center">
                <ion-spinner icon="ios"></ion-spinner>
              </ion-item>
              <ion-item   ng-show='!v.is_searching && v.search_results.length > 0' >
                <div class='log_form_item' ng-click='choose_food(item)' ng-repeat='item in v.search_results' style="font-size:12px;">
                  <p>{{ item.food_name }} <font style='font-size:10px' ng-show='item.brand_name != undefined'>({{ item.brand_name }})</font></p>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.bgl_log_input.foods.length > 0'>
                <div class='log_form_item' >
                  <span class='key' ng-repeat='food in v.bgl_log_input.foods' style="color:#444;margin-bottom:10px;display:block">{{ food.food_name }}({{ food.serving }})</span>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Place :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.bgl_log_input.place'>
                        <option value=''>Select Place</option>
                        <option value='Home'>Home</option>
                        <option value='Lab'>Lab</option>
                        <option value='Office'>Office</option>
                        <option value='Outside'>Outside</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Notes :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Type Here" ng-model='v.bgl_log_input.notes' readonly="" ng-click='open_note_popup()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled' style="padding:0 10px;">
                <div class=' mood'>
                  <span>Mood</span>
                  <ul>
                    <li ng-click='v.bgl_log_input.mood="AWESOME"'>
                      <a class='mood_ico mood_awesome' ng-class='v.bgl_log_input.mood=="AWESOME"?"active":""'></a>
                      <span>Awesome</span>
                    </li>
                    <li ng-click='v.bgl_log_input.mood="GOOD"'>
                      <a class='mood_ico mood_good' ng-class='v.bgl_log_input.mood=="GOOD"?"active":""'></a>
                      <span>Good</span>
                    </li>
                    <li ng-click='v.bgl_log_input.mood="SOSO"'>
                      <a class='mood_ico mood_soso' ng-class='v.bgl_log_input.mood=="SOSO"?"active":""'></a>
                      <span>So so</span>
                    </li>
                    <li ng-click='v.bgl_log_input.mood="SAD"'>
                      <a class='mood_ico mood_sad' ng-class='v.bgl_log_input.mood=="SAD"?"active":""'></a>
                      <span>Sad</span>
                    </li>
                    <li ng-click='v.bgl_log_input.mood="AWFUL"'>
                      <a class='mood_ico mood_awful' ng-class='v.bgl_log_input.mood=="AWFUL"?"active":""'></a>
                      <span>Awful</span>
                    </li>
                  </ul>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
