<ion-view>
    <ion-nav-title>
      <h1>What is your last known BP?</h1>
    </ion-nav-title>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh user_form_icon no_icon bp'>
      <div ng-style='device_height_header'>
        <div class='user_flow_top top_tab'>
          <i class='ion-android-arrow-back left' ng-click='go_back()' ></i>
          <i class='ion-android-done right' ng-click='update_info()' style="padding:0 10px"></i>
        </div>
        <div class='has_top_nav'>
      <ion-list>

        <ion-item>
          <div class='form-item'>
            <!-- <img src='img/height.png'> -->
            <div class='elem'>
              <span class='key'>Systolic (High) :</span>
              <div class='value value_type_select'>
                <input type='number' maxlength="30" placeholder="----" ng-model='v.info.systolic' numberval maxval="999" fractionlen='1'/>
                <select disabled>
                  <option  selected>mmHg</option>
                </select>
                <font class='val_type input'></font>
              </div>
            </div>
          </div>
        </ion-item>
        <ion-item>
          <div class='form-item'>
            <!-- <img src='img/height.png'> -->
            <div class='elem'>
              <span class='key'>Diastolic (Low) :</span>
              <div class='value value_type_select'>
                <input type='number' maxlength="30" placeholder="----" ng-model='v.info.diastolic' numberval maxval="999" fractionlen='1'/>
                <select disabled>
                  <option  selected>mmHg</option>
                </select>
                <font class='val_type input'></font>
              </div>
            </div>
          </div>
        </ion-item>

        <ion-item>
          <div class='form-item'>
            <!-- <img src='img/height.png'> -->
            <div class='elem'>
              <span class='key'>Pulse :</span>
              <div class='value value_type_select'>
                <input type='number' maxlength="30" placeholder="----" ng-model='v.info.pulse' numberval maxval="999" fractionlen='1'/>
                <select disabled>
                  <option  selected>bpm</option>
                </select>
                <font class='val_type input'></font>
              </div>
            </div>
          </div>
        </ion-item>

      </ion-list>
      </div>
      <!-- <div class='nav_fixed_button text-center'>
        <a ng-click='go_back()'>
          <img src='img/backButton.png' />
        </a>

        <a ng-click='update_info()'>
          <img src='img/nextButton.png' />
        </a>
      </div> -->
      </div>
    </ion-content>

</ion-view>
