<ion-view view-title='Log Blood Pressure'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='showConfirm()'>
      <!-- <a><img src="img/back_button.png"/></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
    <!-- <div class="user_pro" ng-controller='CommonControllerForProfile'>
      <img src='img/user_account.png' ng-show='profile_image == null'/>
      <img src='{{ profile_image }}' ng-show='profile_image != null'/>
    </div>
    <div class="user_pro_name" ng-click='$state.go("user_profile_tab.profile")' ng-controller='CommonControllerForProfile'>
      <span>{{username}}</span>
    </div> -->
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <div class='user_sos' ng-click='$state.go("sos")'></div> -->
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_bp()' style="padding:0 10px"></i>
    </div>
    <!-- <div class='check_user'  ng-click="openPopover($event)" ng-controller='CommonControllerForProfile'>
      <i class='ion-android-more-vertical'></i>
    </div> -->
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' >
        <div ng-style='device_height_header'>
          <!-- <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="$state.go('main_tabs.log_widget')"></i>
            <span class='title'></span>
            <i class='right' ng-show='!v.is_check_enabled'></i>
            <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_bp()' style="padding:0 10px"></i>
          </div> -->
          <div class='log_wid log_wid_2'>
            <ion-list class='log_form'>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Systolic(High) :</span>
                  <div class='value'>
                    <div class='input_unit_val'>
                      <input type='number' placeholder="----" ng-model='v.bp_log_input.systolic' ng-change='validate_for_check()' numberval maxval="999" fractionlen='1'/>
                      <span>mmHg</span>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Diastolic(Low) :</span>
                  <div class='value'>
                    <div class='input_unit_val'>
                      <input type='number' placeholder="----" ng-model='v.bp_log_input.diastolic' ng-change='validate_for_check()' numberval maxval="999" fractionlen='1'/>
                      <span>mmHg</span>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Pulse :</span>
                  <div class='value'>
                    <div class='input_unit_val'>
                      <input type='number' placeholder="----" ng-model='v.bp_log_input.pulse' numberval maxval="999" fractionlen='1'/>
                      <span>bpm</span>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Weight:</span>
                  <div class='value'>
                    <div class='input_unit_val'>
                      <input type='number' placeholder="----" ng-model='v.bp_log_input.weight' numberval maxval="999" fractionlen='1'/>
                      <span>{{ v.bp_log_input.weight_unit | weight_string }}</span>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Date :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.bp_log_input.log_date | format_date:"YYYY-MM-DD":"D MMM,YYYY"' ng-click='open_datepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Time :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Time" readonly="" ng-model='v.bp_log_input.log_time_view' ng-click='open_timepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Notes :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Type Here" ng-model='v.bp_log_input.notes' readonly="" ng-click='open_note_popup()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled' style="padding:0 10px;">
                <div class=' mood'>
                  <span>Mood</span>
                  <ul>
                    <li ng-click='v.bp_log_input.mood="AWESOME"'>
                      <a class='mood_ico mood_awesome' ng-class='v.bp_log_input.mood=="AWESOME"?"active":""'></a>
                      <span>Awesome</span>
                    </li>
                    <li ng-click='v.bp_log_input.mood="GOOD"'>
                      <a class='mood_ico mood_good' ng-class='v.bp_log_input.mood=="GOOD"?"active":""'></a>
                      <span>Good</span>
                    </li>
                    <li ng-click='v.bp_log_input.mood="SOSO"'>
                      <a class='mood_ico mood_soso' ng-class='v.bp_log_input.mood=="SOSO"?"active":""'></a>
                      <span>So so</span>
                    </li>
                    <li ng-click='v.bp_log_input.mood="SAD"'>
                      <a class='mood_ico mood_sad' ng-class='v.bp_log_input.mood=="SAD"?"active":""'></a>
                      <span>Sad</span>
                    </li>
                    <li ng-click='v.bp_log_input.mood="AWFUL"'>
                      <a class='mood_ico mood_awful' ng-class='v.bp_log_input.mood=="AWFUL"?"active":""'></a>
                      <span>Awful</span>
                    </li>
                  </ul>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
