<div class='card_dashboard card_type_1 card_a1c' ng-show="item.data.average != null && item.data.average > 0">
  <div class='header'>
    <span class='title'>A1c</span>
    <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /></a>
  </div>
  <div class='data'>
    <div class='bottom_container'>
      <label><font class='card_text_green'>{{ item.data.average }}</font>% &nbsp; &nbsp; Last Log {{ item.data.log_date | format_date:"YYYY-MM-DD":"Do MMM"}}</label>
    </div>
  </div>
</div>
