<div class='card_dashboard card_type_1 card_schedule' ng-show='item.data.lab_data.length > 0 || item.data.doctor_data.length > 0 ||item.data.medicine_data.length > 0 ||item.data.activity_data.length > 0 '>
  <div class='header'>
    <span class='title'>My Schedule For Today</span>
    <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /></a>
  </div>
  <div class='data'>
    <div class='schedule_row' ng-show='item.data.medicine_data.length > 0'>
      <div class='schedule_type'>
        <label class='card_text_red'>Medication</label>
      </div>
      <div class='schedule_data'>
        <table >
          <tr ng-repeat='d in item.data.medicine_data'>
            <td class='key' ng-repeat="medicine in d.medicines">
              {{medicine.name}} (<font>{{medicine.doss}}</font>)
            </td>
            <td class='value'>
              <font>{{d.schedule_time | symptom_time_format}}</font>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='sep' ng-show='item.data.medicine_data.length > 0'></div>
    <div class='schedule_row' ng-show='item.data.doctor_data.length > 0'>
      <div class='schedule_type'>
        <label class='card_text_green'>Doctor's Appointment</label>
      </div>
      <div class='schedule_data'>
        <table>
          <tr ng-repeat='d in item.data.doctor_data'>
            <td class='key'>
              {{d.doctor_name}} (<font>{{d.hospital_name}}</font>)
            </td>
            <td class='value'>
              <font>{{d.schedule_time |symptom_time_format}}</font>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='sep' ng-show='item.data.doctor_data.length > 0'></div>
    <div class='schedule_row' ng-show='item.data.lab_data.length > 0'>
      <div class='schedule_type'>
        <label class='card_text_orange'>Lab Test</label>
      </div>
      <div class='schedule_data'>
        <table >
          <tr ng-repeat='d in item.data.lab_data'>
            <td class='key'>
              {{d.test_type}} (<font>{{d.lab_name}}</font>)
            </td>
            <td class='value'>
              <font>{{d.schedule_time |symptom_time_format }}</font>
            </td>
          </tr>
        </table>
        <table ng-show='item.data.lab_status == "FALSE"'>
          <tr>
            <td class='key'>
              No Data for today
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='sep' ng-show='item.data.lab_data.length > 0'></div>
    <div class='schedule_row' ng-show='item.data.activity_data.length > 0'>
      <div class='schedule_type'>
        <label class='card_text_purple'>Activity</label>
      </div>
      <div class='schedule_data'>
        <table >
          <tr ng-repeat='d in item.data.activity_data'>
            <td class='key'>
              {{d.activity_name}}
            </td>
            <td class='value'>
              <font>{{d.schedule_time | symptom_time_format }}</font>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
