<div class='card_bgl card_dashboard card_type_1'>
  <div class='header'>
    <span class='title'>Blood Glucose Level</span>
    <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /></a>
  </div>
  <div class='data'>
    <span class='card_title' ng-show='item.data.last_loggen_on != null'>Average of Last {{ item.data.total }} Logs</span>
    <div class='top_container'>
      <div class='top_left section'>
          <div class='figure'>
            <div class='fig_data card_text_green' ng-show='item.data.fasting != 0'>
              {{ item.data.fasting }}
            </div>
            <div class='fig_data log_data' ng-show='item.data.fasting == 0' ng-click='$state.go("main_tabs.bgl_log_widget")'>
              <img src='./img/log_bgl.png'/>
              <span>Log</span>
            </div>
            <div class='unit'>
              <div class='type card_text_green'>
                Fasting
              </div>
              <div class='value'>
                <span ng-show='item.data.unit == "mg_dl"'>mg/dl</span>
                <span ng-show='item.data.unit != "mg_dl"'>mmol/l</span>
              </div>
            </div>
          </div>
          <label class='last_log' ng-show='item.data.fasting != 0'>Last Log: {{ item.data.last_fating_loggen_on | format_date:"YYYY-MM-DD HH:mm:ss":"Do MMM" }}</label>
      </div>
      <div class='top_right section'>
        <div class='figure'>
          <div class='fig_data card_text_orange' ng-show='item.data.post_fasting != 0'>
            {{ item.data.post_fasting }}
          </div>
          <div class='fig_data log_data' ng-show='item.data.post_fasting == 0' ng-click='$state.go("main_tabs.bgl_log_widget")'>
            <img src='./img/log_bgl.png'/>
            <span>Log</span>
          </div>
          <div class='unit'>
            <div class='type card_text_orange'>
              Post Meal
            </div>
            <div class='value'>
              <span ng-show='item.data.unit == "mg_dl"'>mg/dl</span>
              <span ng-show='item.data.unit != "mg_dl"'>mmol/l</span>
            </div>
          </div>
        </div>
        <label class='last_log' ng-show='item.data.post_fasting != 0'>Last Log: {{ item.data.last_post_loggen_on | format_date:"YYYY-MM-DD HH:mm:ss":"Do MMM" }}</label>
      </div>
    </div>
    <div class='sep' ng-show='item.data.last_loggen_on != null'></div>
    <div class='bottom_container' ng-show='item.data.last_loggen_on != null'>
      <label>Overall <font>{{ item.data.in_range }}</font>% in Range</label>
    </div>
  </div>
</div>
