<div class='card_blog_tip'>
  <div class='card_icon'><img src='./img/tip_of_day.png' /></div>
  <div class='container'>
    <div class='left'></div>
    <div class='right'>
      <div class='header'>
        <span>Tip of the Day</span>
      </div>
      <div class='data'>
        <span>Get your HbA1c check every 3 Months for better results.</span>
      </div>
    </div>
  </div>
</div>
