<div class='card_help_app_user'>
  <div class='card_icon'><img src='./img/card_info.png' /></div>
  <div class='container'>
    <div class='left'></div>
    <div class='right'>
      <div class='data'>
        <div class='title'>
          <span>How to use this app?</span>
        </div>
      </div>
    </div>
  </div>
</div>
