<div class='card_blog' ng-click='move_to(item.data.url)'>
  <div class='card_icon'><img src='./img/card_blog_icon.png' /></div>
  <div class='container'>
    <div class='left'></div>
    <div class='right'>
      <div class='data'>
        <div class='title'>
          <span>{{ item.data.title }}</span>
        </div>
        <div class='img'>
          <img src='{{ item.data.image }}' />
        </div>
      </div>
    </div>
  </div>
</div>
