<div class='card_current_health'>
  <div class='card_icon'><img src='./img/card_current_health.png' /></div>
  <div class='container'>
    <div class='left'></div>
    <div class='right'>
      <div class='header'>
        <span>Your Current State</span>
        <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /><a/>
      </div>
      <div class='data'>
        <div class='bmi'>
          <label>Current BMI:</label> <span>{{ item.data.bmi }} ({{ item.data.message }})</span>
        </div>
        <div class='ideal'>
          <label>Ideal BMI:</label> <span>18.5 - 24.5</span>
        </div>
      </div>
    </div>
  </div>
</div>
