<div class='card_dashboard card_type_1'>
  <div class='header'>
    <span class='title'>Weight</span>
    <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /></a>
  </div>
  <div class='data'>
    <div class='bottom_container'>
      <!-- <label><font>{{ item.data.current }}</font> <span ng-show='item.data.unit == "KG"'>kg</span> <span ng-show='item.data.unit != "KG"'>lbs</span> &nbsp; &nbsp; Last Log {{ item.data.unit.last_loggen_on | format_date:"YYYY-MM-DD":"Do MMM"}}</label> -->
      <label><font>{{ item.data.current }}</font> <span ng-show='item.data.unit == "KG"'>kg</span> <span ng-show='item.data.unit != "KG"'>lbs</span> &nbsp; &nbsp; Last Log: {{ item.data.last_loggen_on | format_date:"YYYY-MM-DD HH:mm:ss":"Do MMM" }}</label>

    </div>
  </div>
</div>
