<div class='card_bp card_dashboard card_type_1'>
  <div class='header'>
    <span class='title'>Blood Pressure</span>
    <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /></a>
  </div>
  <div class='data'>
    <span class='card_title'>Average of Last 5 Logs</span>
    <div class='top_container'>
      <div class='top_left section'>
          <div class='figure'>
            <div class='fig_data card_text_green' ng-show='item.data != null'>
              {{item.data.distolic }}
            </div>
            <div class='fig_data log_data' ng-show='item.data == null' ng-click='$state.go("main_tabs.bp_log_widget")'>
              <img src='./img/log_bp.png'/>
              <span>Log</span>
            </div>
            <div class='unit'>
              <div class='type card_text_green'>
                Diastolic (Low)
              </div>
              <div class='value'>
                mmHg
              </div>
            </div>
          </div>
                  <label class='last_log'>Last Log: {{ item.data.last_loggen_on | format_date:"YYYY-MM-DD HH:mm:ss":"Do MMM" }}</label>
      </div>
      <div class='top_right section'>
        <div class='figure'>
          <div class='fig_data card_text_orange' ng-show='item.data != null'>
            {{item.data.systolic}}
          </div>
          <div class='fig_data log_data' ng-show='item.data == null' ng-click='$state.go("main_tabs.bp_log_widget")'>
            <img src='./img/log_bp.png'/>
            <span>Log</span>
          </div>
          <div class='unit'>
            <div class='type card_text_orange'>
              Systolic (High)
            </div>
            <div class='value'>
              mmHg
            </div>
          </div>
        </div>
        <label class='last_log'>Last Log: {{ item.data.last_loggen_on | format_date:"YYYY-MM-DD HH:mm:ss":"Do MMM" }}</label>
      </div>
    </div>
    <div class='sep'></div>
    <div class='bottom_container'>
      <label ng-show='item.data != null'>Overall <font>{{ item.data.in_range }}</font>% in Range</label>
      <label ng-show='item.data == null'>Overall <font>0</font>% in Range</label>
    </div>
  </div>
</div>
