<div class='card_intake card_dashboard card_type_1'>
  <div class='header'>
    <span class='title'>Carb Intake</span>
    <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /></a>
  </div>
  <div class='data'>
    <div class='top_container with_border'>
      <div class='section ' ng-repeat='(k,intake) in item.data'>
        <div class='intake_value' ng-init='carb_intake=intake.avg_carbs;meal_count=intake.meal_count;'>
          <div class='type'>{{ k }}</div>
          <div class='value'>
            <label>{{ intake.carbs }} <font>g</font></label>
          </div>
          <div class='time'>{{ intake.log_date | format_date:"YYYY-MM-DD":"Do MMM"}}</div>
        </div>
      </div>
      <!-- <div class='section '>
        <div class='intake_value'>
          <div class='type'>Breakfast</div>
          <div class='value'>
            <label>30 <font>g</font></label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div>
      <div class='section '>
        <div class='intake_value'>
          <div class='type'>Breakfast</div>
          <div class='value'>
            <label>30 <font>g</font></label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div>
      <div class='section'>
        <div class='intake_value'>
          <div class='type'>Breakfast</div>
          <div class='value'>
            <label>30 <font>g</font></label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div> -->
    </div>
    <div class='sep' style="margin-top:0;" ng-show='item.data.length > 0'></div>
    <div class='bottom_container' ng-show='item.data.length > 0'>
      <label>Average Carbs Per Meal <font>{{ carb_intake }}</font>g in Last {{ meal_count }} meal<span ng-show='meal_count > 1'>s</span></label>
    </div>
  </div>
</div>
