<div class='card_activity card_dashboard card_type_1'>
  <div class='header'>
    <span class='title'>Activity</span>
    <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /></a>
  </div>
  <div class='data'>
    <div class='top_container with_border'>
      <div class='section ' ng-repeat='activity in item.data'>
        <div class='intake_value'>
          <div class='type'>{{ activity.activity_name}}</div>
          <div class='value'>
            <label>{{ activity.number | to_seconds }} <font>mins</font></label>
          </div>
          <div class='value'>
            <label>{{ activity.total_cal_burn }} <font>cals</font></label>
          </div>
          <div class='time'>{{ activity.last_loggen_on | format_date:"YYYY-MM-DD":"Do MMM"}}</div>
        </div>
      </div>
      <!-- div class='section '>
        <div class='intake_value'>
          <div class='type'>Runing</div>
          <div class='value'>
            <label>30 <font>mins</font></label>
          </div>
          <div class='value'>
            <label>250 <font>cals</font></label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div>
      <div class='section '>
        <div class='intake_value'>
          <div class='type'>Runing</div>
          <div class='value'>
            <label>30 <font>mins</font></label>
          </div>
          <div class='value'>
            <label>250 <font>cals</font></label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div>
      <div class='section'>
        <div class='intake_value'>
          <div class='type'>Runing</div>
          <div class='value'>
            <label>30 <font>mins</font></label>
          </div>
          <div class='value'>
            <label>250 <font>cals</font></label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div -->
    </div>
    <!-- div class='sep' style="margin-top:0;"></div>
    <span class='card_title'>Average of Last 7 Days</span>
    <div class='bottom_container'>
      <div class='summary'>
        <div class='cal'>
          <label>250<font>cals</font></label>
        </div>
        <div class='time'>
          <label>32<font>min</font></label>
        </div>
      </div>
    </div-->
  </div>
</div>
