<div class='card_symptoms card_dashboard card_type_1'>
  <div class='header'>
    <span class='title'>Most Occuring Symptoms</span>
    <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /></a>
  </div>
  <div class='data'>
    <div class='top_container with_border'>
      <div class='section ' ng-repeat='symptom in item.data'>
        <div class='intake_value'>
          <div class='type'>{{ symptom.symptom_name}}</div>
          <div class='value'>
            <label>({{ symptom.number }} Times)</label>
          </div>
          <div class='time'>{{ symptom.last_log_date | format_date:"YYYY-MM-DD":"Do MMM"}}</div>
        </div>
      </div>
      <!-- div class='section '>
        <div class='intake_value'>
          <div class='type'>Head Ache</div>
          <div class='value'>
            <label>(7 Times)</label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div>
      <div class='section '>
        <div class='intake_value'>
          <div class='type'>Head Ache</div>
          <div class='value'>
            <label>(7 Times)</label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div>
      <div class='section'>
        <div class='intake_value'>
          <div class='type'>Head Ache</div>
          <div class='value'>
            <label>(7 Times)</label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div -->
    </div>
  </div>
</div>
