<div class='card_intake card_dashboard card_type_1'>
  <div class='header'>
    <span class='title'>Medication</span>
    <a ng-click='open_info_modal(item.data)' class='info_icon'><img src='./img/info_icon_car.png' /></a>
  </div>
  <div class='data'>
    <!-- <span class='card_title'>Taken in Last 1 Week</span> -->
    <div class='top_container with_border'>
      <div class='section ' ng-repeat='med in item.data'>
        <div class='intake_value'>
          <div class='type'>{{ med.medicine_name }}</div>
          <div class='value'>
            <label>{{ med.number }}</label>
          </div>
          <div class='time'>{{ med.log_date | format_date:"YYYY-MM-DD":"Do MMM"}}</div>
        </div>
      </div>
      <!-- div class='section '>
        <div class='intake_value'>
          <div class='type'>Crosin</div>
          <div class='value'>
            <label>30</label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div>
      <div class='section '>
        <div class='intake_value'>
          <div class='type'>Crosin</div>
          <div class='value'>
            <label>30</label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div>
      <div class='section'>
        <div class='intake_value'>
          <div class='type'>Crosin</div>
          <div class='value'>
            <label>30</label>
          </div>
          <div class='time'>22<sup>nd</sup> Oct</div>
        </div>
      </div -->
    </div>
  </div>
</div>
