<ion-view>
    <ion-nav-title>
      <h1>Home</h1>
    </ion-nav-title>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh user_form_icon' >
      
    </ion-content>

</ion-view>
