<ion-modal-view class='small_bar'>
    <ion-header-bar class='bar-calm'>
      <h1 class="title">Contacts</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="contact in v.contacts">
          Hello, {{item}}!
        </ion-item>
        <ion-item ng-show="v.contacts.length == 0">
          No Contacts
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-modal-view>
