<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' style="margin-top:8px;">
        <div ng-style='device_height_header_tab_top'>
          <div class='log_nav top_tab'>
            <i class='ion-android-arrow-back left' ng-click="go_back()"></i>
            <!-- <span class='title'>User Contact Information</span> -->
            <i class='ion-android-done right' ng-click='update_contact_info()' style="padding:0 10px"></i>
          </div>
          <div class='log_wid'>
            <ion-list class='log_form'>
              <ion-item >
                <div class='log_form_item gray_border'>
                  <span class='key'>Phone no :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Phone Number" ng-model='v.contact_info.contact_num'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item >
                <div class='log_form_item gray_border'>
                  <span class='key'>Address 1 :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Address 1" ng-model='v.contact_info.address_1'/>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item >
                <div class='log_form_item gray_border'>
                  <span class='key'>Address 2 :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Address 2" ng-model='v.contact_info.address_2'/>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item >
                <div class='log_form_item gray_border'>
                  <span class='key'>City :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="City" ng-model='v.contact_info.city'/>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item >
                <div class='log_form_item gray_border'>
                  <span class='key'>State :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="State" ng-model='v.contact_info.state'/>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item >
                <div class='log_form_item gray_border'>
                  <span class='key'>Zip :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Zip" ng-model='v.contact_info.zip'/>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
