<div class="main_event">
  <ion-item>
    <div class='select_event_popup'>
      <div class='value'>
        <div class='input_val'>
          <input type='text' placeholder="Type Event Name" ng-model='v.new_event_name'/>
        </div>
      </div>
    </div>
  </ion-item>
  <div class="buttons">
    <button ng-click='save_event_popup()'>Save</button>&nbsp&nbsp
    <button ng-click='cancel_event_popup()'>cancel</button>
  </div>
</div>
