<ion-view hide-nav-bar="true" view-title="Cred">
    <ion-content scroll='true'  direction='y' has-header="false" class='cred_screen bg_wh' delegate-handle="mainScroll">
      <div class='cred_container' ng-style='device_height'>
        <!-- {{ device_height }} -->
        <div class='cred_top'>
          <img src='img/hcncare_logo.png' class='logo'/>
          <ul class='nav'>
            <li ng-class='v.active_tab=="REGISTER"?"active":""' ng-click='change_tab("REGISTER")'>
              <a href='javascript:void(0)'>SIGN UP</a>
            </li>
            <li ng-class='v.active_tab=="LOGIN"?"active":""' ng-click='change_tab("LOGIN")'>
              <a href='javascript:void(0)'>SIGN IN</a>
            </li>
          </ul>
        </div>
        <div class='cred_bottom cred_view' ng-include="'login.html'" ng-show='v.active_tab=="LOGIN"'></div>
        <div class='cred_bottom cred_view' ng-include="'signup.html'" ng-show='v.active_tab=="REGISTER"'></div>
        <!-- <div class='cred_bottom cred_view' ui-view='credential-view'> -->

        </div>
      </div>
    </ion-content>
</ion-view>
