<ion-modal-view class=''>
  <ion-header-bar class='bar-calm modal_with_back' align-title="center">
    <div class="buttons">
      <i class='ion-android-arrow-back left' ng-click='tip_modal.hide();'></i>
    </div>
    <h1 class="title">Tip</h1>
  </ion-header-bar>
  <ion-content>
    <div class='tip_container'>
      <h1>{{ tip_data.message }}</h1>
      <img ng-src='{{ tip_data.image }}' ng-show='tip_data != null && tip_data.image != null && tip_data.image != undefined'/>
      <div ng-bind-html='tip_data.content'></div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-calm" ng-click="go_to_action(tip_data)">
    <h1 class="title">{{ tip_data.action_button }}</h1>
  </ion-footer-bar>
</ion-modal-view>
