<ion-view>
    <ion-nav-title>
      <h1>Set your target range</h1>
    </ion-nav-title>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh'>
      <div ng-style='device_height_header'>
        <div ng-style='device_height_header'>
          <div class='user_flow_top top_tab'>
            <i class='ion-android-arrow-back left' ng-click='go_back()' ></i>
            <i class='ion-android-done right' ng-click='set_target_range()' style="padding:0 10px"></i>
          </div>
          <div class='has_top_nav'>
        <div class="list goal_list">
          <label class="item item-input item-select nitem nitem2">
            <div class='info info2'>
              <div class="input-label">
                Range Unit :
              </div>
              <select ng-model='v.range_unit' ng-change='set_range()'>
                <option value='mg_dl'>mg/dl</option>
                <option value='mmol_l'>mmol/l</option>
              </select>
            </div>
          </label>

          <label class="item item-input item-select nitem nitem2">
            <div class='info info2'>
              <div class="input-label">
                Target Range Start :
              </div>
              <select ng-model='v.choosen_start' ng-change='refactor_range()'>
                <option ng-repeat='item in v.range_start_ar' value='{{item}}'>{{ item }}</option>
              </select>
            </div>
          </label>


          <label class="item item-input item-select nitem nitem2">
            <div class='info info2'>
              <div class="input-label">
                Target Range End :
              </div>
              <select ng-model='v.choosen_end' ng-change='refactor_range()'>
                <option ng-repeat='item in v.range_end_ar' value='{{item}}'>{{ item }}</option>
              </select>
            </div>
          </label>

        </div>
        </div>
        <!-- <div class='nav_fixed_button text-center'>
          <a ng-click='go_back()'>
            <img src='img/backButton.png' />
          </a>

          <a ng-click='set_target_range()'>
            <img src='img/nextButton.png' />
          </a>
        </div> -->
      </div>
    </ion-content>

</ion-view>
