<ion-view>
    <ion-nav-title>
      <h1>Your diabetes type?</h1>
    </ion-nav-title>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh'>
      <div ng-style='device_height_header'>
        <div class='user_flow_top top_tab'>
          <i class='ion-android-arrow-back left' ng-click='go_back()' ></i>
          <i class='ion-android-done right' ng-click='select_type()' style="padding:0 10px"></i>
        </div>
        <div class='has_top_nav'>
      <ion-list class='goal_list diabetes_type'>
        <ion-item ng-repeat='type in v.diabetes_type'>
          <div class='nitem' ng-class='type.is_checked?"active":""' ng-click='choose_diabetec_type(type)'>
            <img src='./img/radioButton.png' ng-show='!type.is_checked'/>
            <img src='./img/radioButtonSelected.png' ng-show='type.is_checked'/>
            <div class='info'>
              <span>{{ type.name }}<span>
            </div>
          </div>
        </ion-item>
      </ion-list>
      </div>
      <!-- <div class='nav_fixed_button text-center'>
        <a ng-click='go_back()'>
          <img src='img/backButton.png' />
        </a>

        <a ng-click='select_type()'>
          <img src='img/nextButton.png' />
        </a>
      </div> -->
      </div>
    </ion-content>

</ion-view>
