<div class='emergency_num' >
  <div class='user_flow_top top_tab' ng-show='is_top_menu_show'>
    <i class='ion-android-arrow-back left' ng-click='go_back()' ></i>
    <i class='ion-android-done right' ng-click='dahsboard()' style="padding:0 10px"></i>
  </div>
  <div  ng-class='is_top_menu_show?"has_top_nav":""'>
  <ion-list>
    <ion-item ng-repeat='contact in v.contacts'>
      <div class='contact_card' ng-class='contact.is_edit?"edit":""'>
        <div class='cntct_form_elem select_contact' ng-click='contact.is_edit && open_contact_modal(contact)'>
          <span class='place_holder' ng-show='contact.name.length == 0'>Select Contact</span>
          <span class='value' ng-show='contact.name.length != 0'>{{ contact.name }}</span>
        </div>
        <div class='cntct_form_elem relation'>

          <select ng-model='contact.type' ng-disabled='!contact.is_edit'>
            <option value=''>Relation</option>
            <option value='FAMILY'>Family</option>
            <option value='FRIEND'>Friend</option>
            <option value='DOCTOR'>Doctor</option>
          </select>

        </div>
        <div class='row action'>
          <div class='col'>
              <i class='ion-android-checkbox-outline-blank '  ng-show='!contact.is_primary'  ng-click='contact.is_primary = true'></i>
              <i class='ion-android-checkbox-outline ' ng-show='contact.is_primary' ng-click='contact.is_primary = false'></i>
              <span>Set as Primary</span>
          </div>
          <div class='col text-right'>
            <div ng-show='!contact.is_edit'>
              <a class='remove' ng-click='contact.is_edit=true;v.is_overlay=true;' ng-show='!contact.is_edit'>Edit</a>
              <a class='remove' ng-click='remove_contact(contact)' ng-show='!contact.is_edit'>Remove</a>
            </div>
            <div ng-show='contact.is_edit'>
            <a class='remove'  ng-click='update_contact(contact)' ng-show='contact.is_edit'>Save</a>
            <a class='remove' ng-click='contact.is_edit = false' ng-show='contact.is_edit'>Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item ng-show='v.is_add'>
      <div class='contact_card'>
        <div class='cntct_form_elem select_contact' ng-click='open_contact_modal(v.add_contact_data)'>
          <span class='place_holder' ng-show='v.add_contact_data.name.length == 0'>Select Contact</span>
          <span class='value' ng-show='v.add_contact_data.name.length != 0'>{{ v.add_contact_data.name }}</span>
        </div>
        <div class='cntct_form_elem relation'>

          <select ng-model='v.add_contact_data.type'>
            <option value=''>Relation</option>
            <option value='FAMILY'>Family</option>
            <option value='FRIEND'>Friend</option>
            <option value='DOCTOR'>Doctor</option>
          </select>

        </div>
        <div class='row action'>
          <div class='col'>
            <i class='ion-android-checkbox-outline-blank '  ng-show='!v.add_contact_data.is_primary'  ng-click='v.add_contact_data.is_primary = true'></i>
            <i class='ion-android-checkbox-outline ' ng-show='v.add_contact_data.is_primary' ng-click='v.add_contact_data.is_primary = false'></i>
            <span>Set as Primary</span>
          </div>
          <div class='col text-right'>
            <a class='remove' ng-click='add_contact()'>Save</a>
            <a class='remove' ng-click='v.is_add = false'>Cancel</a>
          </div>
        </div>
      </div>

  </ion-list>
  <!-- <div class='emer_overlay' ng-show='v.is_overlay'></div> -->
  <div class='emergency_add_another' ng-show='v.contacts.length > 0 && v.contacts.length < 3 && !v.is_add'>
    <a ng-click='v.is_add = true'>Add Another</a>
  </div>
  <div class='emergency_no_data' ng-show='v.contacts.length == 0 && !v.is_add' style="text-align:center">
    <a ng-click='v.is_add = true' class='theme_button'>Add an emergency contact</a>
    <a ng-click='why_should_i_add()'>(Why Should I add ?)</a>
  </div>
  </div>
