<ion-view>
    <ion-nav-title >
      <h1>In case of emergency whom </h1>
      <h1 style="margin:0;">should we contact?</h1>
    </ion-nav-title>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh user_form bp '>
      <div ng-style='device_height_header' ng-include="'emegency_contact_template.html'">
      </div>
        <!-- <div class='nav_fixed_button text-center'>
          <a ng-click='go_back()'>
            <img src='img/backButton.png' />
          </a>

          <a ng-click='dahsboard()'>
            <img src='img/nextButton.png' />
          </a>
        </div> -->

      </div>
    </ion-content>
</ion-view>
