<div class='main_events' ng-show='v.selected_main_event_id == null'>
  <ion-list>
    <ion-item ng-repeat='evnt in v.events' ng-click='select_event(evnt)'>
      <img src='{{ evnt.icon }}' /><span>{{ evnt.event_name}}</span>
    </ion-item>
  </ion-list>
</div>

<div class='sub_events' ng-show='v.selected_main_event_id != null'>
  <ion-list >
    <ion-item ng-repeat='event in sub_events' ng-click='choose_final_event(event)'>
      <span>{{ event.event_name}}</span>
    </ion-item>
  </ion-list>
</div>
<div class='buttons'>
  <button class='popup_btn' ng-show='v.selected_main_event_id != null' ng-click='v.selected_main_event_id = null'>Back</button>
  <button class='popup_btn' ng-show='v.selected_main_event_id == null' ng-click='close_event_popup()'>Close</button>
</div>
