<ion-view view-title='Feedback'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh' >
      <div ng-style='device_height_header_tab'>
        <ion-item class="data_item">
          <div class='text-area input_text'>
            <textarea placeholder="Write Your Feedback" maxlength="200" ng-model='feedback_data.message'></textarea>
          </div>
        </ion-item>
        <ion-item class="data_item">
          <div class='buttons'>
            <button ng-click='send_feedback()'>Send Feedback</button>
          </div>
        </ion-item>
        <ion-item class="data_item">
          <div class='t_link'>
           <a  ng-click='open_in_app_browser("/faqs")'>Have you gone through our FAQs?</a>
          </div>
        </ion-item>
      </div>
    </ion-content>
</ion-view>
