<div class='image'>
  <a href='javascript:void(0)' ng-click='open_image_picker()'><img src='img/gallery.png' /><span class='sm_text'>Gallery</span></a>
  <a href='javascript:void(0)' ng-click='open_camera_for_image()'><img src='img/camera_upload.png' /><span class='sm_text'>Camera</span></a>
  <a href='javascript:void(0)' ng-click='remove_image()'><img src='img/remove_image.png' /><span class='sm_text'>Remove</span></a>
</div>
<div class='buttons'>
  <button class='popup_btn' ng-click='close_upload_popup()'>Close</button>
</div>
