  <div class='log_form'>
    <ion-item ng-controller="DateTimePickerController">
      <div class='log_form_item'>
        <span class='key'>Date :</span>
        <div class='value'>
          <div class='input_val'>
            <input type='text' placeholder="Date" readonly="" ng-model='v.repeat.popup_date_view' ng-click='open_datepicker()'/>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item ng-controller="DateTimePickerController">
      <div class='log_form_item'>
        <span class='key'>Time :</span>
        <div class='value'>
          <div class='input_val'>
            <input type='text' placeholder="Time" readonly="" ng-model='v.repeat.popup_time_view' ng-click='open_timepicker()'style="letter-spacing: 0px"/>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class='log_form_item'>
        <span class='key'>Notify Me :</span>
        <div class='value'>
          <div class='select_val'>
            <select ng-model='v.doc_sch_input.notify_before' style="font-size: 17px;">
              <option value='Hour_1'>Before 1 hour</option>
              <option value='Hour_2'>Before 2 hour</option>
              <option value=Hour_4>Before 4 hour</option>
            </select>
          </div>
        </div>
      </div>
    </ion-item>
      <div class='buttons  repeat_btn'>
        <button class='popup_btn' ng-click='save_follow_up_popup()'>Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class='popup_btn text-right' ng-click='cancel_follow_up_popup()'>Cancel</button>
      </div>
  </div>
