<ion-view view-title='Log Food'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='showConfirm()'>
      <!-- <a><img src="img/back_button.png"/></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
    <!-- <div class="user_pro" ng-controller='CommonControllerForProfile'>
      <img src='img/user_account.png' ng-show='profile_image == null'/>
      <img src='{{ profile_image }}' ng-show='profile_image != null'/>
    </div>
    <div class="user_pro_name" ng-click='$state.go("user_profile_tab.profile")' ng-controller='CommonControllerForProfile'>
      <span>{{username}}</span>
    </div> -->
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <div class='user_sos' ng-click='$state.go("sos")'></div> -->
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_food()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon'  >
        <div ng-style='device_height_header_tab'>
          <!-- <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="$state.go('main_tabs.log_widget')"></i>
            <span class='title'>Food</span>
            <i class='right' ng-show='!v.is_check_enabled'></i>
            <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_food()' style="padding:0 10px"></i>
          </div> -->
          <div class='log_wid log_wid_2'>
            <ion-list class='log_form'>
              <ion-item>
                <div class='log_form_item search' ng-class='v.search_results.length > 0?"active":""'>
                  <div class='search_form'>
                    <input type='text' placeholder="Search and add your food" ng-model='v.food_search_text' ng-change='search_food()' style="padding-left:10px;"/>
                    <i class='ion-ios-search-strong'></i>
                  </div>
                </div>
              </ion-item>
              <ion-item  ng-show='v.is_searching' style="text-align:center">
                <ion-spinner icon="ios"></ion-spinner>
              </ion-item>
              <ion-item  ng-repeat='item in v.search_results' ng-show='!v.is_searching' ng-click='choose_food(item)'>
                <div class='log_form_item'>
                  <p>{{ item.food_name }} <font style='font-size:10px' ng-show='item.brand_name != undefined'>({{ item.brand_name }})</font></p>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.food_log_input.foods.length > 0'>
                <div class='log_form_item' >
                  <span class='key' ng-repeat='food in v.food_log_input.foods' style="margin-bottom:10px;display:block">{{ food.food_name }}({{ food.serving }})</span>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.food_log_input.foods.length > 0'>
                <div class='log_form_item'>
                  <span class='key'>Meal Type :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.food_log_input.meal_name' ng-change='validate_for_check()'>
                        <option value=''>Select Meal Type</option>
                        <option value='Breakfast'>Breakfast</option>
                        <option value='Lunch'>Lunch</option>
                        <option value='Snacks'>Snacks</option>
                        <option value='Dinner'>Dinner</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Date :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.food_log_input.log_date | format_date:"YYYY-MM-DD":"D MMM,YYYY"' ng-click='open_datepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Time :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Time" readonly="" ng-model='v.food_log_input.log_time_view' ng-click='open_timepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>

            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
