<div class='appreview_popup'>
  <h1>Thanks For Feedback</h1>
  <p>Would you like to rate us on the Google Play Store?</p>
  <div class='text-right'>
    <a hredf='#' ng-click='review_final_popup.close()' class='not_sure'>NOT NOW</a>
    <a hresf='#'  ng-click='final_review_popup_close()' class='sure'>SURE</a>
  </div>
</div>
