<div class='appreview_popup'>
  <h1>Thanks For Feedback</h1>
  <p>Would you like to fill a short feedback survey, so that we can improve your experience.</p>
  <div class='text-right'>
    <a hresf='#' target='_blank' ng-click='review_final_popup.close()' class='not_sure'>NOT NOW</a>
    <a hresf='#'  ng-click='final_review_popup_close()' class='sure'>SURE</a>
  </div>
</div>
