<ion-view view-title='HCN Care Help'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <!-- <a><img src="img/back_button.png"></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon about_static' >
      <div ng-style='device_height_header_tab'>
        <div class="aboutuspage" style="padding:10px;">
          <h1>How to use this app?</h1>
          <p>HCN care is designed for everyone, yes, you read it right, it is for everyone. With simple and practical solutions for people suffering with chronic illness like diabetes, pre-diabetes, hypertension, pre-hypertension, obesity or individuals who want to maintain or take care of their general well being; with HCN Care we make sure that you will always make the right move in taking care of your health.</p>
          <p>Designed for smartphones, tablets and web this application is intended to help individuals suffering with chronic and pre-chronic illness to manage better their health and lifestyle. HCN care helps to find trends in your logged vitals; blood glucose levels, blood pressure, food intake, medication and activities and helps to analyze the data based on your behavior and give you intelligent recommendations.</p>
          <p>With HCN Care you can</p>
          <ul>
            <li>Get access to quick and easy logging (meals, medications, blood glucose values, blood pressure, activity, and more)</li>
            <li>Extend your care towards your loved ones through Med-Social feature</li>
            <li>Personalize your usage for a particular or multiple conditions</li>
            <li>Interactive and Intuitive Dashboards with detailed trends</li>
            <li>Generate Daily, weekly, and monthly analysis of your vitals and share with your doctor through customized Reports</li>
            <li>Organise Health Records for yourself and your loved ones at one place and access and share on the go</li>
            <li>Manage and monitor your daily or frequently occurring symptoms, share with your doctor for quick medical care.</li>
            <li>Research based Insightful knowledge base for you to know in depth about chronic conditions</li>
          </ul>
          <h1>You Goal to use this application?</h1>
          <p>This application can used for managing diabetes, hypertension, weight management and general health which includes pre-diabetes, pre-hypertension and daily health monitoring.</p>
          <p>If you are unaware of your condition, we strongly suggest you to take our assessment for best use of this app for you. Based on your condition the app can be customized and meaningful experience can be provided.</p>
          <p>HCN Care allows you to quickly and easily keep track of everything you need to manage your health condition.</p>
          <ul>
            <li>Quickly and easily track blood glucose, hemoglobin A1c, food, weight and many others</li>
            <li>Ability to add your loved ones to monitor their plan of care</li>
            <li>Generate detailed graphs and reports to share with your Doctor</li>
            <li>Manage and keep track of your symptoms</li>
            <li>Supports International units for glucose and hemoglobin A1c</li>
            <li>Easily keep track of your daily, weekly and monthly average glucose levels</li>
            <li>Set reminders to keep you on track</li>
          </ul>
          <h1>Assessing yourself for a condition?</h1>
          <p>Why is this assessment important to you and to us?; since you are here you are unaware of what might be the possibility or likely chances that you may be facing risks of a chronic disease. As per research and reports 20% of the population is affected with at least one chronic disease like diabetes, hypertension, obesity, mental illness and cancer. Getting succumbed to these diseases depends completely on your lifestyle and in some cases due to heredity.</p>
          <p>However to be sure, we suggest you to take a detailed assessment test for predicting likelihood of one. The assessment is only an indicative measure of your condition which can be predicted by the assessment. For complete and accurate assessment of your health always consult a doctor.</p>
          <h1>Set your target range for diabetes/Hypertension?</h1>
          <p>Good diabetes control implies that the blood glucose throughout the 24 hours, on each day, are at the target levels determined for each individual. In simple terms, the blood glucose levels should be as close to normal as is possible without exposing the patient to a severe attack of hypoglycemia or even to minor recurrent episodes of low blood glucose.</p>
          <p>Besides the blood glucose levels, good control implies that the weight of the person be optimal, the blood pressure and blood lipids ( fats) should be at an acceptable level.</p>
          <p>Importantly, good control also implies the diagnosis of the presence of the long term complications in their early, initial stages.</p>
          <p>All the target levels given below are generalisations and individual targets MUST be established. Laxity may be allowed in elderly patients; certain conditions require a much tighter control, e.g. pregnancy, maculopathy, etc.</p>

          <div class="m_table">
            <table>
              <tr>
                <th>Test</th>
                <th>Normal</th>
                <th>Tolerance</th>
                <th>Poor</th>
              </tr>
              <tr>
                <td>Fasting Blood Glucose (mg/dl)</td>
                <td>80-110</td>
                <td>111-125</td>
                <td>>125</td>
              </tr>
              <tr>
                <td>Post Meal Blood Glucose (2 Hours)(mg/dl)</td>
                <td>120-140</td>
                <td>141-200</td>
                <td>>200</td>
              </tr>
              <tr>
                <td>HbA1c (%)</td>
                <td><6%</td>
                <td>6%-8%</td>
                <td>>8%</td>
              </tr>
              <tr>
                <td>Blood Pressure(mm/Hg)</td>
                <td>120/80</td>
                <td>130/90-140/90</td>
                <td>>140/90</td>
              </tr>
            </table>
          </div>
          <h1>Emergency Contact. Why Should I add?</h1>
          <p>Adding an Emergency contact can help you to contact your friend or family member who can take appropriate action if you become unconscious or incapacitated. This feature will help you out when an unforeseen emergency conditions happen with you. For people with pre-existing medical conditions and allergies, in particular, keeping your emergency contact information close at hand could help save your life!</p>
          <h1>What is the use of logging your vitals?</h1>
          <p>If you find yourself with lingering doubts – even in everyday life – what do you typically do? Many of us turn to pen and paper because writing things down and taking notes is a practical way to organize our thoughts. With HCN Care we make the practical approach simpler to record and manage your vitals. An easy approach and an effective tool to help patients and their caregivers to log observations, keep track of symptoms and monitor progress in the healthcare plan.  Keeping records of your vitals will assist you in asking questions and taking appropriate actions on the deviated behavior.</p>
          <p>Type of information important to monitor</p>
          <ul>
            <li>Your Symptoms</li>
            <li>Your Blood Glucose if you are diabetic or a pre-diabetic</li>
            <li>Your Blood Pressure</li>
            <li>Your medications</li>
            <li>Your Food Intake</li>
            <li>Your Activity</li>
            <li>Your Mood</li>
            <li>Your observations, comments and questions</li>
          </ul>
          <h1>How to Use the Report? For yourself or for someone else</h1>
          <p>Using the Reports users can generate reports which can be saved, shared or send by email. Your Reports helps you to take control of your behavior based on your past, food intake, blood glucose levels, your activity, etc. Intervention by a doctor or a loved one based on your peast behaviour can be implemented regarding your lifestyle.</p>
          <ul>
            <li>Generate - Generates and saves reports on your phone and upload on cloud for easy access.</li>
            <li>Share - Share your data, including the health records with your caregivers through email or social sharing tools</li>
            <li>Organise - Take advantage of a simplistic user interface to organise your reports for future use.</li>
          </ul>
          <h1>Scheduling</h1>
          <p>HCN Care allows individuals to conveniently and securely keep schedule of their appointments and follow up, medicine and refills, scheduling lab tests and activities.</p>
          <p>Select a date and time for a category, the app will confirm and instantly record it within the system. Scheduling a event with benefit as a reminder and gives you notifications and text messages.</p>
          <p>App provides record-keeping capabilities that make it quick and simple to access data associated with a specific event.  </p>
          <p>Even if you have scheduled an event through other means, our system will automatically fetch the data for you so that no important events are missed.</p>
          <h1>SOS Feature?</h1>
          <p>SOS feature in HCN care allows user to send a real-time alert to your emergency contacts directly to respond to the emergency. We strongly recommend to add an emergency contact while using this app. One small step can steer you out in unforeseen circumstances and make help immediately available through friends and family.</p>
          <p>The app will share real-time location with friends and family members using the app and can be accessed on google maps. When a user pushes the SOS button,  they will be connected with their emergency contact over the phone through a call or a sms. The emergency contact would be able to respond real time and can also see the location of the user.</p>
          <h1>Why use PHR? What are the benefits?</h1>
          <p>The more involved you are in monitoring your own health, the better the results – that’s a fact.</p>
          <p>One of the most effective ways to stay engaged and manage ongoing treatment is with a personal health record (PHR).  A PHR is information about your health compiled and maintained by you (not to be confused with an electronic health record or electronic medical record (EHR and EMR, respectively) which are managed by the doctors and hospitals). Personal health records are essentially a comprehensive online health file containing a history of medical conditions and procedures, allergies, medications and immunizations. It keeps a detailed record of everything one could want to know in order to manage their health better.</p>
          <p>Collect and upload all your health information, you have to keep your record current by updating it each time you see a doctor, fill a prescription, have a lab test or go to the hospital. But once everything is up and running, the benefits far outweigh the inconvenience.</p>
          <ul>
            <li>Save money by sharing your reports with the doctor rather than getting some tests done again</li>
            <li>In an emergency, a PHR allows you to quickly give vitals, such as ongoing treatments and conditions, previous surgeries or hospitalizations, medications you take, drug allergies, and how to contact your family members and treating doctors.</li>
            <li>PHR enables decision-making in potential health conditions, treatment options, management of chronic conditions, healthy lifestyle choices, preventive actions, and monitoring the accuracy and security of your health information.</li>
          </ul>
          <h1>What is Med-Social? How does it help you?</h1>
          <p>We know that you always put your loved ones ahead to take care of them rather than yourself as a caregiver. This help is often full-time help by providing emotional or physical support or care to your your parents, your kids or your spouse. Providing care for loved ones in need is an act of kindness, love, and loyalty. And as life expectancies increase, medical treatments advance, and increasing numbers of people live with chronic illness and disabilities, more and more of us will participate in the caregiving process.</p>
          <p>You may be taking care of an aging parent or an unwell spouse. Or perhaps you're caring for your child with an illness. Regardless of your particular circumstances, you're facing a challenging new role.</p>
          <p>The good news is that you don't have to be a health expert in order to be a good caregiver. With HCN care Med-Social feature we provide you with right tools, you can be an effective, loving caregiver without having to sacrifice yourself in the process.</p>
          <p>Med-Social Feature in HCN Care will help you to</p>
          <ul>
            <li>Learn as much as you can about your family member’s illness and about how to be a caregiver.</li>
            <li>Manage and Monitor your loved one through multi-way interacting platform to give support and understand what they are going through.</li>
            <li>Schedule and log medications, food, doctor’s appointment and lab tests with the app and get notifications in real time for both users.</li>
            <li>Keep track of medical records for your loved ones and share them with your family or doctor on the go</li>
            <li>Keep an accurate list of all medications, symptoms and activity status for your loved one for review with the doctor at each visit.</li>
          </ul>
        </div>
      </div>
    </ion-content>
</ion-view>
