<ion-view view-title='Version'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <!-- <a><img src="img/back_button.png"></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon about_static' >
      <div ng-style='device_height_header_tab'>
        <div class="aboutuspage text-center">
          <img src="./img/hcncare_logo.png">
          <h5>Version 1.0.0</h5>
        </div>
      </div>
    </ion-content>
</ion-view>
