<ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleDrawer()"></button>
</ion-nav-buttons>

<ion-nav-buttons side="right">
  <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleDrawer()"></button>
<ion-nav-buttons>
