  <ion-tabs class="tabs-calm tabs-top hcn_top_tabs">


  <ion-tab title="DASHBOARD" href='#/main_tabs/home_widget_tab/dashboard' >
    <ion-nav-view name='home_dash_widget'></ion-nav-view>
  </ion-tab>

  <ion-tab title="TIMELINE"  href='#/main_tabs/home_widget_tab/timeline'>
    <ion-nav-view name='home_timeline_widget'></ion-nav-view>
  </ion-tab>

  <ion-tab title="SCHEDULE" href='#/main_tabs/home_widget_tab/schedule_list'>
    <ion-nav-view name='home_reminder_widget'></ion-nav-view>
  </ion-tab>

</ion-tabs>
