<ion-view title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon dashboard bg_wh_gray' >
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="fetch_analytics()" style="margin-top:50px;">
      </ion-refresher>
        <div ng-style='device_height_header_tab_top_tab2' >
          <div class='dashcontainer' ng-show='analytics == null' style="text-align:center;margin-top:50px;">
            <ion-spinner icon="ios"></ion-spinner> &nbsp; Loading....
          </div>
          <!-- <div class='dashcotainer' ng-show='analytics != null' -->
          <div class='dashcotainer' ng-show='analytics != null'>
            <!-- <div ng-include="'card_schedule.html'"></div> -->

            <div ng-repeat='item in analytics'>
              <div ng-include="'card_a1c.html'" ng-if='item.card_name == "CARD_A1C"'></div>
              <div ng-include="'card_schedule.html'" ng-if='item.card_name == "CARD_SCHEDULE"'></div>
              <div ng-include="'card_tip.html'" ng-if='item.card_name == "TIP"'></div>
              <div ng-include="'card_activity.html'" ng-if='item.card_name == "CARD_ACTIVITY"'></div>
              <!-- <div ng-include="'card_activity.html'" ng-if='item.card_name == "CARD_ACTIVITY"'></div> -->
              <div ng-include="'card_medication.html'" ng-if='item.card_name == "CARD_MEDICATION"'></div>
              <div ng-include="'card_weight.html'" ng-if='item.card_name == "CARD_WEIGHT"'></div>
              <div ng-include="'card_symptoms.html'" ng-if='item.card_name == "CARD_SYMPTOMS"'></div>
              <div ng-include="'card_intake.html'" ng-if='item.card_name == "CARD_INTAKE"'></div>
              <div ng-include="'card_bp.html'" ng-if='item.card_name == "CARD_BP"'></div>
              <div ng-include="'card_bgl.html'" ng-if='item.card_name == "BGL_CARD"'></div>
              <div ng-include="'card_current_health.html'" ng-if='item.card_name == "HEALTH_STATE_CARD"'></div>
              <div ng-include="'card_tip_of_day.html'" ng-if='false'></div>
              <div ng-include="'card_blog.html'" ng-show='item.card_name == "INSIGHT_CARD"'></div>
              <div ng-include="'card_help_app_use.html'" ng-if='item.card_name == "APP_HELP"'></div>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
