<ion-view title='Add Reminder'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
  <ion-content scroll='true' direction='y' class='cred_screen bg_wh ' >
      <div ng-style='device_height_header_tab'>
        <ion-list class='schedule_list'>
          <ion-item ng-click='$state.go("main_tabs.schedule_medication")' style="padding-top: 10px;">
            <div class='sch_item'>
              <img src='./img/sch_medic.png'/>
              <div class='info'>
                <span>Medication</span>
              </div>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("main_tabs.schedule_doctor")'>
            <div class='sch_item'>
              <img src='./img/sch_doct_appo.png'/>
              <div class='info'>
                <span>Doctor Appointment</span>
              </div>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("main_tabs.schedule_lab")'>
            <div class='sch_item' >
              <img src='./img/sch_lab_test.png' />
              <div class='info'>
                <span>Lab Test</span>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <div class='sch_item' ng-click='$state.go("main_tabs.schedule_walk_jog")'>
              <img src='./img/sch_walk_jog.png' />
              <div class='info'>
                <span>Walking/Jogging</span>
              </div>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("main_tabs.schedule_activity")'>
            <div class='sch_item' >
              <img src='./img/sch_activity.png' />
              <div class='info'>
                <span>Activity</span>
              </div>
            </div>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
