<ion-view title=''>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$state.go("med_dashboard")'>
      <a><img src="img/back_button.png"/></a>
    </div>
    <div class="user_pro">
      <img src='img/user_account.png' ng-show='profile_image == null'/>
      <img src='{{ profile_image }}' ng-show='profile_image != null'/>
    </div>
    <div class="user_pro_name" ng-click='$state.go("user_profile_tab.profile")'>
      <span>{{username}}</span>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class='user_sos' ng-click='$state.go("sos")'></div>
    <div class='check_user'  ng-click="openPopover($event)" ng-controller='CommonControllerForProfile'>
      <i class='ion-android-more-vertical'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon dashboard' >
        <div ng-style='device_height_header_tab_top_tab'>
          <ion-list>
            <div ng-repeat='item in analytics'>
              <ion-item ng-show='item.card_name == "BGL_BIG"'>
                <div class='dash_card bgl_big_card'>
                  <div class='card_header'>Blood Glucose Level</div>
                  <div class='card_body'>
                    <span class='title_main'>Average of Last {{ item.bgl.total }} Log</span>
                    <div class='row'>
                      <div class='col text-center'>
                        <div class='bgl_block'>
                          <span class='value text_green'>{{ item.bgl.fasting }}</span>
                          <span class='unit' ng-show='item.bgl.unit == "mg_dl"'>mg/dl</span>
                          <span class='unit' ng-show='item.bgl.unit != "mg_dl"'>mmol/l</span>
                          <span class='short_descp text_green'>Fasting</span>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='bgl_block'>
                          <span class='value text_orange'>{{ item.bgl.post_fasting }}</span>
                          <span class='unit' ng-show='item.bgl.unit == "mg_dl"'>mg/dl</span>
                          <span class='unit' ng-show='item.bgl.unit != "mg_dl"'>mmol/l</span>
                          <span class='short_descp text_orange'>Post Meal</span>
                        </div>
                      </div>
                    </div>
                    <div class='sep'></div>
                    <div class='row no_pad'>
                      <div class='col'>
                        <div class='activity_block' ng-show='item.activity.total_actitivities > 0'>
                          <div class='sec'>
                            <div class='key'>Activities <font>(Today)</font></div>
                            <div class='value_sec'>
                              <span class='value text_purple'>{{ item.activity.total_actitivities }}</span>
                            </div>
                          </div>
                          <div class='sec'>
                            <div class='key'>Total Time</font></div>
                            <div class='value_sec'>
                              <span class='value text_purple' ng-show='item.activity.total_time >= 3600'>{{ item.activity.total_time | duration_format:"h" }} </span>
                              <span class='unit' ng-show='item.activity.total_time >= 3600'>h</span>
                              <span class='value text_purple'>{{ item.activity.total_time | duration_format:"m"}}</span>
                              <span class='unit'>m</span>
                            </div>
                          </div>
                          <div class='sec'>
                            <div class='key'>Cals Spent</div>
                            <div class='value_sec'>
                              <span class='value text_green2'>{{ item.activity.cal_spent }}</span>
                              <span class='unit'>cals</span>
                            </div>
                          </div>
                        </div>
                        <div class='log_block' ng-show='item.activity.total_actitivities == 0'>
                          <p>No Activity Logged <br/>For Today</p>
                          <img src='img/log_activities.png'/>
                          <span class='log_txt'>Log</span>
                        </div>
                      </div>
                      <div class='col'>
                        <div class='intake_block' ng-show='item.intake.total_cals != null'>
                          <div class='sec'>
                            <div class='key'>Carbs Intake <font>(Today)</font></div>
                            <div class='value_sec'>
                              <span class='value text_green3'>{{ item.intake.carbs  | to_int }}</span>
                              <span class='unit'>g</span>
                              <span class='value'>/</span>
                              <span class='value'>{{ item.intake.req_carbs  | to_int }}</span>
                              <span class='unit'>g</span>
                            </div>
                          </div>
                          <div class='sec'>
                            <div class='key'>Total Cals Consumed</div>
                            <div class='value_sec'>
                              <span class='value text_red'>{{ item.intake.total_cals  | to_int }}</span>
                              <span class='value'>/</span>
                              <span class='value'>{{ item.intake.req_total_cals | to_int  }}</span>
                            </div>
                          </div>
                        </div>
                        <div class='log_block' ng-show='item.intake.total_cals == null'>
                          <p>No Food Logged <br/>For Today</p>
                          <img src='img/log_food.png'/>
                          <span class='log_txt'>Log</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='item.card_name == "BP_BIG"'>
                <div class='dash_card bp_big_card'>
                  <div class='card_header'>Blood Pressure</div>
                  <div class='card_body'>
                    <span class='title_main'>Average of Last {{ item.bp.total }} Log</span>
                    <div class='row'>
                      <div class='col text-center'>
                        <div class='bgl_block'>
                          <span class='value text_green'>{{ item.bp.distolic | to_int }}</span>
                          <span class='unit'>mmHg</span>
                          <span class='short_descp text_green'>Diastolic (Low)</span>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='bgl_block'>
                          <span class='value text_orange'>{{ item.bp.systolic | to_int }}</span>
                          <span class='unit'>mmHg</span>
                          <span class='short_descp text_orange'>Systolic (Low)</span>
                        </div>
                      </div>
                    </div>
                    <div class='sep'></div>
                    <div class='row no_pad'>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Current</div>
                          <div class='val_section'>
                            <span class='val text_theme'>{{ item.weight.current | to_int }}</span>
                            <span class='unit' ng-show='item.weight.unit == "KG"'>Kgs</span>
                            <span class='unit' ng-show='item.weight.unit == "LBS"'>Lbs</span>
                          </div>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Target</div>
                          <div class='val_section'>
                            <span class='val'>{{ item.weight.target | to_int }}</span>
                            <span class='unit' ng-show='item.weight.unit == "KG"'>Kgs</span>
                            <span class='unit' ng-show='item.weight.unit == "LBS"'>Lbs</span>
                          </div>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Last Log</div>
                          <div class='val_section'>
                            <span class='val'>{{ item.weight.last_loggen_on | ago }}</span>
                            <span class='unit position_top'>Days Ago</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- div class='row no_pad'>
                      <div class='col-75 text-center'>
                        <div class='weight_val'>
                          <div class='key'>No Current Weight Logged</div>
                          <div class='val_section'>
                            <img src='img/log_weight.png' />
                          </div>
                        </div>
                      </div>

                      <div class='col-25 text-center'>
                        <div class='weight_val'>
                          <div class='key'>Last Log</div>
                          <div class='val_section'>
                            <span class='val'>7</span>
                            <span class='unit position_top'>Days Ago</span>
                          </div>
                        </div>
                      </div>
                    </div -->
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='item.card_name == "GENERAL_HEALTH_CARD"'>
                <div class='row no_pad generatl_health_card'>
                  <div class='col'>
                    <div class='dash_card ' style="padding-right:5px;">
                      <div class='card_header'>Activity (Today)</div>
                      <div class='card_body'>
                        <div class='activity_block'>
                          <div class='sec'>
                            <div class='key'>Activities <font>(Today)</font></div>
                            <div class='value_sec'>
                              <span class='value text_purple'>{{ item.activity.activity.total_actitivities }}</span>
                            </div>
                          </div>
                          <div class='sec'>
                            <div class='key'>Total Time</font></div>
                            <div class='value_sec'>
                              <span class='value text_purple' ng-show='item.activity.total_time >= 3600'>{{ item.activity.total_time | duration_format:"h" }} </span>
                              <span class='unit' ng-show='item.activity.total_time >= 3600'>h</span>
                              <span class='value text_purple'>{{ item.activity.activity.total_time | duration_format:"m"}}</span>
                              <span class='unit'>m</span>
                            </div>
                          </div>
                          <div class='sec'>
                            <div class='key'>Cals Spen</div>
                            <div class='value_sec'>
                              <span class='value text_green2'>{{ item.activity.activity.cal_spent }}</span>
                              <span class='unit'>cals</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='col' style="padding-left:5px;">
                    <div class='dash_card' >
                      <div class='card_header'>Food Intake (Today)</div>
                      <div class='card_body'>
                        <div class='intake_block'>
                          <div class='sec'>
                            <div class='key'>Carbs Intake <font>(Today)</font></div>
                            <div class='value_sec'>
                              <span class='value text_green3'>{{ item.intake.intake.carbs  | to_int }}</span>
                              <span class='unit'>g</span>
                              <span class='value'>/</span>
                              <span class='value'>{{ item.intake.intake.req_carbs  | to_int }}</span>
                              <span class='unit'>g</span>
                            </div>
                          </div>
                          <div class='sec'>
                            <div class='key'>Total Cals Consumed</div>
                            <div class='value_sec'>
                              <span class='value text_red'>{{ item.intake.intake.total_cals  | to_int }}</span>
                              <span class='value'>/</span>
                              <span class='value'>{{ item.intake.intake.req_total_cals | to_int  }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='item.card_name == "LOG_CARD"'>
                <div class='row no_pad'>
                  <div class='col' style="padding-right:5px;">
                    <div class='dash_card log_card left'>
                      <div class='card_header'>Log Blood Pressure</div>
                      <div class='card_body'>
                        <div class='log_label'>
                          <span class='text'>Last Log</span>
                          <span class='val'>{{ item.LOG_CARD.BP_CARD.bp_last_logged | ago }}</span>
                          <span class='text'>days ago</span>
                        </div>
                        <img src='img/log_bp.png' />
                      </div>
                    </div>
                  </div>
                  <div class='col' style="padding-left:5px;">
                    <div class='dash_card log_card right'>
                      <div class='card_header'>Blood Glucose Level</div>
                      <div class='card_body'>
                        <div class='log_label'>
                          <span class='text'>Last Log</span>
                          <span class='val'>{{ item.LOG_CARD.BGL_CARD.bgl_last_logged | ago }}</span>
                          <span class='text'>days ago</span>
                        </div>
                        <img src='img/log_bgl.png' />
                      </div>
                    </div>
                  </div>
                </div>

                <div class='row no_pad'>
                  <div class='col' style="padding-right:5px;">
                    <div class='dash_card log_card left'>
                      <div class='card_header'>Log Symptoms</div>
                      <div class='card_body'>
                        <div class='log_label'>
                          <span class='text'>Last Log</span>
                          <span class='val'>{{ item.LOG_CARD.SYMPTOM_CARD.symptom_last_logged | ago }}</span>
                          <span class='text'>days ago</span>
                        </div>
                        <img src='img/log_symptoms.png' />
                      </div>
                    </div>
                  </div>
                  <div class='col' style="padding-left:5px;">
                    <div class='dash_card log_card right'>
                      <div class='card_header'>Log Food</div>
                      <div class='card_body'>
                        <div class='log_label'>
                          <span class='text'>Last Log</span>
                          <span class='val'>{{ item.LOG_CARD.FOOD_CARD.food_last_logged | ago }}</span>
                          <span class='text'>days ago</span>
                        </div>
                        <img src='img/log_food.png' />
                      </div>
                    </div>
                  </div>
                </div>

                <div class='row no_pad'>
                  <div class='col' style="padding-right:5px;">
                    <div class='dash_card log_card left'>
                      <div class='card_header'>Log Medication</div>
                      <div class='card_body'>
                        <div class='log_label'>
                          <span class='text'>Last Log</span>
                          <span class='val'>{{ item.LOG_CARD.MEDICATION_CARD.medicine_last_logged | ago }}</span>
                          <span class='text'>days ago</span>
                        </div>
                        <img src='img/log_medication.png' />
                      </div>
                    </div>
                  </div>
                  <div class='col' style="padding-left:5px;">
                    <div class='dash_card log_card right'>
                      <div class='card_header'>Log Activity</div>
                      <div class='card_body'>
                        <div class='log_label'>
                          <span class='text'>Last Log</span>
                          <span class='val'>{{ item.LOG_CARD.ACTIVITY_CARD.activity_last_logged | ago }}</span>
                          <span class='text'>days ago</span>
                        </div>
                        <img src='img/log_activities.png' />
                      </div>
                    </div>
                  </div>
                </div>

                <div class='row no_pad'>
                  <div class='col' style="padding-right:5px;">
                    <div class='dash_card log_card left'>
                      <div class='card_header'>Log Weight</div>
                      <div class='card_body'>
                        <div class='log_label'>
                          <span class='text'>Last Log</span>
                          <span class='val'>{{ item.LOG_CARD.WEIGHT_CARD.weight_last_logged | ago }}</span>
                          <span class='text'>days ago</span>
                        </div>
                        <img src='img/log_weight.png' />
                      </div>
                    </div>
                  </div>
                  <div class='col' style="padding-left:5px;">
                    <div class='dash_card log_card right'>
                      <div class='card_header'>Log A1c</div>
                      <div class='card_body'>
                        <div class='log_label'>
                          <span class='text'>Last Log</span>
                          <span class='val'>{{ item.LOG_CARD.A1C_CARD.a1c_last_logged | ago }}</span>
                          <span class='text'>days ago</span>
                        </div>
                        <img src='img/log_a1c.png' />
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='item.card_name == "WEIGHT_FULL_HORIZONTAL"'>
                <div class='dash_card weight_big_card'>
                  <div class='card_header'>Weight</div>
                  <div class='card_body'>
                    <div class='row no_pad'>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Current</div>
                          <div class='val_section'>
                            <span class='val text_theme'>{{ item.weight.current | to_int }}</span>
                            <span class='unit' ng-show='item.weight.unit == "KG"'>Kgs</span>
                            <span class='unit' ng-show='item.weight.unit == "LBS"'>Lbs</span>
                          </div>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Target</div>
                          <div class='val_section'>
                            <span class='val'>{{ item.weight.target | to_int }}</span>
                            <span class='unit' ng-show='item.weight.unit == "KG"'>Kgs</span>
                            <span class='unit' ng-show='item.weight.unit == "LBS"'>Lbs</span>
                          </div>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Last Log</div>
                          <div class='val_section'>
                            <span class='val'>{{ item.weight.last_loggen_on | ago }}</span>
                            <span class='unit position_top'>Days Ago</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='item.card_name == "ACTIVITY_FULL_HORIZONTAL"'>
                <div class='dash_card weight_big_card'>
                  <div class='card_header'>Activity (Today)</div>
                  <div class='card_body'>
                    <div class='row no_pad'>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Activities</div>
                          <div class='val_section'>
                            <span class='val text_purple'>{{ item.activity.total_actitivities }}</span>
                          </div>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Total Time</div>
                          <div class='val_section'>
                            <span class='val text_purple' ng-show='item.activity.total_time >= 3600 '>{{ item.activity.total_time | duration_format:"h" }}</span>
                            <span class='unit' ng-show='item.activity.total_time >= 3600 '>h</span>
                            <span class='val text_purple'>{{ item.activity.total_time | duration_format:"m" }}</span>
                            <span class='unit'>m</span>
                          </div>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Cals Spent</div>
                          <div class='val_section'>
                            <span class='val text_green'>{{ item.activity.cal_spent }}</span>
                            <span class='unit '>Cals</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='item.card_name == "INTAKE_FULL_HORIZONTAL"'>
                <div class='dash_card weight_big_card'>
                  <div class='card_header'>Food Intake (Today)</div>
                  <div class='card_body'>
                    <div class='row no_pad'>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Carbs</div>
                          <div class='val_section'>
                            <span class='val text_green2'>{{ item.intake.carbs  | to_int }}</span>
                            <span class='unit'>g</span>
                          </div>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Fat</div>
                          <div class='val_section'>
                            <span class='val text_orange'>{{ item.intake.fat  | to_int }}</span>
                            <span class='unit'>g</span>
                          </div>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Protein</div>
                          <div class='val_section'>
                            <span class='val text_theme'>{{ item.intake.protien  | to_int }}</span>
                            <span class='unit'>g</span>
                          </div>
                        </div>
                      </div>
                      <div class='col text-center'>
                        <div class='weight_val'>
                          <div class='key'>Total Cals</div>
                          <div class='val_section'>
                            <span class='val'>{{ item.intake.total_cals  | to_int }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </div>
          </ion-list>
        </div>
    </ion-content>
</ion-view>
