<ion-view title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon bg_wh_gray' >
        <div ng-style='device_height_header_tab_top_tab'>
          <ion-list class='timeline_list'>
            <ion-item>
              <div class='timeline'>
                <img src='./img/timeline_bgl.png' />
                <div class='info'>
                  <div>Blood Glucose Level</div>
                  <div class='progress orange'>
                    <label class='prg_lbl'><strong>{{ bgl_data.qty }}%</strong>
                      <font ng-show='bgl_data.state == "NOT_IN_RANGE"'>not in range</font>
                      <font ng-show='bgl_data.state == "IN_RANGE"'>in range</font>
                    </label>
                    <div class='prg_bar'>
                      <div class='prg_width' style="width:{{ bgl_data.qty }} %"></div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item >
              <div class='timeline'>
                <img src='./img/timeline_food.png' />
                <div class='info'>
                  <div>Food</div>
                  <div class='progress orange'>
                    <label class='prg_lbl'>Average calorie intake last {{ food_data.days }} days:<strong>{{ food_data.avg_calories }}</strong></label>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item>
              <div class='timeline'>
                <img src='./img/timeline_bp.png' />
                <div class='info'>
                  <div>Blood Pressure</div>
                  <div class='progress green'>
                    <label class='prg_lbl'><strong>{{ bp_data.qty }}%</strong>
                      <font ng-show='bp_data.state == "NOT_IN_RANGE"'>not in range</font>
                      <font ng-show='bp_data.state == "IN_RANGE"'>in range</font>
                    </label>
                    <div class='prg_bar'>
                      <div class='prg_width' style="width:{{ bp_data.qty }}%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item>
              <div class='timeline'>
                <img src='./img/timeline_symptoms.png' />
                <div class='info'>
                  <div>Most Occuring Symptoms</div>
                  <div class='progress text_blue'>
                    <label class='prg_lbl'><font ng-repeat='item in symptom_data'>{{ item.symptom_name}} ({{ item.number }}) </font></label>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item>
              <div class='timeline'>
                <img src='./img/timeline_a1c.png' />
                <div class='info'>
                  <div>A1c</div>
                  <div class='progress text_purple'>
                    <label class='prg_lbl' ng-show='a1c_data.log_count > 0'><strong>{{ a1c_data.average }}%</strong> Average,<strong>{{ a1c_data.log_count }}</strong> time logged</label>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item>
              <div class='timeline'>
                <img src='./img/timeline_medication.png' />
                <div class='info'>
                  <div>Medicine</div>
                  <div class='progress text_orange'>
                    <label class='prg_lbl'><font ng-repeat='item in medicine_data'>{{ item.medicine_name }} ({{ item.number }} times) </font></label>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item>
              <div class='timeline'>
                <img src='./img/timeline_activity.png' />
                <div class='info'>
                  <div>Activity</div>
                  <div class='progress text_purple'>
                    <label class='prg_lbl'><font ng-repeat='item in activity_data'>{{ item.activity_name}} ({{ item.number}} hours) </font></label>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item>
              <div class='timeline'>
                <img src='./img/timeline_weight.png' />
                <div class='info'>
                  <div>Weight</div>
                  <div class='progress text_purple'>
                    <label class='prg_lbl'>{{ weight_data.away}} kgs away from target</label>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div>
    </ion-content>
</ion-view>
