<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon'>
      <div ng-style='device_height_header_tab'>
        <ion-list>
          <ion-item class="insight_blog">
            <ul>
              <li class="row" ng-click="goto_insights_card(2)">
                <div class="left">
                  <img src="./img/insights_icons/blog_insight.png">
                </div>
                <div class="right">
                  <h1 class="card_text_lightgreen">Diet Management</h1>
                  <h3 class="card_text_lightgreen" ng-show='false'>7 Insights</h3>
                </div>
              </li>
              <li class="row" ng-click="goto_insights_card(3)">
                <div class="left">
                  <img src="./img/insights_icons/blog_diabet.png">
                </div>
                <div class="right">
                  <h1 class="card_text_orange">Diabetes Management</h1>
                  <h3 class="card_text_orange" ng-show='false'>7 Insights</h3>
                </div>
              </li>
              <li class="row" ng-click="goto_insights_card(4)">
                <div class="left">
                  <img src="./img/insights_icons/blog_hypertension.png">
                </div>
                <div class="right">
                  <h1 class="card_text_green">Hypertension</h1>
                  <h3 class="card_text_green" ng-show='false'>7 Insights</h3>
                </div>
              </li>
              <li class="row" ng-click="goto_insights_card(5)">
                <div class="left">
                  <img src="./img/insights_icons/blog_weight.png">
                </div>
                <div class="right">
                  <h1 class="card_text_skyblue">Weight Management</h1>
                  <h3 class="card_text_skyblue" ng-show='false'>7 Insights</h3>
                </div>
              </li>
              <li class="row" ng-click="goto_insights_card(6)" style="margin-bottom:20px;">
                <div class="left">
                  <img src="./img/insights_icons/blog_health.png">
                </div>
                <div class="right">
                  <h1 class="card_text_orange">General Health</h1>
                  <h3 class="card_text_orange" ng-show='false'>7 Insights</h3>
                </div>
              </li>
            </ul>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
