<ion-view view-title='Blogs'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon'>
      <div ng-style='device_height_header_tab'>
        <ion-list>
          <ion-item class="insight_blog_cards" ng-repeat='blog in blogs'>
            <div class="card blog-card" ng-click='goto_browser(blog.link)'>
              <div>
                <h1>{{ blog.title.rendered }}</h1>
                <h3><i class='ion-ios-clock-outline'></i>{{ blog.date | symptom_date_format}}</h3>
              </div>
              <div class="image" ng-show='blog.media_url != undefined && blog.media_url != null'>
                <!-- {{ blog.media_url}} -->
                <img src="{{blog.media_url}}" >
              </div>
            </div>
          </ion-item>
          <ion-item class="no_data" ng-show='blogs.lenght <= 0'>
            <span>No blogs found</span>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
