<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$state.go("med_dashboard")'>
      <a><img src="img/back_button.png"/></a>
    </div>
    <div class="user_pro" ng-controller='CommonControllerForProfile'>
      <img src='img/user_account.png' ng-show='profile_image == null'/>
      <img src='{{ profile_image }}' ng-show='profile_image != null'/>
    </div>
    <div class="user_pro_name" ng-click='$state.go("user_profile_tab.profile")' ng-controller='CommonControllerForProfile'>
      <span>{{username}}</span>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class='user_sos' ng-click='$state.go("sos")'></div>
    <div class='check_user'  ng-click="openPopover($event)" ng-controller='CommonControllerForProfile'>
      <i class='ion-android-more-vertical'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon'style="margin-top:8px;" >
        <div ng-style='device_height_header_tab_top'>
          <div class='log_nav top_tab'>
            <i class='ion-android-arrow-back left' ng-click="go_back()"></i>
            <!-- <span class='title'>User Lifestyle</span> -->
            <i class='ion-android-done right' ng-click='update_lifestyle_info()' style="padding:0 10px"></i>
          </div>
          <div class='log_wid'>
            <ion-list class='log_form'>
              <ion-item>
                <div class='form-item'>
                  <img src='img/name.png'>
                  <div class='elem'>
                    <span class='key'>Alergies :</span>
                    <span class='value'>
                      <input type='text' maxlength="30" placeholder="Type Here" ng-model='v.user_life_style.alergies'/>
                      <font class='val_type text'></font>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class='form-item' ng-class='v.user_life_style.smoking!="NEVER"?"gray_border":""'>
                  <img src='img/smoking.png'>
                  <div class='elem'>
                    <span class='key'>Smoking :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.smoking' ng-change='validate_for_check()'>
                          <option value='NEVER'>Never</option>
                          <option value='DAILY'>Daily</option>
                          <option value='ALTERNATE_DAY'>Alternate Day</option>
                          <option value='WEEKENDS'>Weekends</option>
                          <option value='OCCASSIONALLY'>Occasionally</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='v.user_life_style.smoking != "NEVER"'>
                <div class='form-item'>
                  <img src='img/name.png' style="visibility:hidden">
                  <div class='elem'>
                    <span class='key'>Frequency :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.smoking_freq' ng-change='validate_for_check()'>
                          <option value='1_TO_2'>1 to 2</option>
                          <option value='3_TO_5'>3 to 5</option>
                          <option value='6_TO_10'>6 to 10</option>
                          <option value='GT_10'> >10</option>
                          <option value='0'>0</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>


              <ion-item>
                <div class='form-item ' ng-class='v.user_life_style.driking!="NEVER"?"gray_border":""'>
                  <img src='img/drinking.png'>
                  <div class='elem'>
                    <span class='key'>Drinking :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.driking' ng-change='validate_for_check()'>
                          <option value='NEVER'>Never</option>
                          <option value='DAILY'>Daily</option>
                          <option value='ALTERNATE_DAY'>Alternate Day</option>
                          <option value='WEEKENDS'>Weekends</option>
                          <option value='OCCASSIONALLY'>Occasionally</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='v.user_life_style.driking != "NEVER"'>
                <div class='form-item'>
                  <img src='img/name.png' style="visibility:hidden">
                  <div class='elem'>
                    <span class='key'>Frequency :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.drinking_freq' ng-change='validate_for_check()'>
                          <option value='60 ML'>60 Ml</option>
                          <option value='120 ML'>120 ML</option>
                          <option value='180 ML'>180 ML</option>
                          <option value='FISHY'> Drink Like Fish</option>
                          <option value='0'>0</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>


              <ion-item>
                <div class='form-item' ng-class='v.user_life_style.tabacco!="NEVER"?"gray_border":""'>
                  <img src='img/drinking.png'>
                  <div class='elem'>
                    <span class='key'>Tabacco :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.tabacco' ng-change='validate_for_check()'>
                          <option value='NEVER'>Never</option>
                          <option value='DAILY'>Daily</option>
                          <option value='ALTERNATE_DAY'>Alternate Day</option>
                          <option value='WEEKENDS'>Weekends</option>
                          <option value='OCCASSIONALLY'>Occasionally</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='v.user_life_style.tabacco != "NEVER"'>
                <div class='form-item'>
                  <img src='img/name.png' style="visibility:hidden">
                  <div class='elem'>
                    <span class='key'>Frequency :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.tabacco_freq' ng-change='validate_for_check()'>
                          <option value='1_OR_2'>1-2</option>
                          <option value='2_OR_3'>2-3</option>
                          <option value='3_OR_4'>3-4</option>
                          <option value='GT_5'> > 5</option>
                          <option value='0'>0</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>


              <ion-item>
                <div class='form-item ' ng-class='v.user_life_style.excerise!="NEVER"?"gray_border":""'>
                  <img src='img/exercise.png'>
                  <div class='elem'>
                    <span class='key'>Exercise :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.excerise' ng-change='validate_for_check()'>
                          <option value='NEVER'>Never</option>
                          <option value='DAILY'>Daily</option>
                          <option value='ALTERNATE_DAY'>Alternate Day</option>
                          <option value='WEEKENDS'>Weekends</option>
                          <option value='ONCE_IN_MONTH'>Once in month</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='v.user_life_style.excerise != "NEVER"'>
                <div class='form-item' >
                  <img src='img/name.png' style="visibility:hidden">
                  <div class='elem'>
                    <span class='key'>Frequency :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.excerise_freq' ng-change='validate_for_check()'>
                          <option value='30Min'>30 Min.</option>
                          <option value='30Min_1Hour'>30 Min - 1 Hour</option>
                          <option value='1Hour_2Hour'>1 Hour - 2 Hour</option>
                          <option value='GT_2HOUR'> > 2 Hour</option>
                          <option value='0'>0</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>


              <ion-item>
                <div class='form-item' ng-class='v.user_life_style.job_type!="NEVER"?"gray_border":""'>
                  <img src='img/jobtype.png'>
                  <div class='elem'>
                    <span class='key'>Job Type :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.job_type' ng-change='validate_for_check()'>
                          <option value='VERY_STRESSFULL'>Very Stressful</option>
                          <option value='QUITE_STRESSFULL'>Quite Stressful</option>
                          <option value='SOMETIMES'>Stressful Sometimes</option>
                          <option value='Rarely'>Rarely stressful</option>
                          <option value='NEVER'>No stress</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='v.user_life_style.job_type != "NEVER"'>
                <div class='form-item' >
                  <img src='img/name.png' style="visibility:hidden">
                  <div class='elem'>
                    <span class='key'>Travelling? :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.job_travel' ng-change='validate_for_check()'>
                          <option value='ALL_TIME'>All Time</option>
                          <option value='TWICE_A_WEEK'>Twice a Week</option>
                          <option value='ONCE_A_WEEK'>Once a Week</option>
                          <option value='ONCE_6_MONTH'>Once in 6 Month</option>
                          <option value='RARELY'>Rarely</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>


              <ion-item>
                <div class='form-item' ng-class='v.user_life_style.eating_habit!="NEVER"?"gray_border":""'>
                  <img src='img/eatinghabbit.png'>
                  <div class='elem'>
                    <span class='key'>Eating Habits :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.eating_habit' ng-change='validate_for_check()'>
                          <option value='MOSTLY_JUNK'>Mostly Junk</option>
                          <option value='MIX_OF_HEALTHY_JUNK'>Mix of helathy and Junk</option>
                          <option value='MOSTLY_HEALTHY'>Mostly Helathy</option>
                          <option value='DONT_KNOW'>I don't know</option>
                          <option value='NEVER'>Never</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='v.user_life_style.eating_habit != "NEVER"'>
                <div class='form-item'>
                  <img src='img/name.png' style="visibility:hidden">
                  <div class='elem'>
                    <span class='key'>Frequency :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.eating_habit_freq' ng-change='validate_for_check()'>
                          <option value="">Select</option>
                          <option value='EAT_OUTSIDE_EVERYDAY'>Eat Outside Everyday</option>
                          <option value='EAT_OUTSIDE_ALTERNATE_DAY'>Eat Outside Alternate Day</option>
                          <option value='EAT_OUTSIDE_ONCE_2WEEK'>Eat Outside once in 2 Weeks</option>
                          <option value='EAT_OUTSIDE_ONCE_AMONTH'>Eat Outside once in Month</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class='form-item' ng-class='v.user_life_style.last_travel!=""?"gray_border":""'>
                  <img src='img/lasttravel.png'>
                  <div class='elem'>
                    <span class='key'>Last Traveled :</span>
                    <span class='value'>
                      <div class='select_val'>
                        <select ng-model='v.user_life_style.last_travel' ng-change='validate_for_check()'>
                          <option value=''>Select</option>
                          <option value='LAST_15_DAYS'>Last 15 Days</option>
                          <option value='LAST_MONTH'>Last Month</option>
                          <option value='LAST_6_10_MONTHS'>Last 3 to 6 Months</option>
                          <option value='Last_Year'>Last Year</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item ng-show='v.user_life_style.last_travel != ""'>
                <div class='form-item'>
                  <img src='img/name.png' style="visibility:hidden">
                  <div class='elem'>
                    <span class='key'>Where :</span>
                    <span class='value'>
                        <input type='text' maxlength="30" placeholder="Type Here" ng-model='v.user_life_style.where_loc'/>
                        <font class='val_type text'></font>
                    </span>
                  </div>
                </div>
              </ion-item>

            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
