<ion-tabs class="tabs-calm tabs-top hcn_top_tabs">

  <ion-tab title="LOG" href='#/main_tabs/log_list_widget_tab/log_widget'>
    <ion-nav-view name='log_list_widget'></ion-nav-view>
  </ion-tab>

</ion-tabs>
