<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon'>
      <div ng-style='device_height'>
        <div style="height:600px;">
        <ion-list class='goal_list'>
          <ion-item ng-click='$state.go("main_tabs.bgl_log_widget")' style="padding-top: 20px;">
            <div class='nitem' >
              <img src='./img/log_bgl.png' />
              <div class='info'>
                <span>Blood Glucose Level<span>
              </div>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("main_tabs.a1c_log_widget")'>
            <div class='nitem' >
              <img src='./img/log_a1c.png' />
              <div class='info'>
                <span>A1C<span>
              </div>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("main_tabs.bp_log_widget")'>
            <div class='nitem' >
              <img src='./img/log_bp.png' />
              <div class='info'>
                <span>Blood Pressure<span>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <div class='nitem' ng-click='$state.go("main_tabs.symptom_log_widget")'>
              <img src='./img/log_symptoms.png' />
              <div class='info'>
                <span>Symptoms<span>
              </div>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("main_tabs.food_log_widget")'>
            <div class='nitem' >
              <img src='./img/log_food.png' />
              <div class='info'>
                <span>Food<span>
              </div>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("main_tabs.medicine_log_widget")'>
            <div class='nitem' >
              <img src='./img/log_medication.png' />
              <div class='info'>
                <span>Medication<span>
              </div>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("main_tabs.activity_log_widget")'>
            <div class='nitem' >
              <img src='./img/log_activities.png' />
              <div class='info'>
                <span>Activity<span>
              </div>
            </div>
          </ion-item>
          <ion-item ng-click='$state.go("main_tabs.weight_log_widget")'>
            <div class='nitem' >
              <img src='./img/log_weight.png' />
              <div class='info'>
                <span>Weight<span>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
</ion-view>
