<div class='cred_action_container'>

  <div class='phonenumber inpt' ng-class='v.login_data.username_err.length > 0?"error":""'>

    <span class='err'>{{ v.login_data.username_err }}</span>
    <input type="number" ng-model='v.login_data.username' placeholder="Phone Number" onkeydown="if(this.value.length == 10 && event.keyCode!=8) return false;"/>
    <span class='country_drop' ng-click='open_country_list()'>{{ v.login_data.country_name }} <img class='caret' src='img/dropdown.png' /></span>
  </div>
  <div class='password inpt' ng-class='v.login_data.password_err.length > 0?"error":""' ng-show='!v.login_data.is_pass_visible' ng-disabled='v.login_data.is_otp'>
    <span class='err'>{{ v.login_data.password_err }}</span>
    <input type='password' ng-model='v.login_data.password' placeholder="Password" ng-disabled='v.login_data.is_otp' ng-enter='authenticate_user()'/>
    <span class='eye' ng-class='v.login_data.is_pass_visible?"close":""' ng-click='(v.login_data.is_pass_visible = !v.login_data.is_pass_visible)'></span>
  </div>
  <div class='password_sh inpt' ng-class='v.login_data.password_err.length > 0?"error":""' ng-show='v.login_data.is_pass_visible' ng-disabled='v.login_data.is_otp'>
    <span class='err'>{{ v.login_data.password_err }}</span>
    <input type='text' ng-model='v.login_data.password' placeholder="Password"  ng-disabled='v.login_data.is_otp' ng-enter='authenticate_user()' />
    <span class='eye' ng-class='v.login_data.is_pass_visible?"close":""' ng-click='(v.login_data.is_pass_visible = !v.login_data.is_pass_visible)'></span>
  </div>
  <div class='check_input' ng-show='!v.login_data.is_otp '>
    <i class='ion-android-checkbox-outline-blank otp'  ng-click='v.login_data.is_otp = true;'></i><span>Login with OTP instead of password.</span>
  </div>
  <div class='check_input' ng-show='v.login_data.is_otp'>
    <i class='ion-android-checkbox-outline otp'  ng-click='v.login_data.is_otp = false'></i><span>Login with OTP instead of password.</span>
  </div>

  <!-- <div class='social_login'>
    <ul>
      <li><img src='img/facebook.png' /></li>
      <li><img src='img/twitter.png' /></li>
      <li><img src='img/googleplus.png' /></li>
    </ul>
  </div> -->
  <button class='btn-cred' ng-click='authenticate_user()' ng-show='!v.login_data.in_prog'>SIGN IN</button>
  <button class='btn-cred'  ng-disable='' ng-show='v.login_data.in_prog'>Authenticating</button>
  <div class='frgt_password'>
    <a>Forgot Password</a>
  </div>
</div>
<select ng-model='v.login_data.country_code' id='country_list' style="visibility:hidden;height:0;">
  <option ng-repeat='country_code in v.country_code' value='{{ country_code.code }}'>{{ country_code.country }}</option>
</select>
