<ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleDrawer()"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
  <div class='user_profile' ng-click='$state.go("med_dashboard")'>
  </div>
</ion-nav-buttons>
