<ion-tabs class="tabs-calm tabs-icon-top hcn_bottom_tab bottom"  ng-class='is_keyboard_open?"tabs-item-hide":"keyb_close"'>

  <ion-tab title="Home" href='#/main_tabs/home_widget_tab/dashboard' icon-on="ion-hcn-home-on" icon-off="ion-hcn-home-off">
    <ion-nav-view name='home_widget'></ion-nav-view>
  </ion-tab>

  <ion-tab title="Records" href='#/main_tabs/phr_record'  icon-on="ion-hcn-insight-on" icon-off="ion-hcn-insight-off">
    <ion-nav-view name='phr_widget'></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab title="Reports"  href='#/main_tabs/report_widget_tab/generate' icon-on="ion-hcn-report-on" icon-off="ion-hcn-report-off">
    <ion-nav-view name='report_widget'></ion-nav-view>
  </ion-tab> -->

  <ion-tab title="Insight"  href='#/main_tabs/insight' icon-on="ion-hcn-report-on" icon-off="ion-hcn-report-off" hidden='!showInsight'>
    <ion-nav-view name='insight_widget'></ion-nav-view>
  </ion-tab>

  <!-- <ion-tab title="Insight"  href='#/main_tabs/report_widget_tab/generate' icon-on="ion-hcn-report-on" icon-off="ion-hcn-report-off">
    <ion-nav-view name='report_widget'></ion-nav-view>
  </ion-tab> -->

  <ion-tab title="Log" href='#/main_tabs/log_widget' icon-on="ion-hcn-log-on" icon-off="ion-hcn-log-off">
    <ion-nav-view name='log_widget'></ion-nav-view>
  </ion-tab>

</ion-tabs>
