<div class="back_button" ng-click='$state.go("med_dashboard")'>
  <i class='ion-android-arrow-back left'></i>
</div>
<div class="user_pro" ng-click='$state.go("med_dashboard")'>
  <img src='img/user_account.png' ng-show='profile_image == null'/>
  <img ng-src='{{ profile_image }}' ng-show='profile_image != null'/>
</div>
<div class="user_pro_name" ng-click='$state.go("user_profile_tab.profile")'>
  <span>{{username}}</span>
</div>
