<div class='user_sos' ng-click='$state.go("sos")' ng-hide='active_profile_flag == "OTHER_USER"'>
  <img src='./img/sos_button.png' />
</div>
<div class='check_user'  ng-click="openPopover($event)" ng-hide='active_profile_flag == "OTHER_USER"'>
  <i class='ion-android-more-vertical'></i>
</div>

<div class='check_user'  ng-click="take_to_mail(profile_id)" ng-show='active_profile_flag == "OTHER_USER"'>
  <i class='ion-android-mail'></i>
</div>
