<div class='user_phr' ng-click='$state.go("main_tabs.phr_search")'>
  <img src='./img/search.png' />
</div>
<div class='user_phr' ng-click='$state.go("main_tabs.phr_upload")'>
  <img src='./img/upload.png' />
</div>
<!-- <div class='user_sos' ng-click='$state.go("sos")'>
  <img src='./img/sos_button.png' />
</div> -->
<div class='check_user'  ng-click="openPopover($event)" ng-hide='active_flag == "OTHER_USER"'>
  <i class='ion-android-more-vertical'></i>
</div>
