<ion-view view-title='Social Dashboard' align-title='center'>
  <!-- <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons> -->
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'  direction='y' class='cred_screen med_bg user_form_icon user_med_profile_dash'>
      <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="fetch_network()">
    </ion-refresher>
      <div ng-style='device_height' >

      <ion-list>
        <!-- <ion-item>
          <div class='serach_item'>
            <input type='text' placeholder="Search and Add to Manage" ng-focus='v.is_search=true' ng-blur='v.is_search=false' ng-model='v.user_name' ng-change='search_contacts()'/>
            <i class='ion-ios-search-strong' ></i>
          </div>
        </ion-item>
        <ion-item  ng-show='v.is_search_contact' style="text-align:center">
          <ion-spinner icon="ios"></ion-spinner>
        </ion-item> -->
        <!-- starting the profile magement -->
        <ion-item class='profile' ng-repeat='profile in profiles' ng-click='take_to_internal_profile(profile)' ng-show='!v.is_search && v.user_name.length == 0'>
          <img src='img/user_account.png' class='img' ng-show='profile.profile_media == null'/>
          <img ng-src='{{ profile.profile_media.uri }}' class='img' ng-show='profile.profile_media != null'/>
          <div class='profile_details'>
            <div class='name'>{{ profile.name }} <span ng-show='profile.is_virtual == 0'>(You)</span></div>
            <div class='contact_number'>{{ profile.phone_number }}&nbsp;</div>
            <div class='custom_message' ng-show='profile.is_init_flow == "0"'>
              <span class='mess'>Customize Your Dashboard</span> <i class='ion-android-arrow-forward'></i>
            </div>
            <div class='custom_message' ng-show='profile.is_init_flow == "1"'>
              <span class='mess'>View Your Dashboard</span> <i class='ion-android-arrow-forward'></i>
            </div>
          </div>
        </ion-item>
        <!-- End of profile -->

        <!-- starting the profile magement -->
        <!-- <ion-item class='search_profile'  ng-repeat='contact in contacts' ng-show='v.is_search || v.user_name.length > 0' ng-click='take_to_med_profile(contact)'>
          <img src='img/user_account.png' class='img' ng-show='contact.image == null'/>
          <img ng-src='{{ contact.image }}' class='img' ng-show='contact.image != null'/>
          <div class='profile_details'>
            <div class='name'>{{ contact.name }}</div>
            <div class='contact_number'>{{ contact.contact_num }}&nbsp;</div>
          </div>
        </ion-item> -->
        <!-- End of profile -->

        <!-- Monitored By You section -->
        <!-- <ion-item class='med_title' ng-show='network.monitoring.length > 0'>
          <span>People Monitiored By You</span>
        </ion-item>
        <ion-item class='med_profile'  ng-repeat='person in network.monitoring' ng-show='!v.is_search && v.user_name.length == 0'>
          <div class='monitored_profile' ng-show='person.request_status == 0 || person.request_status == "0"'>
            <img src='img/user_account.png' class='img' ng-show='person.destination_profile.profile_media == null'/>
            <img ng-src='{{ person.destination_profile.profile_media.uri }}' class='img' ng-show='person.destination_profile.profile_media != null'/>
            <div class='detail'>
              <span class='name'>{{ person.destination_profile.name }}</span>
            </div>
            <div class='status pending'>
              Pending
            </div>
          </div>
          <div class='monitored_profile' ng-show='person.request_status == 1 || person.request_status == "1"'  ng-click='take_to_internal_profile( person.destination_profile)'>
            <img src='img/user_account.png' class='img' ng-show='person.destination_profile.profile_media == null'/>
            <img ng-src='{{ person.destination_profile.profile_media.uri }}' class='img' ng-show='person.destination_profile.profile_media != null'/>
            <div class='detail'>
              <span class='name'>{{ person.destination_profile.name }}</span>
            </div>
            <div class='status'>
              <img src='img/monitor.png' class='status_img' />
            </div>
          </div>

        </ion-item> -->
        <!-- End of Monitoring you section -->

        <!-- Monitoring You section -->
      <!-- <ion-item class='med_title' ng-show='network.monitored_by.length > 0'>
          <span>People Monitioring You</span>
        </ion-item>
        <ion-item class='med_profile'  ng-repeat='person in network.monitored_by' ng-show='!v.is_search && v.user_name.length == 0'>
          <div class='request' ng-show='person.request_status == 0 || person.request_status == "0"' ng-click='take_to_med_request(person)'>
              <img src='img/add_people.png'/>
              <div class='detail'>
                <span class='name'>{{ person.source_profile.name }}</span>, Sent Request to Monitor You.
              </div>
          </div>
          <div class='monitored_profile' ng-show='person.request_status == 1 || person.request_status == "1"' ng-click='take_to_internal_profile( person.source_profile)'>

            <img src='img/user_account.png' class='img' ng-show='person.source_profile.profile_media == null'/>
            <img ng-src='{{ person.source_profile.profile_media.uri }}' class='img' ng-show='person.source_profile.profile_media != null'/>
            <div class='detail'>
              <span class='name'>{{ person.source_profile.name }}</span>
            </div>
            <div class='status'>
              <img src='img/chat.png' class='status_img' />
            </div>
          </div>

        </ion-item> -->
        <!-- End of Monitoring you section -->

        <ion-item class="monitoring_card">
          <div class="med_heading_with_img" ng-click='open_search_modal()'>
            <span>Real-time Health Monitoring</span>
          </div>
          <div class="med_body" ng-show='network.monitoring.length > 0'>
            <ion-slides options="galleryOptions" slider="gallerySlider" >

              <ion-slide-page ng-repeat='person in network.monitoring' ng-show='!v.is_search && v.user_name.length == 0 && person.request_status == 0 || person.request_status == "0"'>
                <div class="med_person" ng-show='person.request_status == 0 || person.request_status == "0"' ng-click='open_user_pending_popup()'>
                  <img  ng-src='{{ person.destination_profile.profile_media_url }}'/>
                  <div class='person_details'>
                    <span>{{ person.destination_profile.name }}</span><br/>
                    <span class="status_pending">Pending</span>
                  </div>
                </div>
              </ion-slide-page>

              <ion-slide-page ng-repeat='person in network.monitoring' ng-show='!v.is_search && v.user_name.length == 0 && person.request_status == 1 || person.request_status == "1"'>
                <div class="med_person" ng-show='person.request_status == 1 || person.request_status == "1"'  ng-click='take_to_internal_profile( person.destination_profile,true)'>
                  <img  ng-src='{{ person.destination_profile.profile_media_url }}'/>
                  <div class='person_details'>
                    <span >{{ person.destination_profile.name }}</span><br/>
                    <span class="status_done">Done</span>
                  </div>
                </div>
              </ion-slide-page>

              <!-- <div class="no_user text-center" ng-show='person.request_status != 1 && person.request_status != "1" && person.request_status != 0 && person.request_status != "0"'>
                <span>No User connected with You.</span>
              </div> -->
             </ion-slides>
          </div>
          <div class='network_info' ng-show='network.monitoring == undefined || network.monitoring.length ==0'>
            <a ng-click='open_search_modal()' class='invite_to_monitor' ng-show='network_loading == false && network.monitoring.length ==0'>Invite To Monitor</a>
            <ion-spinner icon="ios" ng-show='network_loading'></ion-spinner>
          </div>
        </ion-item>

        <ion-item class="monitoring_card">
          <div class="med_heading">
            <span>You are Monitored By</span>
          </div>
          <div class="med_body" ng-show='network.monitored_by.length > 0'>
            <ion-slides options="galleryOptions" slider="gallerySlider" >
                <ion-slide-page ng-repeat='person in network.monitored_by' ng-show='!v.is_search && v.user_name.length == 0 && person.request_status == 0 || person.request_status == "0"'>
                  <div class="med_person" ng-show='person.request_status == 0 || person.request_status == "0"' ng-click='take_to_med_request(person)'>
                    <img src='{{ person.source_profile.profile_media_url }}'/>
                    <div class='person_details'>
                      <span>{{ person.source_profile.name }}</span><br/>
                      <span class="status_pending">Pending</span>
                    </div>
                  </div>
                </ion-slide-page>

                <ion-slide-page ng-repeat='person in network.monitored_by' ng-show='!v.is_search && v.user_name.length == 0 && person.request_status == 1 || person.request_status == "1"'>
                  <div class="med_person" class='monitored_profile' ng-show='person.request_status == 1 || person.request_status == "1"' ng-click='take_to_messages(person)'>
                    <img ng-src='{{ person.source_profile.profile_media_url }}'/>
                    <div class='person_details'>
                      <span >{{ person.source_profile.name }}</span><br/>
                      <span class="status_done">Done</span>
                    </div>
                  </div>
                </ion-slide-page>
                <!-- <div class="no_user text-center" ng-show='person.request_status != 1 && person.request_status != "1" && person.request_status != 0 && person.request_status != "0"'>
                  <span>No User connected with You.</span>
                </div> -->
             </ion-slides>
             <div ng-show='network.monitored_by.length == 0'>Start monitoring your loved one</div>
          </div>
          <div class='network_info' ng-show='network.monitored_by == undefined || network.monitored_by.length ==0'>
            <a class='invite_to_monitor' ng-show='network_loading == false && network.monitored_by.length ==0'>No One Monitoring You</a>
            <ion-spinner icon="ios" ng-show='network_loading'></ion-spinner>
          </div>
        </ion-item>

      </ion-list>
     </div>
    </ion-content>
</ion-view>
