<ion-modal-view class=''>
  <ion-header-bar class='bar-calm modal_with_back' align-title="center">
    <div class="buttons">
      <i class='ion-android-arrow-back left' ng-click='goBack()'></i>
    </div>
    <h1 class="title">Search and Add People</h1>
  </ion-header-bar>
  <ion-content class='cred_screen med_bg user_form_icon user_med_profile_dash'>
    <div class='tip_container_search'>
      <ion-item>
        <div class='serach_item'>
          <input type='text' placeholder="Search" ng-focus='v.is_search=true' ng-blur='v.is_search=false' ng-model='v.user_name'/>
          <i class='ion-ios-search-strong' ></i>
        </div>
      </ion-item>
      <ion-item  ng-show='v.is_search_contact' style="text-align:center">
        <ion-spinner icon="ios"></ion-spinner>
      </ion-item>

      <!-- starting the profile magement -->
      <ion-item class='search_profile'  collection-repeat='contact in contacts | filter:v.user_name' item-height="60px" ng-click='take_to_med_profile(contact)'>
        <img src='img/user_account.png' class='img' ng-show='contact.image == null || contact.image == undefined || contact.image.length == 0'/>
        <img ng-src='{{ contact.image }}' class='img' ng-show='contact.image != null  && contact.image != undefined && contact.image.length != 0'/>
        <!-- <img src='{{ profile.profile_media.uri }}' class='img' ng-show='profile.profile_media != null'/> -->
        <div class='profile_details'>
          <div class='name'>{{ contact.name }}</div>
          <div class='contact_number'>{{ contact.phoneNumbers }}&nbsp;</div>
        </div>
      </ion-item>
      <!-- End of profile -->
    </div>
  </ion-content>
</ion-modal-view>
