<ion-view view-title='' align-title='center'>
    <ion-nav-buttons side="left">
      <div class='head_back' ng-click='goBack()'>
        <i class='ion-android-arrow-back left'></i>
      </div>
    </ion-nav-buttons>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh user_form_icon user_med_profile'>
      <div class='profile'>
        <div class='image_container'>
          <div class='container'>
            <img src='img/user_account.png' class='user_image' ng-show='v.profile_image == null'/>
            <img src='{{ v.profile_image }}' class='user_image' ng-show='v.profile_image != null'/>
            <!-- <div class='camera' ng-click='upload_options()'>
              <img src='img/camera.png'/>
            </div> -->
          </div>
        </div>
        <div class='text_container'>
          <div class='input-key-container row'>
            <div class='col '>
              <span class='key'>Name :</span>
            </div>
            <div class='col'>
              <input type='text' placeholder="Name" ng-model='v.name' readonly/>
            </div>
          </div>
          <div class='input-key-container row'>
            <div class='col'>
              <span class='key'>Phone Number :</span>
            </div>
            <div class='col'>
              <input type='text' placeholder="Phone Number" ng-model='v.phone_number' readonly/>
            </div>
          </div>
          <div class='input-key-container row'>
            <div class='col'>
              <span class='key'>Relation :</span>
            </div>
            <div class='col select'>
              <select ng-model='v.relation' readonly>   
                <option value=''>Select</option>
                <option value='FRIEND'>Friend</option>
                <option value='FAMILY'>Family</option>
              </select>
            </div>
          </div>
          <div class='buttons'>
            <button class='c_button' ng-click='status_update("ACCEPT")'>Accept</button>
            <button class='c_button' ng-click='status_update("REJECT")'>Reject</button>
          </div>
          <!-- <div class='buttons'>
            <button class='c_button' >Accept</button>
            <button class='c_button' >Reject</button>
          </div> -->
        </div>
      </div>
    </ion-content>
</ion-view>
