<ion-view view-title='Emergency Contact'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='go_back()'>
      <!-- <a><img src="img/back_button.png"></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh user_form bp menu_emergecny_contact'>
      <div  ng-include="'emegency_contact_template.html'">
      </div>
    </ion-content>
</ion-view>
