<ion-view view-title='' align-title='center'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$state.go("med_dashboard")'>
      <i class='ion-android-arrow-back left'></i>
    </div>
    <div class="user_pro" ng-click='$state.go("med_dashboard")'>
      <img src='img/user_account.png' ng-show='v.other_profile.profile_media_url == null'/>
      <img ng-src='{{ v.other_profile.profile_media_url }}' ng-show='v.other_profile.profile_media_url != null'/>
    </div>
    <div class="user_pro_name">
      <span>{{ v.other_profile.name }}</span>
    </div>
  </ion-nav-buttons>
  <ion-content scroll='true'  direction='y' class='cred_screen bg_wh user_form_icon user_med_profile has-footer'>
    <ion-list>
      <ion-item style="text-align:center" ng-show='v.loader'>
        <ion-spinner icon="ios"></ion-spinner>
      </ion-item>
      <ion-item ng-repeat='message in v.messages'>
        <div class='message_container ' ng-class='message.src_id == v.dest_id?"other":"mine"'>
          <div class='message'>{{ message.message}}</div></br>
          <span class='time'>{{ message.created_at | php_datetime_format:"D MMM,YYYY hh:mm A"}}</spam>
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item style="visibility:hidden">
        <div class='message_container mine'>
          <div class='message'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</div></br>
          <span class='time'>10th Dec 2016</spam>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-calm mes_footer">
    <input type='text' placeholder="Write Messgae" ng-model='v.message' autocomplete="off" spellcheck="true"/>
    <i class='ion-android-send' ng-click='send_message()'></i>
  </ion-footer-bar>
</ion-view>
