<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon bg_wh_gray' style="padding-top:80px;">
          <ion-list class='newtimeline_list' ng-show='cached_timeline_data == null || result_data.length > 0'>
            <ion-item ng-repeat="result in result_data" style="padding:0;">
              <div class="full_card">
                <div class="day_name">
                  <span ng-show = 'result.date == todays_date'>Today</span>
                  <span ng-show = 'result.date == yesterday'>Yesterday</span>
                  <span ng-show = 'result.date != todays_date && result.date != yesterday'>{{result.date  | format_date:"YYYY-MM-DD":"D MMM,YYYY"}}</span>
                </div>
                <div  ng-repeat="data in result.data">
                  <div class="tm_card tm_card_bgl" ng-show='data.type == "BGL"'>
                    <div class="left_side">
                      <span style='display:block'>{{data.log_time | symptom_time_format}}</span>
                      <div class="img_sep">
                        <img src="img/log_bgl.png"/>
                      </div>
                    </div>
                    <div class="right_side">
                      <div class="card_heading">
                        <span>Blood Glucose Level</span>
                      </div>
                      <div class="card_data">
                        <span class="text_theme">Glucose Levels :</span>
                        <span>{{data.blood_glucose_level}} mg/dl</span></br>
                        <span class="text_theme">Events :</span>
                        <span style="white-space:pre-line">{{data.event.event.event_name}}({{data.event.event_name}})</span></br>
                        <div class="text-right">
                          <div ng-include=" 'ar_tmp.html' "></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tm_card tm_card_a1c" ng-show='data.type == "A1C"'>
                    <div class="left_side">
                      <span>{{data.log_time | symptom_time_format}}</span>
                      <div class="img_sep">
                        <img src="img/log_a1c.png"/>
                      </div>
                    </div>
                    <div class="right_side">
                      <div class="card_heading">
                        <span>A1C</span>
                      </div>
                      <div class="card_data">
                        <span class="text_theme">A1C Levels :</span>
                        <span>{{data.a1c}} %</span></br>
                        <div class="text-right">
                          <div ng-include=" 'ar_tmp.html' "></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tm_card tm_card_bp" ng-show='data.type == "BP"'>
                    <div class="left_side">
                      <span>{{data.log_time | symptom_time_format}}</span>
                      <div class="img_sep">
                        <img src="img/log_bp.png"/>
                      </div>
                    </div>
                    <div class="right_side">
                      <div class="card_heading">
                        <span>Blood Pressure</span>
                      </div>
                      <div class="card_data">
                        <span class="text_theme">Systolic(High) :</span>
                        <span>{{data.systolic}} mmHg</span></br>
                        <span class="text_theme">Diastolic(Low) :</span>
                        <span>{{data.diastolic}} mmHg</span></br>
                        <div class="text-right">
                          <div ng-include=" 'ar_tmp.html' "></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tm_card tm_card_symptoms" ng-show='data.type == "SYMPTOMS"'>
                    <div class="left_side">
                      <span>{{data.start_time | symptom_time_format}}</span>
                      <div class="img_sep">
                        <img src="img/log_symptoms.png"/>
                      </div>
                    </div>
                    <div class="right_side">
                      <div class="card_heading">
                        <span>Symptoms</span>
                      </div>
                      <div class="card_data">
                        <span class="text_theme">Symptoms :</span>
                        <span>{{ data.symptom.name }}</span></br>
                        <span class="text_theme">Severity :</span>
                        <span>{{data.severity}}/10</span></br>
                        <div class="text-right">
                          <div ng-include=" 'ar_tmp.html' "></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tm_card tm_card_food" ng-show='data.type == "FOOD"'>
                    <div class="left_side">
                      <span>{{data.log_time | symptom_time_format}}</span>
                      <div class="img_sep">
                        <img src="img/log_food.png"/>
                      </div>
                    </div>
                    <div class="right_side">
                      <div class="card_heading">
                        <span>Food</span>
                      </div>
                      <div class="card_data">
                        <span class="text_theme">Food :</span>
                        <span ng-repeat='food in data.taken_food' style="white-space: pre-line;">{{ food.food.food_name }}</br></span></br>
                        <div class="text-right">
                          <div ng-include=" 'ar_tmp.html' "></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tm_card tm_card_medicine" ng-show='data.type == "MEDICINE"'>
                    <div class="left_side">
                      <span>{{data.log_time | symptom_time_format}}</span>
                      <div class="img_sep">
                        <img src="img/log_medication.png"/>
                      </div>
                    </div>
                    <div class="right_side">
                      <div class="card_heading">
                        <span>Medications</span>
                      </div>
                      <div class="card_data">
                        <span class="text_theme">Medicine Name :</span>
                        <span>{{data.medicine_name}}</span></br>
                        <span class="text_theme">Medications type :</span>
                        <span>{{data.doss_type}}</span></br>
                        <span class="text_theme">Dosage :</span>
                        <span>{{data.doss}}</span></br>
                        <div class="text-right">
                          <div ng-include=" 'ar_tmp.html' "></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tm_card tm_card_activity" ng-show='data.type == "ACTIVITY"'>
                    <div class="left_side">
                      <span>{{data.created_at | timeline_time_format}}</span>
                      <div class="img_sep">
                        <img src="img/log_activities.png"/>
                      </div>
                    </div>
                    <div class="right_side">
                      <div class="card_heading">
                        <span>Activity</span>
                      </div>
                      <div class="card_data">
                        <span class="text_theme">Activity :</span>
                        <span>{{data.activity.activity_name}}</span></br>
                        <div class="text-right">
                          <div ng-include=" 'ar_tmp.html' "></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tm_card tm_card_weight" ng-show='data.type == "WEIGHT"'>
                    <div class="left_side">
                      <span>{{data.log_time | symptom_time_format}}</span>
                      <div class="img_sep">
                        <img src="img/log_weight.png"/>
                      </div>
                    </div>
                    <div class="right_side">
                      <div class="card_heading">
                        <span>Weight</span>
                      </div>
                      <div class="card_data">
                        <span class="text_theme">Current Weight :</span>
                        <span>{{ data.weight }} kgs</span></br>
                        <div class="text-right">
                          <div ng-include=" 'ar_tmp.html' "></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item ng-show='is_data_1 == "YES"'>
              <div style="text-align:center;margin-top:100px;"><ion-spinner class='ios-small'></ion-spinner> Please Wait...</div>
            </ion-item>
            <ion-item ng-show='is_data_2 == "YES"'>
              <div style="text-align:center;margin-top:100px;">Data not found</br>please LOG your data first...</div>
            </ion-item>
            <ion-item style="visibilit:hidden">
              <div class="full_card" style="height:100px;">
              </div>
            </ion-item>
          </ion-list>
          <ion-infinite-scroll
          ng-if="!noMoreItemsAvailable"
          on-infinite="loadMore()"
          icon="ion-loading-c"
          distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
