<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon new_dashboard' >
        <div ng-style='device_height_header_tab_top_tab'>
          <ion-list>
            <ion-item>
              <div class='dash_card bgl_big_card'>
                <div class='card_header'>Blood Glucose Level</div>
                <div class='card_body'>
                  <span class='title_main'>Average of Last 5 Log</span>
                  <div class='row'>
                    <div class='col text-center'>
                      <div class='bgl_block'>
                        <span class='short_descp text_green' style="margin-left: 45px; margin-bottom: -16px;">Fasting</span>
                        <span class='value text_green'>80</span>
                        <span class='unit'>mg/dl</span></br>
                        <span class='unit'>Last Log 22nd Oct</span>
                      </div>
                    </div>
                    <div class='col text-center'>
                      <div class='bgl_block'>
                        <span class='short_descp text_orange' style="margin-left: 70px; margin-bottom: -16px;">Post Meal</span>
                        <span class='value text_orange'>140</span>
                        <span class='unit'>mg/dl</span></br>
                        <span class='unit'>Last Log 22nd Oct</span>
                      </div>
                    </div>
                  </div>
                  <div class='sep'></div>
                  <div class="card_bottom">
                    <span>Overall <h1 class="text_skyblue"> 73</h1>% in Range </span>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item>
              <div class='dash_card bgl_big_card'>
                <div class='card_header'>Blood Pressure</div>
                <div class='card_body'>
                  <span class='title_main'>Average of Last 5 Log</span>
                  <div class='row'>
                    <div class='col text-center'>
                      <div class='bgl_block'>
                        <span class='short_descp text_green' style="margin-left: 69px; margin-bottom: -16px;">Diastolic(Low)</span>
                        <!-- <span class='value text_green'>80</span> -->
                        <img src="img/log_bp.png"/>
                        <span class='unit'>mmHg</span></br>
                        <!-- <span class='unit'>Last Log 22nd Oct</span> -->
                        <h1>Log</h1>
                      </div>
                    </div>
                    <div class='col text-center'>
                      <div class='bgl_block'>
                        <span class='short_descp text_orange' style="margin-left: 90px; margin-bottom: -16px;">Sysytolic(High)</span>
                        <span class='value text_orange'>140</span>
                        <span class='unit'>mmHg</span></br>
                        <span class='unit'>Last Log 22nd Oct</span>
                      </div>
                    </div>
                  </div>
                  <div class='sep'></div>
                  <div class="card_bottom">
                    <span>Overall <h1 class="text_skyblue"> 73</h1>% in Range </span>
                  </div>
                </div>
              </div>
            </ion-item>

            <!-- // dual card -->
            <ion-item>
            <div class='row no_pad'>
              <div class='col' style="padding-right:5px;">
                <div class='dash_card'>
                  <div class='card_header_left'>Weight</div>
                  <div class='card_body text-center'>
                    <h1 class='data text_skyblue'>75<span>kg</span></h1>
                    <span class='date'>Last Log 22nd Oct</span>
                  </div>
                </div>
              </div>
              <div class='col' style="padding-left:5px;">
                <div class='dash_card'>
                  <div class='card_header'>A1c</div>
                  <div class='card_body text-center'>
                    <h1 class='data text_green'>7.1<span>%</span></h1>
                    <span class='date'>Last Log 22nd Oct</span>
                  </div>
                </div>
              </div>
            </div>
          </ion-item>
          <!-- //single card -->
        <ion-item>
          <div class='dash_card bgl_big_card'>
            <div class='card_header'>Weight</div>
            <div class='card_body text-center'>
              <h1 class='inline_data text_skyblue'>75</h1>
              <span>kg</span>
              <span class='date'>Last Log 22nd Oct</span>
            </div>
          </div>
        </ion-item>

        <!-- //schedule card -->
        <ion-item>
          <div class='dash_card bgl_big_card'>
            <div class='simple_card_header'>My Schedule for Today</div>
            <div class='card_body'>

                <div class="rows">
                  <div class="left_part">
                    <span class="text_red">Medication</span>
                    <span class="text_red">Medication</span>
                      <span class="text_red">Medication</span>
                  </div>
                  <div class="middle_part">
                    <span>Choram (3) - - - - - - - - - - - - - - </span>
                    <span>Choram (3) - - - - - - - - - - - - - - </span>
                    <span>Choram (3) - - - - - - - - - - - - - - </span>
                  </div>
                  <div class="right_part">
                    <h1 class="text_skyblue">9:00 am</h1>
                    <h1 class="text_skyblue">9:00 am</h1>
                    <h1 class="text_skyblue">9:00 am</h1>
                  </div>
                </div>

              <!-- <div class='sep'></div> -->
            </div>
          </div>
        </ion-item>

          </ion-list>
        </div>
    </ion-content>
</ion-view>
