<div class='text-area'>
  <textarea placeholder="Please type here" ng-model='notes' maxlength="140"></textarea>
</div>
<div class='buttons'>
  <button class='popup_btn' ng-click='close_notes_popup(notes)'>Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class='popup_btn' ng-click='cancel_notes_popup()'>Cancel</button>
</div>
