<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right_phr.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true' direction='y' class='cred_screen bg_wh user_form_icon'>
        <div ng-style='device_height_header_tab'>
          <div class='phr_wid'>
            <div class='log_form'>
              <ion-list>
                <ion-item ng-click='navi_toEtype(event.event_name,event.record_count)' ng-repeat = "(k,event) in event_array">
                  <div class='log_form_item' >
                    <p class=' abc' >{{event.event_name}} ({{event.record_count}} file)</p>
                  </div>
                </ion-item>
                <ion-item ng-show='event_array.length == 0'>
                  <div class='log_form_item' >
                    <p class=' abc' >No Record uploaded</p>
                  </div>
                </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
