<ion-view view-title='Upload Record'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class='check_user'>
      <!-- <i class='right' ng-show='!v.is_check_enabled'></i> -->
      <i class='ion-android-done right'  ng-click='phr_dataupload()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons>
  <!-- <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons> -->
    <ion-content scroll='true' direction='y' class='cred_screen bg_wh user_form_icon' >
        <div ng-style='device_height_tab'>
          <!-- <div class='log_nav text-center'>
            <span class='title'>Upload Medical Records</span>
            <i class='right'></i>
            <i class='ion-android-done right' style="padding:0 10px" ng-click='phr_dataupload()'></i>
          </div> -->
          <div class='log_wid' style='padding-top:10px;'>
            <ion-list class='log_form'>
              <ion-item ng-show="v.phr_upload_input.attach_docs == false" ng-click="open_attach_doc_popup()" style="text-align:center;">
                <div class='log_form_item'>
                  <span class='theme_button'>Attach a Documents</span>
                </div>
              </ion-item>
              <ion-item ng-show="v.phr_upload_input.attach_docs == true" style="text-align:center;">
                <div class='log_form_item gray_border'>
                  <span class='key'>Documents Attached</span>
                </div>
              </ion-item>
              <ion-item  ng-show="v.phr_upload_input.attach_docs == true" >
                <div class='log_form_item gray_border'>
                  <div class='value' ng-repeat='(k,item) in v.search_results' style="margin-bottom:10px;display:block">
                    {{ item }} <i class='ion-trash-a' ng-click='delete_doc_confirm(k)'></i>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show="v.phr_upload_input.attach_docs == true" ng-click="open_attach_doc_popup()" style="text-align:center;">
                <div class='log_form_item'>
                  <span class='theme_button'>Attach Another Document</span>
                </div>
              </ion-item>
              <ion-item ng-show='v.search_results.length > 0'>
                <div class='log_form_item gray_border'>
                  <span class='key'>Event :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.phr_upload_input.event_name'>
                        <option value=''>Select Event</option>
                        <option value='{{ event.event_name }}' ng-repeat='event in event_array'>{{ event.event_name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-click="open_event_popup()" style="text-align:center;" ng-show='v.search_results.length > 0'>
                <div class='log_form_item'>
                  <span class='theme_button'>Create Event</span>
                </div>
              </ion-item>
              <ion-item ng-show='v.search_results.length > 0'>
                <div class='log_form_item'>
                  <span class='key'>Type :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.phr_upload_input.event_type'>
                        <option value=''>Select Type</option>
                        <option value='{{ event_type }}' ng-repeat='event_type in type_array'>{{ event_type }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.search_results.length > 0'>
                <div class='log_form_item'>
                  <span class='key'>Date :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.phr_upload_input.phr_date_view' ng-click='open_datepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.search_results.length > 0'>
                <div class='log_form_item'>
                  <span class='key'>Time :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Time" readonly="" ng-model='v.phr_upload_input.phr_time_view' ng-click='open_timepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.search_results.length > 0' style="padding-bottom:50px;">
                <div class='log_form_item'>
                  <span class='key'>Notes :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Type here" ng-model='v.phr_upload_input.notes' readonly="" ng-click='open_note_popup()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
