<ion-tabs class="tabs-calm tabs-top hcn_top_tabs">

  <ion-tab title="UPLOAD" href='#/main_tabs/phr_widget_tab/upload'>
    <ion-nav-view name='phr_upload_widget'></ion-nav-view>
  </ion-tab>

  <ion-tab title="YOUR RECORDS"  href='#/main_tabs/phr_widget_tab/record'>
    <ion-nav-view name='phr_rocord_widget'></ion-nav-view>
  </ion-tab>

  <ion-tab title="SEARCH"  href='#/main_tabs/phr_widget_tab/search'>
    <ion-nav-view name='phr_search_widget'></ion-nav-view>
  </ion-tab>
</ion-tabs>
