<ion-view view-title='{{ v.event_name }} ({{ v.count }} files)'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='go_back()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true' direction='y' class='cred_screen bg_wh user_form_icon'>
        <div ng-style='device_height_header_tab'>
          <div class='phr_wid'>
            <div class="images_container" style="margin-top:10px;">
              <!-- <div class='log_nav'style="display: inline-flex;">
                <i class='ion-android-arrow-back left' ng-click="go_back()"></i>
                <p class='title ellipsehead'>{{ v.event_name }}</p>
                <span> ({{ v.count }} files)</span>
              </div> -->
              <div class='row'>
              <div class="images col-33" ng-repeat='type in eType_array'>
                <a ng-click='navigate_to_type(type)'>
                  <img src='./img/phr_icons/phr_insurance.png' ng-show='type.type =="Insurance card"' />
                  <img src='./img/phr_icons/phr_lab.png' ng-show='type.type =="Laboratory Reports"' />
                  <img src='./img/phr_icons/phr_med_pres.png' ng-show='type.type =="Medical Prescription"' />
                  <img src='./img/phr_icons/phr_doc_consul.png' ng-show='type.type =="Doctor Consultation"' />
                  <img src='./img/phr_icons/phr_discharge.png' ng-show='type.type =="Discharge Summary"' />
                  <img src='./img/phr_icons/phr_identication.png' ng-show='type.type =="Identification Records"' />
                  <img src='./img/phr_icons/phr_operation.png' ng-show='type.type =="Operation/Surgery Report"' />
                  <img src='./img/phr_icons/phr_healthprog.png' ng-show='type.type =="Health Progress Report"' />
                  <img src='./img/phr_icons/phr_xray.png' ng-show='type.type =="X Ray Report"' />
                  <img src='./img/phr_icons/phr_mri.png' ng-show='type.type =="MRI Reports"' />
                  <img src='./img/phr_icons/phr_ctscan.png' ng-show='type.type =="CT Scan"' />
                  <img src='./img/phr_icons/phr_imaging.png' ng-show='type.type =="Imaging Reports"' />
                  <img src='./img/phr_icons/phr_med_bil.png' ng-show='type.type =="Medicine Bill"' />
                  <img src='./img/phr_icons/phr_hospital_bil.png' ng-show='type.type =="Hospital Bill"' />
                  <img src='./img/phr_icons/phr_otherbill.png' ng-show='type.type =="Other Bills"' />
                  <img src='./img/phr_icons/phr_immune.png' ng-show='type.type =="Immunization Records"' />
                  <img src='./img/phr_icons/phr_hospitalcard.png' ng-show='type.type =="Vaccination Reports"' />
                  <img src='./img/phr_icons/phr_hospitaladmission.png' ng-show='type.type =="Hospital Admission Records"' />
                  <img src='./img/phr_icons/phr_hospitalrecord.png' ng-show='type.type =="Hospital Records"' />
                  <img src='./img/phr_icons/phr_hospitalcard.png' ng-show='type.type =="Hospital Card"' />

                </br>{{type.type}}</a>
              </div>
            </div>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
