<ion-view view-title='{{ v.event_name }} > {{ v.type_name }}'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='navigate_to_back()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true' direction='y' class='cred_screen bg_wh user_form_icon'>
        <div ng-style='device_height_header_tab'>
          <div class='phr_wid' >
              <div class="images_container" style="margin-top:10px;">
                <!-- <div class='log_nav' style="display: inline-flex;">
                  <i class='ion-android-arrow-back left' ng-click="navigate_to_back()"></i>
                  <p class='title ellipsehead'>{{ v.event_name }}</p>
                  <span> > {{ v.type_name }}</span>
                </div> -->
                <ion-list>
                  <ion-item  ng-repeat = "(k,record) in media_record" ng-click="show_doc_details_popup(record)" style="padding:0;min-height:auto">
                    <div class="phr_record text-center">
                      <a class='record_icon' ng-show = "record | check_type:'IMAGE'"><img src='{{ record.media.uri }}'/></a>
                      <a class='record_icon' ng-show = "record | check_type:'PDF'"><img src='./img/pdf_icon.jpg'/></a>
                      <a class='record_icon' ng-show = "record | check_type:'DOC'"><img src='./img/doc_icon.png'/></a>
                      <div class='data'>
                        <div class='name .ellipsehead'>{{ record.event_name }} > {{ record.type }} &nbsp;</div>
                        <div class='notes'>{{ record.notes }} &nbsp;</div>
                        <div class='time'> {{ record.phr_date }} {{ record.phr_time }} &nbsp;</div>
                      </div>
                    </div>
                  </ion-item>
                  <ion-item ng-show='media_record.length == 0'>
                    <div style="text-align:center">No Record Found</div>
                  </ion-item>

                </ion-list>
                <!-- <div class="images text-center" ng-repeat = "(k,record) in media_record" ng-click="show_doc_details_popup(record)">
                  <a ng-show = "record | check_type:'IMAGE'"><img src='{{ record.media.uri }}'/></a>
                  <a ng-show = "record | check_type:'PDF'"><img src='./img/pdf_icon.jpg'/></a>
                  <a ng-show = "record | check_type:'DOC'"><img src='./img/doc_icon.png'/></a>
                </br><span>{{record.created_at  }}</span>
                </div> -->
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
