<ion-view view-title='Search Record'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
  <!-- <ion-nav-buttons side="right">
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right'  ng-click='phr_dataupload()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons> -->
    <ion-content scroll='true' direction='y' class='cred_screen bg_wh user_form_icon'  >
        <div ng-style='device_height_tab'>
          <div class='log_wid' style='padding-top:10px;' >
            <ion-list class='log_form' ng-show="v.phr_search_input.modify_data == false">

              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Event Name :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.phr_search_input.event_name'>
                        <option value=''>Select Event</option>
                        <option value='{{ event.event_name }}' ng-repeat='event in event_array'>{{ event.event_name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Document Type :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.phr_search_input.type'>
                        <option value=''>Select Type</option>
                        <option value='{{ event_type }}' ng-repeat='event_type in event_array'>{{event_type.type}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Date to :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.phr_search_input.to_date_view' ng-click='open_datepicker_to()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Date From :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.phr_search_input.from_date_view' ng-click='open_datepicker_from()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                  <div class='Phr_buttons'>
                    <button ng-click='search_event()'>Search</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button ng-click='cleardata()'>Clear</button>
                  </div>
              </ion-item>
            </ion-list>

            <!-- Search Container -->

            <div class="images_container" ng-show="v.phr_search_input.modify_data == true">
                <div class="modify_link">
                  <a ng-click='modify_event()'>Modify</a>
                </div>
                <ion-list>
                  <ion-item ng-repeat = "(k,record) in media_record" ng-click="show_doc_details_popup(record)" style="padding:0;min-height:auto">
                    <div class="phr_record text-center" >
                      <a class='record_icon' ng-show = "record | check_type:'IMAGE'"><img src='{{ record.media.uri }}'/></a>
                      <a class='record_icon' ng-show = "record | check_type:'PDF'"><img src='./img/pdf_icon.jpg'/></a>
                      <a class='record_icon' ng-show = "record | check_type:'DOC'"><img src='./img/doc_icon.png'/></a>
                      <div class='data'>
                        <div class='name'>{{ record.event_name }} > {{ record.type }} &nbsp;</div>
                        <div class='notes'>{{ record.notes }} &nbsp;</div>
                        <div class='time'> {{ record.phr_date }} {{ record.phr_time }} &nbsp;</div>
                      </div>
                    </div>
                  </ion-item>
                  <ion-item ng-show='media_record.length == 0'>
                    <div style="text-align:center">No Record Found</div>
                  </ion-item>
                </ion-list>


              </div>
          </div>
        </div>
    </ion-content>
</ion-view>
