<ion-popover-view class='hcnmenu' >
   <ion-content>
     <ion-list class="pop_list">
       <ion-item ng-click="goto_aboutus_page()">
         <div class="pop_member">
             <span>About us<span>
         </div>
       </ion-item>
       <ion-item ng-click="goto_notification_page()">
         <div class="pop_member">
             <span>Notifications<span>
         </div>
       </ion-item>
       <ion-item ng-click="goto_helth_asses_page()">
         <div class="pop_member">
             <span>Your Health Assessments<span>
         </div>
       </ion-item>
       <ion-item ng-click="closePopover();$state.go('menu_emergency_contact');">
         <div class="pop_member">
             <span>Emergency Contacts<span>
         </div>
       </ion-item>
       <ion-item  ng-click="goto_rate_review_page()">
         <div class="pop_member" >
             <span>Rate and review<span>
         </div>
       </ion-item>
       <ion-item ng-click="goto_share_page()">
         <div class="pop_member" >
             <span>Share with Family & Friends<span>
         </div>
       </ion-item>
       <ion-item ng-click="goto_settings_page()">
         <div class="pop_member">
             <span>Settings<span>
         </div>
       </ion-item>
     </ion-list>
   </ion-content>
</ion-popover-view>
