<span class='name'>{{ file_generated.name }}</span>
<div class='image'>
  <a href='javascript:void(0)' ng-click='view_file(file_generated.nativeURL)'><img src='img/reports_print.png' /><span>Print</span></a>
  <a href='javascript:void(0)' ng-click='share_file(file_generated.nativeURL)'><img src='img/reports_share.png' /><span>Share</span></a>
  <a href='javascript:void(0)' ng-click='view_file(file_generated.nativeURL)'><img src='img/reports_view.png' /><span>View</span></a>
</div>
<div class='buttons'>
  <button class='popup_btn' ng-click='close_popup()'>Done</button>
</div>
<div class='notes'>
  *You can view the file in archive
</div>
