<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' style="margin-top:8px;" >
        <div ng-style='device_height_header_tab_top'>
          <div class='log_nav top_tab'>
            <i class='ion-android-arrow-back left' ng-click="go_back()"></i>
            <!-- <span class='title'>User Profile</span> -->
            <i class='ion-android-done right' ng-click='update_user_info()' style="padding:0 10px"></i>
          </div>
          <div class='log_wid'>
            <ion-list class='log_form'>
              <ion-item style="padding:0px !important;">
                <div class='image_container profile_image_upload'>
                  <div class='container'>
                    <img src='img/user_account.png' class='user_image' ng-show='v.user_info.profile_image == null'/>
                    <img ng-src='{{ v.user_info.profile_image }}' class='user_image' ng-show='v.user_info.profile_image != null'/>
                    <div class='camera' ng-click='upload_options()'>
                      <img src='img/camera.png'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='form-item'>
                  <img src='img/name.png'>
                  <div class='elem'>
                    <span class='key'>Name :</span>
                    <span class='value'>
                      <input type='text' maxlength="30" placeholder="Your Name" ng-model='v.user_info.name'/>
                      <font class='val_type text'></font>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class='form-item'>
                  <img src='img/profile_email.png'>
                  <div class='elem'>
                    <span class='key'>Email :</span>
                    <span class='value'>
                      <input type='text' maxlength="30" placeholder="Your Email" ng-model='v.user_info.email'/>
                      <font class='val_type text'></font>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class='form-item'>
                  <img src='img/gender.png'>
                  <div class='elem'>
                    <span class='key'>Gender :</span>
                    <span class='value' selectpopup data='v.gender_options' attr-title="Select Gender" ng-model='v.user_info.gender'>

                      <!-- <select ng-model='v.user_info.gender' id='gender' style="visibility:hidden;position:absolute;top:-10px;height:10px">
                        <option value=''>Select</option>
                        <option value='MALE'>Male</option>
                        <option value='FEMALE'>Female</option>
                      </select> -->
                      <font class='placeholder' ng-show='v.user_info.gender == null'>Select Gender</font>
                      <font class='valplace' ng-show='v.user_info.gender == "MALE"'>Male</font>
                      <font class='valplace' ng-show='v.user_info.gender == "FEMALE"'>Female</font>
                      <!-- <input type='text' placeholder="Select Gender" ng-model='v.user_info.gender_view' readonly  ng-click='trigger_click("gender")'/> -->
                      <font class='val_type select'></font>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class='form-item'>
                  <img src='img/dob.png'>
                  <div class='elem'>
                    <span class='key'>DOB :</span>
                    <span class='value'>
                      <input type='text' maxlength="30" placeholder="Your DOB" readonly ng-model='v.user_info.dob' ng-click='open_date_picker()'/>
                      <font class='val_type select'></font>
                    </span>
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class='form-item'>
                  <img src='img/height.png'>
                  <div class='elem'>
                    <span class='key'>Height :</span>
                    <div class='value value_type_select'>
                      <input type='number' maxlength="30" placeholder="Height" ng-model='v.user_info.height'/>
                      <select ng-model='v.user_info.height_unit'>
                        <option value='FEET'>Feet</option>
                        <option value='METER'>Meter</option>
                      </select>
                      <font class='val_type select'></font>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class='form-item'>
                  <img src='img/weight.png'>
                  <div class='elem'>
                    <span class='key'>Weight :</span>
                    <div class='value value_type_select'>
                      <input type='number' maxlength="30" placeholder="Weight" ng-model='v.user_info.weight' />
                      <select ng-model='v.user_info.weight_unit'>
                        <option value='KG'>Kg</option>
                        <option value='LBS'>Lbs</option>
                      </select>
                      <font class='val_type select'></font>
                    </div>
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class='form-item'>
                  <img src='img/weight.png'>
                  <div class='elem'>
                    <span class='key'>Blood Group :</span>
                    <div class='value'>
                      <select ng-model='v.user_info.blood_group'>
                        <option value=''>Select</option>
                        <option value='A+'>A+</option>
                        <option value='A-'>A-</option>
                        <option value='B+'>B+</option>
                        <option value='B-'>B-</option>
                        <option value='O+'>O+</option>
                        <option value='O-'>O-</option>
                        <option value='AB+'>AB+</option>
                        <option value='AB-'>AB-</option>
                      </select>
                      <font class='val_type select'></font>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
