  <div class="repeat_header">
  <h4>Select Days</h4>
</div>
  <div class='row'>
    <div class='col repeat_body' ng-class='v.repeat.sun == false?"repeat_body":"repeat_body_selected"'>
      <i class='ion-android-checkbox-outline-blank' ng-click='v.repeat.sun = true' ng-show='!v.repeat.sun'></i>
      <i class='ion-android-checkbox-outline' ng-click='v.repeat.sun = false' ng-show='v.repeat.sun'></i>
      <div class='info'>
        <span>Sunday<span>
      </div>
    </div>
    <div class='col repeat_body' ng-class='v.repeat.thu == false?"repeat_body":"repeat_body_selected"'>
      <i class='ion-android-checkbox-outline-blank' ng-click='v.repeat.thu = true' ng-show='!v.repeat.thu'></i>
      <i class='ion-android-checkbox-outline' ng-click='v.repeat.thu = false' ng-show='v.repeat.thu'></i>
      <div class='info'>
        <span>Thursday<span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col repeat_body' ng-class='v.repeat.mon == false?"repeat_body":"repeat_body_selected"'>
      <i class='ion-android-checkbox-outline-blank' ng-click='v.repeat.mon = true' ng-show='!v.repeat.mon'></i>
      <i class='ion-android-checkbox-outline' ng-click='v.repeat.mon = false' ng-show='v.repeat.mon'></i>
      <div class='info'>
        <span>Monday<span>
      </div>
    </div>
    <div class='col repeat_body' ng-class='v.repeat.fri == false?"repeat_body":"repeat_body_selected"'>
      <i class='ion-android-checkbox-outline-blank' ng-click='v.repeat.fri = true' ng-show='!v.repeat.fri'></i>
      <i class='ion-android-checkbox-outline' ng-click='v.repeat.fri = false' ng-show='v.repeat.fri'></i>
      <div class='info'>
        <span>Friday<span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col repeat_body' ng-class='v.repeat.tue == false?"repeat_body":"repeat_body_selected"'>
      <i class='ion-android-checkbox-outline-blank' ng-click='v.repeat.tue = true' ng-show='!v.repeat.tue'></i>
      <i class='ion-android-checkbox-outline' ng-click='v.repeat.tue = false' ng-show='v.repeat.tue'></i>
      <div class='info'>
        <span>Tuesday<span>
      </div>
    </div>
    <div class='col repeat_body' ng-class='v.repeat.sat == false?"repeat_body":"repeat_body_selected"'>
      <i class='ion-android-checkbox-outline-blank' ng-click='v.repeat.sat = true' ng-show='!v.repeat.sat'></i>
      <i class='ion-android-checkbox-outline' ng-click='v.repeat.sat = false' ng-show='v.repeat.sat'></i>
      <div class='info'>
        <span>Saturday<span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col repeat_body' ng-class='v.repeat.wed == false?"repeat_body":"repeat_body_selected"'>
      <i class='ion-android-checkbox-outline-blank' ng-click='v.repeat.wed = true' ng-show='!v.repeat.wed'></i>
      <i class='ion-android-checkbox-outline' ng-click='v.repeat.wed = false' ng-show='v.repeat.wed'></i>
      <div class='info'>
        <span>Wednesday<span>
      </div>
    </div>
  </div>
  <div class='popup_util'>
    <label>Until</label>
    <div class='value'>
        <input type='text' placeholder="Date" readonly="" ng-model='v.repeat.popup_date_view' ng-click='open_untildatepicker()'/>
    </div>
  </div>
  <!-- <div class='select_event' style="margin-top:20px;">
    <select ng-model="v.repeat.is_forever">
      <option ng-option value="" selected>Forever</option>
      <option ng-option value="1">Until a date</option>
      <option ng-option value="2">For a number of Events</option>
    </select>
  </div>
  <ion-item ng-if="v.repeat.is_forever == '1'" ng-controller="DateTimePickerController">
    <div class='sch_form_item'>
      <div class='value'>
        <div class='input_val'>
          <input type='text' placeholder="Date" readonly="" ng-model='v.repeat.popup_date_view' ng-click='open_datepicker()'/>
        </div>
      </div>
    </div>
  </ion-item>
  <ion-item ng-if="v.repeat.is_forever == '2'">
    <div class='sch_form_item'>
      <div class='value'>
        <div class='input_val'>
          <input type='number' placeholder="2" ng-model='v.repeat.num_event' onkeydown="if(this.value.length == 2 && event.keyCode!=8) return false;"/>
          <span class='key'>Events</span>
        </div>
      </div>
    </div>
  </ion-item> -->
  <div class='buttons  repeat_btn'>
    <button ng-class='(v.repeat.mon)||(v.repeat.tue)||(v.repeat.wed)||(v.repeat.thu)||(v.repeat.fri)||(v.repeat.sat)||(v.repeat.sun) == true?"popup_btn":"popup_btn_dis"' ng-click='save_repeat_days_popup()'>Save</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button class='popup_btn text-right' ng-click='cancel_repeat_days_popup()'>Cancel</button>
  </div>
