<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' >
        <div ng-style='device_height_header_tab'>
          <div class='log_wid' style="padding-top:50px;">
            <ion-list class='log_form' >
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Generate for last:</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.num_days'>
                        <option value='7'>7 days</option>
                        <option value='14'>2 Weeks</option>
                        <option value='30'>1 Month</option>
                        <option value='90'>3 Months</option>
                        <option value='180'>6 Months</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item >
                <div class='log_form_item expandable'  ng-class="v.report_expand?'active':''">
                  <div class='ttl' ng-click='toggle_report()'>
                    <label>Report Type</label>:<a>(Know your report Type)</a>
                    <div class='place_holder'>Summary, Graph, Detail</div>
                  </div>
                  <div class='expanding_items'>
                    <div class='row'>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.reports.summary = true' ng-show='!v.reports.summary'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.reports.summary = false' ng-show='v.reports.summary'></i>
                        <div class='info'>
                          <span>Summary<span>
                        </div>
                      </div>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.reports.graph = true' ng-show='!v.reports.graph'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.reports.graph = false' ng-show='v.reports.graph'></i>
                        <div class='info'>
                          <span>Graph<span>
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.reports.detail = true' ng-show='!v.reports.detail'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.reports.detail = false' ng-show='v.reports.detail'></i>
                        <div class='info'>
                          <span>Detail<span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item gray_border'>
                  <div class='ttl'>
                    <label>Information to Include</a>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item expandable gray_border'   ng-class='v.log_expand?"active":""'>
                  <div class='ttl' ng-click='toggle_log()'>
                    <label>My Logged Information</label>:
                    <div class='place_holder'>Blood Glucose,Symptoms</div>
                  </div>
                  <div class='expanding_items'>
                    <div class='row'>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.log.bgl = true' ng-show='!v.log.bgl'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.log.bgl = false' ng-show='v.log.bgl'></i>
                        <div class='info'>
                          <span>Blood Glucose<span>
                        </div>
                      </div>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.log.symptoms = true' ng-show='!v.log.symptoms'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.log.symptoms = false' ng-show='v.log.symptoms'></i>
                        <div class='info'>
                          <span>Symptoms<span>
                        </div>
                      </div>
                    </div>

                    <div class='row'>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.log.a1c = true' ng-show='!v.log.a1c'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.log.a1c = false' ng-show='v.log.a1c'></i>
                        <div class='info'>
                          <span>A1c<span>
                        </div>
                      </div>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.log.weight = true' ng-show='!v.log.weight'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.log.weight = false' ng-show='v.log.weight'></i>
                        <div class='info'>
                          <span>Weight<span>
                        </div>
                      </div>
                    </div>

                    <div class='row'>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.log.bp = true' ng-show='!v.log.bp'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.log.bp = false' ng-show='v.log.bp'></i>
                        <div class='info'>
                          <span>Blood Pressure<span>
                        </div>
                      </div>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.log.food = true' ng-show='!v.log.food'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.log.food = false' ng-show='v.log.food'></i>
                        <div class='info'>
                          <span>Food<span>
                        </div>
                      </div>
                    </div>

                    <div class='row'>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.log.activity = true' ng-show='!v.log.activity'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.log.activity = false' ng-show='v.log.activity'></i>
                        <div class='info'>
                          <span>Activity<span>
                        </div>
                      </div>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.log.medication = true' ng-show='!v.log.medication'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.log.medication = false' ng-show='v.log.medication'></i>
                        <div class='info'>
                          <span>Medication<span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item expandable'   ng-class='v.schedule_expand?"active":""'>
                  <div class='ttl' ng-click='toggle_schedule()'>
                    <label>My Schedule</label>
                    <div class='place_holder'>Medication</div>
                  </div>
                  <div class='expanding_items'>
                    <div class='row'>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.schedule.medication = true' ng-show='!v.schedule.medication'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.schedule.medication = false' ng-show='v.schedule.medication'></i>
                        <div class='info'>
                          <span>Medication<span>
                        </div>
                      </div>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.schedule.activity = true' ng-show='!v.schedule.activity'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.schedule.activity = false' ng-show='v.schedule.activity'></i>
                        <div class='info'>
                          <span>Activity<span>
                        </div>
                      </div>
                    </div>

                    <div class='row'>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.schedule.doctor = true' ng-show='!v.schedule.doctor'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.schedule.doctor = false' ng-show='v.schedule.doctor'></i>
                        <div class='info'>
                          <span>Doctor<span>
                        </div>
                      </div>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.schedule.lab = true' ng-show='!v.schedule.lab'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.schedule.lab = false' ng-show='v.schedule.lab'></i>
                        <div class='info'>
                          <span>Lab<span>
                        </div>
                      </div>
                    </div>

                    <div class='row'>
                      <div class='col expanding_item'>
                        <i class='ion-android-checkbox-outline-blank '  ng-click='v.schedule.walk_jog = true' ng-show='!v.schedule.walk_jog'></i>
                        <i class='ion-android-checkbox-outline '  ng-click='v.schedule.walk_jog = false' ng-show='v.schedule.walk_jog'></i>
                        <div class='info'>
                          <span>Walk / Jog<span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='text-center'>
                  <a class='generate_report' ng-click='generate_report()'>
                    <img src='img/generatereport.png' />
                  </a>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
