<ion-tabs class="tabs-calm tabs-top hcn_top_tabs">

  <ion-tab title="GENERATE" href='#/main_tabs/report_widget_tab/generate' >
    <ion-nav-view name='report_generate_widget'></ion-nav-view>
  </ion-tab>

  <ion-tab title="ARCHIVE"  href='#/main_tabs/report_widget_tab/archive'>
    <ion-nav-view name='report_archive_widget'></ion-nav-view>
  </ion-tab>
</ion-tabs>
