<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
      <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' >
        <div ng-style='device_height_header_tab_top_tab'>
          <ion-list class='goal_list pdf_report'>
            <ion-item ng-repeat='item in v.archive_reports'>
              <div class='nitem' ng-click='view_file(item.nativeURL)'>
                <img src='./img/reports_pdf.png' />
                <div class='info'>
                  <span>{{ item.name }}</font>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div>
    </ion-content>
</ion-view>
