<ion-view view-title='Medication'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='showConfirm()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right'  ng-click='sch_medication()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true' direction='y' class='cred_screen bg_wh user_form_icon'>
        <div ng-style='device_height_header_tab'>
          <!-- <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="showConfirm()"></i>
            <span class='title'>Medication</span>
            <i class='right'></i>
            <i class='ion-android-done right' style="padding:0 10px" ng-click='sch_medication()'></i>
          </div> -->
          <div class='log_wid' style="height:550px;padding-top:10px;">
            <ion-list class='log_form'>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Medicine Name:</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Medicine Name" ng-model='v.med_sch_input.medicine_name' ng-change='validate_for_check()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Medicine Type :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.med_sch_input.doss_type'>
                        <option value='' disabled selected style="display: none;">Select Type</option>
                        <option value='Liquid'>Liquid</option>
                        <option value='Tablets'>Tablets</option>
                        <option value='Capsules'>Capsules</option>
                        <option value='Tropical medicines'>Tropical medicines</option>
                        <option value='Suppositories'>Suppositories</option>
                        <option value='Drops'>Drops</option>
                        <option value='Inhalers'>Inhalers</option>
                        <option value='Implants'>Implants</option>
                        <option value='Patches'>Patches</option>
                        <option value='Sublingual Tablets'>Sublingual Tablets</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Dose :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='number' placeholder="Dose" ng-model='v.med_sch_input.doss' onkeydown="if(this.value.length == 2 && event.keyCode!=8) return false;"/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Date :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.med_sch_input.sch_date | format_date:"YYYY-MM-DD":"D MMM,YYYY"' ng-click='open_datepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Time :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Time" readonly="" ng-model='v.med_sch_input.sch_time_view' ng-click='open_timepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item' style="margin-top: -8px;">
                  <span class='key'>Repeat :</span>
                  <div class='value switch_cls'>
                      <ion-toggle ng-model="v.med_sch_input.togle_on_off" ng-disabled="v.med_sch_input.toggle_disable" toggle-class="toggle-calm switch_btn" ng-click='open_repeat_days_popup()'></ion-toggle>
                  </div><br/>
                  <span class="repeat_sub_heading">{{v.med_sch_input.repeat_on}}</span>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Notes :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Type Here" ng-model='v.med_sch_input.notes' readonly="" ng-click='open_note_popup()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
