<ion-view title='Activity Schedules'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
  <ion-content scroll='true' direction='y' class='cred_screen bg_wh ' >
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="fetch_activity_schedules()">
    </ion-refresher>
      <div ng-style='device_height_header_tab'>
        <ion-list class='hcn_list'>
          <ion-item ng-repeat='item in activity_schedule'>
            <div class='hcn_item schedule'>
              <div>
                <div class='title'>{{ item.activity_name}}</div>
                <div class='created_at'>{{ item.created_at | format_date:"YYYY-MM-DD HH-mm-ss":"D MMM,YYYY"}}</div>
              </div>
              <div>
                <div class='repeat'>
                  <label>Repeat <font ng-show='item.is_repeat == 1 || item.is_repeat == "1"'>Until {{ item.until | format_date:"YYYY-MM-DD":"D MMM,YYYY"}}</font></label>
                  <div ng-show='item.is_repeat == 1 || item.is_repeat == "1"'>{{ item.repeat_on | repeat_string  }} @ {{ item.schedule_time | format_time:"HH-mm-ss":"hh:mm A" }}</div>
                  <div ng-show='item.is_repeat == 0 || item.is_repeat == "0"'>None</div>
                  <i class='ion-trash-a' ng-click='delete_activity_list_data(item.id,item)'></i>
                </div>
              </div>
            </div>
          </ion-item>
          </ion-list>
          <ion-list class='hcn_list'>
            <ion-item ng-show='activity_schedule.length == 0 && is_loading == false && is_error == false'>
              <div style='text-align:center;padding-top:20px;font-size:20px;  '>
                <div>No Schedule Found</div>
              </div>
            </ion-item>
          <ion-item ng-show='is_loading == true && is_error == false'>
            <div style='text-align:center;padding-top:20px;font-size:20px;  '>
              <div>Loading....</div>
              <ion-spinner icon="ios"></ion-spinner>
            </div>
          </ion-item>
          <ion-item ng-show=' is_error == true'>
            <div class='text-align:center'>
              <div>Something Wrong Try to refresh by pulling screen.</div>
              <!-- <ion-spinner icon="ios"></ion-spinner> -->
            </div>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
