<ion-view view-title='Lab Test'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='showConfirm()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right'  ng-click='sch_labtest()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true' direction='y' class='cred_screen bg_wh user_form_icon'>
        <div ng-style='device_height_header_tab'>
          <!-- <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="showConfirm()"></i>
            <span class='title'>Lab Test</span>
            <i class='right'></i>
            <i class='ion-android-done right' style="padding:0 10px" ng-click='sch_labtest()'></i>
          </div> -->
          <div class='log_wid' style="height:500px;padding-top:10px;">
            <ion-list class='log_form'>

              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Lab Name :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Name" ng-model='v.labtest_sch_input.lab_name'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Test Type :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Name" ng-model='v.labtest_sch_input.test_type'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Date :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.labtest_sch_input.labtest_date | format_date:"YYYY-MM-DD":"D MMM,YYYY"' ng-click='open_datepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Time :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Time" readonly="" ng-model='v.labtest_sch_input.labtest_time_view' ng-click='open_timepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Notify Me :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.labtest_sch_input.notify_before'>
                        <option value='Hour_1'>Before 1 hour</option>
                        <option value='Hour_2'>Before 2 hour</option>
                        <option value=Hour_4>Before 4 hour</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Contact Details :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="----------" ng-model='v.labtest_sch_input.notes' readonly="" ng-click='open_note_popup()'/>
                    </div>
                  </div>
                </div>
              </ion-item>

            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
