<ion-view view-title='Activity'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='showConfirm()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right'  ng-click='sch_activity()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon'>
        <div ng-style='device_height_header_tab'>
          <!-- <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="showConfirm()"></i>
            <span class='title'>Activity</span>
            <i class='right'></i>
            <i class='ion-android-done right' ng-click='sch_activity()' style="padding:0 10px"></i>
          </div> -->
          <div class='log_wid' style="padding-top:10px;">
            <ion-list class='log_form'>
              <ion-item>
                <div class='log_form_item search' ng-class='v.search_results.length > 0?"gray_border":""'>
                  <div class='search_form'>
                    <input type='text' placeholder="Search and Select Activity Type" ng-model='v.activity_search_text' style="padding-left:10px;" ng-change='search_activity()'/>
                    <i class='ion-ios-search-strong'></i>
                  </div>
                </div>
              </ion-item>

              <ion-item  ng-show='v.is_searching' style="text-align:center">
                <ion-spinner icon="ios"></ion-spinner>
              </ion-item>
              <ion-item  ng-repeat='item in v.search_results' ng-show='!v.is_searching' ng-click='choose_activity(item)'>
                <div class='log_form_item'>
                  <p>{{ item.activity_name }}</p>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.activity_sch_input.activity_id.length > 0'>
                <div class='log_form_item'>
                  <span class='key'>Date :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.activity_sch_input.activity_date| format_date:"YYYY-MM-DD":"D MMM,YYYY"' ng-click='open_datepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.activity_sch_input.activity_id.length > 0'>
                <div class='log_form_item'>
                  <span class='key'>Time :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Time" readonly="" ng-model='v.activity_sch_input.activity_time_view' ng-click='open_timepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.activity_sch_input.activity_id.length > 0'>
                <div class='log_form_item'>
                  <span class='key'>Notify Me :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.activity_sch_input.notify_before'>
                        <option value='10_minutes'>10 minutes</option>
                        <option value='20_minutes'>20 minutes</option>
                        <option value=30_minutes>30 minutes</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.activity_sch_input.activity_id.length > 0'>
                <div class='log_form_item' style="margin-top: -8px;">
                  <span class='key'>Repeat :</span>
                  <div class='value switch_cls'>
                      <ion-toggle ng-model="v.activity_sch_input.togle_on_off" ng-disabled="v.activity_sch_input.toggle_disable" toggle-class="toggle-calm switch_btn" ng-click='open_repeat_days_popup()'></ion-toggle>
                  </div><br/>
                  <span class="repeat_sub_heading">{{v.activity_sch_input.repeat_on}}</span>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.activity_sch_input.activity_id.length > 0'>
                <div class='log_form_item'>
                  <span class='key'>Duration :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.activity_sch_input.duration'>
                        <option value=''>Select Duration</option>
                        <option value='10_min'>10 mins</option>
                        <option value='15_min'>15 mins</option>
                        <option value='20_min'>20 mins</option>
                        <option value='30_min'>30 mins</option>
                        <option value='45_min'>45 mins</option>
                        <option value='60_min'>60 mins</option>
                        <option value='90_min'>90 mins</option>
                        <option value='120_min'>120 mins</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
