<ion-view title=''>
  <ion-nav-buttons side="left">
    <div ng-include=" 'main_header_left.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div ng-include=" 'main_header_right.html' " ng-controller='CommonControllerForProfile' class='right_main_header'></div>
  </ion-nav-buttons>
  <ion-content scroll='true' direction='y' class='cred_screen bg_wh ' >
      <div ng-style='device_height_header_tab'>
        <ion-list class='schedule_list'>
          <ion-item ng-click='$state.go("main_tabs.schedule_main")' style="padding-top: 70px;">
            <div class='sch_item'>
              <!-- <img src='./img/sch_medic.png'/> -->
              <div class='info'>
                <span>Add Schedule</span>
              </div>
            </div>
          </ion-item>

          <ion-item ng-click='$state.go("main_tabs.sch_medicine_list")' >
            <div class='sch_item'>
              <!-- <img src='./img/sch_medic.png'/> -->
              <div class='info'>
                <span>View Medicine Schedule</span>
              </div>
            </div>
          </ion-item>

          <ion-item ng-click='$state.go("main_tabs.sch_doc_list")' >
            <div class='sch_item'>
              <!-- <img src='./img/sch_medic.png'/> -->
              <div class='info'>
                <span>View Doctor's Appointment Schedule</span>
              </div>
            </div>
          </ion-item>

          <ion-item ng-click='$state.go("main_tabs.sch_lab_list")'>
            <div class='sch_item'>
              <!-- <img src='./img/sch_medic.png'/> -->
              <div class='info'>
                <span>View Lab Test Schedule</span>
              </div>
            </div>
          </ion-item>

          <ion-item ng-click='$state.go("main_tabs.sch_activity_list")' >
            <div class='sch_item'>
              <!-- <img src='./img/sch_medic.png'/> -->
              <div class='info'>
                <span>View Activity Schedule</span>
              </div>
            </div>
          </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
