<div class='log_form'>
  <ion-item>
    <div class='log_form_item'>
      <span class='key'>Type :</span>
      <div class='value'>
        <div class='select_val'>
          <select>
            <option>Oral</option>
            <option>Injection</option>
            <option>Syrup</option>
          </select>
        </div>
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class='log_form_item'>
      <span class='key'>Dosage :</span>
      <div class='value'>
        <div class='input_val'>
          <input type='text' placeholder="---------"/>
        </div>
      </div>
    </div>
  </ion-item>
    <div class='buttons  repeat_btn'>
      <button class='popup_btn' ng-click='save_medicine_popup()'>Save</button>&nbsp&nbsp
      <button class='popup_btn text-right' ng-click='cancel_medicine_popup()'>Cancel</button>
    </div>
</div>
