<div class='widget'>
  <div class='input'>
    <input type='number' class='qty' placeholder="Quantity" ng-model='seleted_food_data.serving'/>
    <select class='unit' ng-model='seleted_food_data.serving_unit_id'>
      <option ng-repeat='serving in selected_food_servings' value='{{serving.serving_id}}'>{{ serving.measurement_description }}</option>
    </select>
  </div>
</div>
<div class='buttons'>
  <button class='popup_btn' ng-click='close_serving_popup()'>Save</button>
</div>
