<ion-view view-title='Settings'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' >
      <div ng-style='device_height_header_tab'>
        <div class="aboutuspage">
          <ion-item  ng-click="$state.go('user_info');">
            <div class='select_content'>
              <span>Initial Setup</span>
            </div>
          </ion-item>
          <ion-item  ng-click=" $state.go('user_info_med')">
            <div class='select_content'>
              <span>Profile</span>
            </div>
          </ion-item>
          <ion-item ng-click='logout()'>
            <div class='select_content'>
              <span>Log Out</span>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-content>
</ion-view>
