<ion-view view-title='Share'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <!-- <a><img src="img/back_button.png"></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon static_pg' >
      <div ng-style='device_height_header_tab'>
        <ion-item class="data_item">
          <div class='img_logo'>
            <img src="img/hcncare_logo.png"/>
            <div class='trans'>Transforming Preventive Healthcare</div>
          </div>
        </ion-item>
        <ion-item class="data_item">
          <div class='img_para'>
            <span>Help your loved ones to manage their health or to monitor your loved ones health, share the link to HCN Care app. Only app link is shared no other personal information would be shared.</span>
          </div>
        </ion-item>
        <ion-item class="data_item">
          <div class='buttons'>
            <button ng-click='share_app()'>Share with Friends and Family</button>
          </div>
        </ion-item>
      </div>
    </ion-content>
</ion-view>
