<div class="main_event">
  <ion-item>
    <div class='select_event_popup'>
      <span class="bold_head">Event Name :</span></br>
      <span style="white-space: pre-line;">{{ v.current_record_to_see.event_name }}</span>
    </div>
  </ion-item>
  <ion-item>
    <div class='select_event_popup'>
      <span class="bold_head">Event Type :</span></br>
      <span>{{ v.current_record_to_see.type }}</span>

    </div>
  </ion-item>
  <ion-item>
    <div class='select_event_popup'>
      <span class="bold_head">Created Date :</span></br>
      <span>{{ v.current_record_to_see.phr_date }}</span>

    </div>
  </ion-item>
  <ion-item>
    <div class='select_event_popup'>
      <span class="bold_head">Created Time :</span></br>
      <span>{{ v.current_record_to_see.phr_time }}</span>
    </div>
  </ion-item>
  <ion-item ng-show="v.current_record_to_see.notes.length > 0 && v.current_record_to_see.notes != null">
    <div class='select_event_popup'>
      <span class="bold_head">Notes :</span></br>
      <span>{{ v.current_record_to_see.notes }}</span>
    </div>
  </ion-item>
  <div class="buttons">
    <button ng-click='view_doc_details_popup(v.current_record_to_see.media.uri)'>view</button>
    <button ng-click='close_doc_details_popup()'>close</button>
  </div>
</div>
