<ul class='sidemenu'>
  <li class='head'>
    <div class='user_info'>
      <div class='user_image'>
        <img src='img/menu_userprofile.png' ng-show='profile_image == null'/>
        <img src='{{ profile_image }}' ng-show='profile_image != null'/>
      </div>
      <span class='name'>{{username}}</span>
    </div>
  </li>


  <li class='menu_item'>
    <div class='menu ' ng-click='go("main_tabs.home_widget_tab.dashboard")'>
      <div class='menu_image'>
        <img src='img/menu_aboutus.png' class='inactive'/>
      </div>
      <div class='menu_name'>
        Home
      </div>
      <div class='menu_chev'>
      </div>
    </div>
  </li>


  <li class='menu_item'>
    <div class='menu ' ng-click='go("about_us")'>
      <div class='menu_image'>
        <img src='img/menu_aboutus.png' class='inactive'/>
      </div>
      <div class='menu_name'>
        About Us
      </div>
      <div class='menu_chev'>
      </div>
    </div>
  </li>

  <li class='menu_item'>
    <div class='menu ' ng-click='go("privacy_policy")'>
      <div class='menu_image'>
        <img src='img/menu_privacypolicy.png' class='inactive'/>
      </div>
      <div class='menu_name'>
        Privacy Policy
      </div>
      <div class='menu_chev'>
      </div>
    </div>
  </li>

  <li class='menu_item'>
    <div class='menu ' ng-click='go("feedback")'>
      <div class='menu_image'>
        <img src='img/menu_feedback.png' class='inactive'/>
      </div>
      <div class='menu_name'>
        Feedback
      </div>
      <div class='menu_chev'>
      </div>
    </div>
  </li>

  <li class='menu_item'>
    <div class='menu ' ng-click='go("menu_emergency_contact")'>
      <div class='menu_image'>
        <img src='img/menu_emergency.png' class='inactive'/>
      </div>
      <div class='menu_name'>
        Emergency Contact
      </div>
      <div class='menu_chev'>
      </div>
    </div>
  </li>

  <li class='menu_item'>
    <div class='menu ' ng-click='go("sos")'>
      <div class='menu_image'>
        <img src='img/menu_rating.png' class='inactive'/>
      </div>
      <div class='menu_name'>
        SOS
      </div>
      <div class='menu_chev'>
      </div>
    </div>
  </li>

  <li class='menu_item'>
    <div class='menu ' ng-click='logout()'>
      <div class='menu_image'>
        <img src='img/menu_rating.png' class='inactive'/>
      </div>
      <div class='menu_name'>
        Logout
      </div>
      <div class='menu_chev'>
      </div>
    </div>
  </li>
</ul>
