<div class='cred_action_container'>

  <div class='phonenumber inpt' ng-class='v.register_data.username_err.length > 0?"error":""'>
    <span class='err'>{{ v.register_data.username_err }}</span>
    <input type="number" ng-model='v.register_data.username' placeholder="Phone Number" id='reg_phone' onkeydown="if(this.value.length == 10 && event.keyCode!=8) return false;" ng-focus='take_screen_to_top("reg_phone")'/>
    <span class='country_drop' ng-click='open_country_list("country_list_singup")'>{{ v.register_data.country_name }} <img class='caret' src='img/dropdown.png' /></span>
  </div>
  <div class='password inpt' ng-class='v.register_data.password_err.length > 0?"error":""' ng-show='!v.register_data.is_pass_visible' >
    <span class='err'>{{ v.register_data.password_err }}</span>
    <input type='password' id='pass' ng-model='v.register_data.password' placeholder="Password"  ng-focus='take_screen_to_top("pass")'/>
    <span class='eye' ng-class='v.register_data.is_pass_visible?"close":""' ng-click='(v.register_data.is_pass_visible = !v.register_data.is_pass_visible)'></span>
  </div>
  <div class='password_sh inpt' ng-class='v.register_data.password_err.length > 0?"error":""' ng-show='v.register_data.is_pass_visible' ng-disabled='v.register_data.is_otp'>
    <span class='err'>{{ v.register_data.password_err }}</span>
    <input type='text' ng-model='v.register_data.password' placeholder="Password"  />
    <span class='eye'  ng-class='v.register_data.is_pass_visible?"close":""' ng-click='(v.register_data.is_pass_visible = !v.register_data.is_pass_visible)'></span>
  </div>

  <div class='password inpt' ng-class='v.register_data.password_con_err.length > 0?"error":""' ng-show='!v.register_data.is_pass_con_visible' >
    <span class='err'>{{ v.register_data.password_con_err }}</span>
    <input type='password' ng-model='v.register_data.repeat_password' placeholder="Re-enter Password"  />
    <span class='eye'  ng-class='v.register_data.is_pass_con_visible?"close":""' ng-click='(v.register_data.is_pass_con_visible = !v.register_data.is_pass_con_visible)'></span>
  </div>
  <div class='password_sh inpt' ng-class='v.register_data.password_err.length > 0?"error":""' ng-show='v.register_data.is_pass_con_visible' ng-disabled='v.register_data.is_otp'>
    <span class='err'>{{ v.register_data.password_con_err }}</span>
    <input type='text' ng-model='v.register_data.repeat_password' placeholder="Re-enter Password"  />
    <span class='eye' ng-class='v.register_data.is_pass_con_visible?"close":""' ng-click='(v.register_data.is_pass_con_visible = !v.register_data.is_pass_con_visible)'></span>
  </div>

  <!-- <div class='social_login' style="margin-top:15px;">
    <ul>
      <li><img src='img/facebook.png' /></li>
      <li><img src='img/twitter.png' /></li>
      <li><img src='img/googleplus.png' /></li>
    </ul>
  </div> -->
  <button class='btn-cred'  ng-click='register_user()' ng-show='!v.register_data.in_prog'>SIGN UP</button>
  <button class='btn-cred'  ng-disable='' ng-show='v.register_data.in_prog'>Registering</button>
</div>
<select ng-model='v.register_data.country_code' id='country_list_singup' style="visibility:hidden;height:0;">
  <option ng-repeat='country_code in v.country_code' value='{{ country_code.code }}'>{{ country_code.country }}</option>
</select>
