<ion-view view-title='SOS'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <!-- <a><img src="img/back_button.png"/></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
    <!-- <div class="user_pro"ng-controller='CommonControllerForProfile'>
      <img src='img/user_account.png' ng-show='profile_image == null'/>
      <img src='{{ profile_image }}' ng-show='profile_image != null'/>
    </div>
    <div class="user_pro_name" ng-click='$state.go("user_profile_tab.profile")'ng-controller='CommonControllerForProfile'>
      <span>{{username}}</span>
    </div> -->
  </ion-nav-buttons>
  <!-- <ion-nav-buttons side="right">
    <div class='user_sos' ng-click='$state.go("sos")'></div>
    <div class='check_user'  ng-click="openPopover($event)" ng-controller='CommonControllerForProfile'>
      <i class='ion-android-more-vertical'></i>
    </div>
  </ion-nav-buttons> -->
    <ion-content class='cred_screen bg_wh '>
      <div ng-style='device_height_header_tab'>
        <div ng-show='contact_numbers == null || contact_numbers.length == 0'>
          <div class="sos_content" style="padding-top:100px;">
            <span>You don't have configured emergency contact number.</span>
          </div>
          <div class='sos_button'>
            <button ng-click= "$state.go('menu_emergency_contact')">Add Emergency Contact</button>
          </div>
        </div>
        <div ng-show='contact_numbers.length > 0'>
          <div class=" sos_image text-center">
            <a ng-click= "sendSms()"><img src='./img/sos_sms_btn.png'/></a>
            <a ng-click="makeCall()"><img src='./img/sos_call_btn.png'/></a>
          </div>
          <div class="sos_content">
            <span>Please choose an option</span>
          </div>
          <!-- <div class='sos_button'>
            <button ng-click= "sos_cancel()">Cancel</button>
          </div> -->
        </div>
    </ion-content>
</ion-view>
