<ion-view view-title='About'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='$history.goBack()'>
      <!-- <a><img src="img/back_button.png"></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' >
      <div ng-style='device_height_header_tab'>
        <div class="aboutuspage" style="padding:10px;">
          <p>To provide simple and practical solutions for these chronic diseases(lifestyle related diseases), we have been continuously working upon with leading doctors and healthcare service providers. We are innovating and improving the existing gamut of solutions in preventive healthcare space with these USPs</p>
          <ul>
            <li>Predictive Analysis of Health Data</li>
            <li>Comprehensive System for Patient Vitals Management</li>
            <li>Contained Social Engagement Platform</li>
            <li>Framework of Health Data Facilitation with Health Service Provider</li>
            <li>Interactive Platform for Healthcare Awareness</li>
          </ul>
          <p>
            HCN Care engages with users to analyze the user behaviour through real time data from glucometers, analyse carbohydrates intake, medications, activity levels and provide intelligent recommendations based on the symptoms and associated conditions of the user.
            Platform is based on an interactive health program encouraging users to adopt healthier behaviors,  help them save money and impact lives in a positive way.
          </p>
        </div>
      </div>
    </ion-content>
</ion-view>
