<ion-view view-title='Record Symptoms'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='showConfirm()'>
      <!-- <a><img src="img/back_button.png"/></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
    <!-- <div class="user_pro" ng-controller='CommonControllerForProfile'>
      <img src='img/user_account.png' ng-show='profile_image == null'/>
      <img src='{{ profile_image }}' ng-show='profile_image != null'/>
    </div>
    <div class="user_pro_name" ng-click='$state.go("user_profile_tab.profile")' ng-controller='CommonControllerForProfile'>
      <span>{{username}}</span>
    </div> -->
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <div class='user_sos' ng-click='$state.go("sos")'></div> -->
    <!-- <div class='check_user'  ng-click="openPopover($event)" ng-controller='CommonControllerForProfile'>
      <i class='ion-android-more-vertical'></i>
    </div> -->
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_symptoms()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' >
        <div ng-style='device_height_header_tab' ng-show='is_main'>
          <!-- <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="$state.go('main_tabs.log_widget')"></i>
            <span class='title'>Record Symptoms</span>
            <i class='right' ng-show='!v.is_check_enabled'></i>
            <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_symptoms()' style="padding:0 10px"></i>
          </div> -->
          <div class='log_wid log_wid_2'>
            <ion-list class='log_form'>
              <ion-item>
                <div class='log_form_item' ng-class='v.search_results.length > 0?"gray_border":""'>
                  <div class='search_form'>
                    <input type='text' placeholder="Please enter your Symptoms here..." ng-model='v.symptom_search_text' ng-change='search_symptoms()' style="padding-left:10px;"/>
                    <i class='ion-ios-search-strong'></i>
                  </div>
                </div>
              </ion-item>
              <ion-item  ng-show='v.is_searching' style="text-align:center">
                <ion-spinner icon="ios"></ion-spinner>
              </ion-item>
              <ion-item  ng-repeat='item in v.search_results' ng-show='!v.is_searching' ng-click='choose_symptom(item)'>
                <div class='log_form_item'>
                  <p>{{ item.name }}</p>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled'>
                <div class='log_form_item'>
                <label>Severity: {{ v.symptoms_log_input.severity }}</label>
                <div class='hi_range range-positive'>
                  <span class='icon'>0<font>No Pain</font></span>
                  <input type="range" name="volume" min="0" max="10" ng-model='v.symptoms_log_input.severity'>
                  <span class='icon'>10<font>Worst Ever</font></span>
                </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled' ng-click='show_location(true)'>
                <div class='log_form_item' >
                  <div class='symptom_log_details'>
                    <span class='title'>Location <i class='ion-android-done right' ng-show='v.symptoms_log_input.location_ids.length > 0'></i></span>
                    <span class='sub_title' ng-show='v.symptom.location_string.length == 0'>Location of feeling/conditions you have?</span>
                    <span class='sub_title' ng-show='v.symptom.location_string.length > 0'>{{ v.symptom.location_string }}</span>
                  </div>
                </div>

              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled' ng-click='show_symptoms(true)'>
                <div class='log_form_item'>
                  <div class='symptom_log_details'>
                    <span class='title'>Other Related Symptoms <i class='ion-android-done right' ng-show='v.symptoms_log_input.related_symptom_ids.length > 0'></i></span>
                    <span class='sub_title' ng-show='v.symptom.symptom_string.length == 0'>What beside this condition you are feeling</span>
                    <span class='sub_title' ng-show='v.symptom.symptom_string.length > 0'>{{ v.symptom.symptom_string }}</span>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled' ng-click='show_nature_symptoms(true)'>
                <div class='log_form_item'>
                  <div class='symptom_log_details'>
                    <span class='title'>Nature of Symptoms <i class='ion-android-done right' ng-show='v.symptoms_log_input.pain_nature_ids.length > 0'></i></span>
                    <span class='sub_title' ng-show='v.symptom.nature_string.length == 0'>What best describe your condition?</span>
                    <span class='sub_title' ng-show='v.symptom.nature_string.length > 0'>{{ v.symptom.nature_string }}</span>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled' ng-click='show_provoking_factors(true)'>
                <div class='log_form_item'>
                  <div class='symptom_log_details'>
                    <span class='title'>Provoking Factors <i class='ion-android-done right' ng-show='v.symptoms_log_input.provoking_ids.length > 0'></i></span>
                    <span class='sub_title' ng-show='v.symptom.provoking_string.length == 0'>What made your condition worse?</span>
                    <span class='sub_title' ng-show='v.symptom.provoking_string.length > 0'>{{ v.symptom.provoking_string }}</span>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled' ng-click='show_relieving_factors(true)'>
                <div class='log_form_item'>
                  <div class='symptom_log_details'>
                    <span class='title'>Relieving Factors <i class='ion-android-done right' ng-show='v.symptoms_log_input.relieving_ids.length > 0'></i></span>
                    <span class='sub_title' ng-show='v.symptom.releving_string.length == 0'>What did you try to improve your condition?</span>
                    <span class='sub_title' ng-show='v.symptom.releving_string.length > 0'>{{ v.symptom.releving_string }}</span>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled' ng-click='show_timing(true)'>
                <div class='log_form_item'>
                  <div class='symptom_log_details'>
                    <span class='title'>Timing <i class='ion-android-done right' ng-show='v.symptoms_timing_saved'></i></span>
                    <span class='sub_title' ng-show='v.symptom.timing_string.length == 0'>When and how long your condition last?</span>
                    <span class='sub_title' ng-show='v.symptom.timing_string.length > 0'>{{ v.symptom.timing_string }}</span>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled' ng-click='show_enviorment(true)'>
                <div class='log_form_item'>
                  <div class='symptom_log_details'>
                    <span class='title'>Environment <i class='ion-android-done right' ng-show='v.symptoms_log_input.enviorment_id.length > 0'></i></span>
                    <span class='sub_title' ng-show='v.symptom.enviorment_string.length == 0'>Where were you during the condition?</span>
                    <span class='sub_title' ng-show='v.symptom.enviorment_string.length > 0'>{{ v.symptom.enviorment_string }}</span>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled && v.symptoms_log_input.notes.length == 0' ng-click='open_note_popup()'>
                <div class='log_form_item'>
                  <div class='symptom_log_details'>
                    <span class='title' style='padding-top: 14px;margin-bottom: 14px;'>Notes</span>
                    <span class='sub_title' style="display:none">Where were you during the condition?</span>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='!v.is_searching && v.is_check_enabled && v.symptoms_log_input.notes.length > 0' ng-click='open_note_popup()'>
                <div class='log_form_item'>
                  <div class='symptom_log_details'>
                    <span class='title'>Notes</span>
                    <span class='sub_title'>{{ v.symptoms_log_input.notes }}</span>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div ng-style='device_height_header_tab' ng-show='is_location'>
          <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="show_location(false)"></i>
            <span class='title'>Location</span>
            <i class='ion-android-done right' ng-click="show_location(false,true)" style="padding:0 10px"></i>
          </div>
          <div class='log_wid'>
            <ion-list class='goal_list diabetes_type'>
              <ion-item ng-repeat='type in v.locations'>
                <div class='nitem' ng-class='type.is_checked?"active":""' ng-click='type.is_checked=!type.is_checked'>
                  <i class='ion-android-checkbox-outline-blank '  ng-show='!type.is_checked'></i>
                  <i class='ion-android-checkbox-outline '  ng-show='type.is_checked'></i>
                  <div class='info'>
                    <span>{{ type.name }}<span>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div ng-style='device_height_header_tab' ng-show='is_symptoms'>
          <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="show_symptoms(false)"></i>
            <span class='title'>Symptoms</span>
            <i class='ion-android-done right' ng-click="show_symptoms(false,true)" style="padding:0 10px"></i>
          </div>
          <div class='log_wid'>
            <ion-list class='goal_list diabetes_type'>
              <ion-item ng-repeat='type in v.symptoms'>
                <div class='nitem' ng-class='type.is_checked?"active":""' ng-click='type.is_checked=!type.is_checked'>
                  <i class='ion-android-checkbox-outline-blank '  ng-show='!type.is_checked'></i>
                  <i class='ion-android-checkbox-outline '  ng-show='type.is_checked'></i>
                  <div class='info'>
                    <span>{{ type.name }}<span>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div ng-style='device_height_header_tab' ng-show='is_nature_symptoms'>
          <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="show_nature_symptoms(false)"></i>
            <span class='title'>Nature of Symptom</span>
            <i class='ion-android-done right' ng-click="show_nature_symptoms(false,true)" style="padding:0 10px"></i>
          </div>
          <div class='log_wid'>
            <ion-list class='goal_list diabetes_type'>
              <ion-item ng-repeat='type in v.pain_natures'>
                <div class='nitem' ng-class='type.is_checked?"active":""' ng-click='type.is_checked=!type.is_checked'>
                  <i class='ion-android-checkbox-outline-blank '  ng-show='!type.is_checked'></i>
                  <i class='ion-android-checkbox-outline '  ng-show='type.is_checked'></i>
                  <div class='info'>
                    <span>{{ type.name }}<span>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div ng-style='device_height_header_tab' ng-show='is_provoking_factors'>
          <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="show_provoking_factors(false)"></i>
            <span class='title'>Provoking factors</span>
            <i class='ion-android-done right' ng-click="show_provoking_factors(false,true)" style="padding:0 10px"></i>
          </div>
          <div class='log_wid'>
            <ion-list class='goal_list diabetes_type'>
              <ion-item ng-repeat='type in v.provoking_factors'>
                <div class='nitem' ng-class='type.is_checked?"active":""' ng-click='type.is_checked=!type.is_checked'>
                  <i class='ion-android-checkbox-outline-blank '  ng-show='!type.is_checked'></i>
                  <i class='ion-android-checkbox-outline '  ng-show='type.is_checked'></i>
                  <div class='info'>
                    <span>{{ type.name }}<span>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div ng-style='device_height_header_tab' ng-show='is_relieving_factors'>
          <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="show_relieving_factors(false)"></i>
            <span class='title'>Relieving Factors</span>
            <i class='ion-android-done right' ng-click="show_relieving_factors(false,true)" style="padding:0 10px"></i>
          </div>
          <div class='log_wid'>
            <ion-list class='goal_list diabetes_type'>
              <ion-item ng-repeat='type in v.releving_factors'>
                <div class='nitem' ng-class='type.is_checked?"active":""' ng-click='type.is_checked=!type.is_checked'>
                  <i class='ion-android-checkbox-outline-blank '  ng-show='!type.is_checked'></i>
                  <i class='ion-android-checkbox-outline '  ng-show='type.is_checked'></i>
                  <div class='info'>
                    <span>{{ type.name }}<span>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div ng-style='device_height_header_tab' ng-show='is_enviorment'>
          <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="show_enviorment(false)"></i>
            <span class='title'>Enviornment</span>
            <i class='ion-android-done right' ng-click="show_enviorment(false,true)" style="padding:0 10px"></i>
          </div>
          <div class='log_wid'>
            <ion-list class='goal_list diabetes_type'>
              <ion-item ng-repeat='type in v.enviorments'>
                <div class='nitem' ng-class='type.is_checked?"active":""' ng-click='choose_enviorment_type(type)'>
                  <img src='./img/radioButton.png' ng-show='!type.is_checked'/>
                  <img src='./img/radioButtonSelected.png' ng-show='type.is_checked'/>
                  <div class='info'>
                    <span>{{ type.name }}<span>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div ng-style='device_height_header_tab' ng-show='is_timing'>
          <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="show_timing(false)"></i>
            <span class='title'>Timing</span>
            <i class='ion-android-done right' ng-click="v.symptoms_timing_saved=true;show_timing(false)" style="padding:0 10px"></i>
          </div>
          <div class='log_wid timting_wid log_form'>
            <ion-list>
              <ion-item >
                <div class='log_form_item dattime'>
                  <label>Start Time</label>
                  <div class='row'>
                    <div class='col date' ng-click='open_startdatepicker()'>
                      <span class='place_holder'>{{ v.symptoms_log_input.start_date | symptom_date_format }}</span>
                    </div>
                    <div class='col time' ng-click='open_starttimepicker()'>
                      <span class='place_holder'>{{ v.symptoms_log_input.start_time | symptom_time_format}}</span>
                    </div>
                  </div>
                </div>
              </ion-item>
              <!-- <ion-item >
                <div class='log_form_item dattime'>
                  <label>End Time</label>
                  <div class='row'>
                    <div class='col date' ng-click='open_enddatepicker()'>
                      <span class='place_holder'>{{ v.symptoms_log_input.end_date | symptom_date_format}}</span>
                    </div>
                    <div class='col time' ng-click='open_endtimepicker()'>
                      <span class='place_holder'>{{ v.symptoms_log_input.end_time | symptom_time_format }}</span>
                    </div>
                  </div>
                </div>
              </ion-item> -->
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Duration :</span>
                  <div class='value'>
                    <div class='select_val'>
                      <select ng-model='v.symptoms_log_input.duration'>
                        <option value=''>Select Duration</option>
                        <option value='All_Day'>All Day</option>
                        <option value='Few_Minutes'>Few Minutes</option>
                        <option value='Few_Hours'>Few Hours</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item >
                <div class='timing_of_pain '>
                  <label>Frequency of Pain</label>
                  <div class='fre_item' ng-click='v.symptoms_log_input.frequency = "CONTINUOS"'>
                    <img src='./img/radioButton.png'  ng-show='v.symptoms_log_input.frequency != "CONTINUOS"'/>
                    <img src='./img/radioButtonSelected.png' ng-show='v.symptoms_log_input.frequency == "CONTINUOS"'/>
                    <span>Continuous</span>
                  </div>
                  <div class='fre_item' ng-click='v.symptoms_log_input.frequency = "FLUCTUATING"' >
                    <img src='./img/radioButton.png' ng-show='v.symptoms_log_input.frequency != "FLUCTUATING"'/>
                    <img src='./img/radioButtonSelected.png' ng-show='v.symptoms_log_input.frequency == "FLUCTUATING"'/>
                    <span>Fluctuating</span>
                  </div>
                  <div class='fre_item' ng-click='v.symptoms_log_input.frequency = "NOT_SURE"'>
                    <img src='./img/radioButton.png'  ng-show='v.symptoms_log_input.frequency != "NOT_SURE"'/>
                    <img src='./img/radioButtonSelected.png' ng-show='v.symptoms_log_input.frequency == "NOT_SURE"'/>
                    <span>I am not sure</span>
                  </div>
                </div>
              </ion-item>
            </ion-list>
            <!-- <div class='nitem' ng-class='type.is_checked?"active":""' ng-click='choose_enviorment_type(type)'>
              <img src='./img/radioButton.png' ng-show='!type.is_checked'/>
              <img src='./img/radioButtonSelected.png' ng-show='type.is_checked'/>
              <div class='info'>
                <span>{{ type.name }}<span>
              </div>
            </div> -->

          </div>
        </div>

    </ion-content>
</ion-view>
