<ion-view>
    <ion-nav-title>
      <h1>Your goal to use this application</h1>
    </ion-nav-title>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh'>
      <div ng-style='device_height_header'>
        <div class='user_flow_top top_tab'>
          <i class='ion-android-arrow-back left' ng-click='go_back()' ></i>
          <i class='ion-android-done right' ng-click='select_goal()' style="padding:0 10px"></i>
        </div>
        <div class='has_top_nav'>
        <ion-list class='goal_list'>
          <ion-item ng-repeat='goal in v.goals'>
            <div class='nitem' ng-class='goal.is_checked?"active":""' ng-click='choose_goal(goal)'>
              <img src='{{ goal.icon}}' />
              <div class='info'>
                <span>{{ goal.name }}<span>&nbsp;<font ng-show='goal.status == "COMING_SOON"'>(Coming Soon)</font>
                <span class='ion-android-done'></span>
              </div>
            </div>

          </ion-item>
        </ion-list>
        </div>
        <!-- <div class='nav_fixed_button text-center'>
          <a ng-click='go_back()'>
            <img src='img/backButton.png' />
          </a>

          <a ng-click='select_goal()'>
            <img src='img/nextButton.png' />
          </a>
        </div> -->
      </div>
    </ion-content>

</ion-view>
