<ion-tabs class="tabs-calm tabs-top hcn_top_tabs">

  <ion-tab title="Profile" href='#/user_profile_tab/profile'>
    <ion-nav-view name='user_profile_widget'></ion-nav-view>
  </ion-tab>

  <ion-tab title="Lifestyle"  href='#/user_profile_tab/lifestyle'>
    <ion-nav-view name='user_lifestyle_widget'></ion-nav-view>
  </ion-tab>

  <ion-tab title="Contact Info" href='#/user_profile_tab/contact_info'>
    <ion-nav-view name='user_contact_widget'></ion-nav-view>
  </ion-tab>

</ion-tabs>
