<div class='appreview_popup'>
  <h1>Your Med request is Pending...</h1>
  <div class='text-right' style='margin-top:30px'>
    <a hredf='#' ng-click='user_pending_popup.close()' class='not_sure'>Close</a>
  </div>
</div>
