<div class='images'>
  <a ng-click= "send_msg_popup()"><img src='./img/sos_sms_btn.png'/></br>Send</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a ng-click= "share_msg_popup()"><img src='./img/sos_sms_btn.png'/></br>Share</a>
</div>
