<ion-view>
    <ion-nav-title>
      <h1>Help us to know you better</h1>
      <h3>(Your information is safe with us)</h3>
    </ion-nav-title>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh user_form_icon' >
      <div ng-style='device_height_header'>
        <div class='user_flow_top top_tab'>
          <!-- <i class='ion-android-arrow-back left' ></i> -->
          <i class='ion-android-arrow-back left' ng-click='go_back()' ></i>
          <i class='ion-android-done right' ng-click='update_user_info()' style="padding:0 10px"></i>
        </div>
        <div class='has_top_nav'>
        <ion-list class=''>
          <ion-item>
            <div class='form-item'>
              <img src='img/name.png'>
              <div class='elem'>
                <span class='key'>Name :</span>
                <span class='value'>
                  <input type='text' maxlength="30" placeholder="Your Name" ng-model='v.user_info.name'/>
                  <font class='val_type text'></font>
                </span>
              </div>
            </div>
          </ion-item>

          <ion-item>
            <div class='form-item'>
              <img src='img/gender.png'>
              <div class='elem'>
                <span class='key'>Gender :</span>
                <span class='value'>

                  <select ng-model='v.user_info.gender' id='gender' style="visibility:hidden;position:absolute;top:-10px;height:10px">
                    <!-- <option value=''>Select</option> -->
                    <option value='MALE'>Male</option>
                    <option value='FEMALE'>Female</option>
                  </select>
                  <input type='text' placeholder="Select Gender" ng-model='v.user_info.gender_view' readonly  ng-click='trigger_click("gender")'/>
                  <font class='val_type select'></font>
                </span>
              </div>
            </div>
          </ion-item>

          <ion-item>
            <div class='form-item'>
              <img src='img/dob.png'>
              <div class='elem'>
                <span class='key'>DOB :</span>
                <span class='value'>
                  <input type='text' maxlength="30" placeholder="Your DOB" readonly ng-model='v.user_info.dob' ng-click='open_date_picker()'/>
                  <font class='val_type select'></font>
                </span>
              </div>
            </div>
          </ion-item>

          <ion-item>
            <div class='form-item'>
              <img src='img/height.png'>
              <div class='elem'>
                <span class='key'>Height :</span>
                <div class='value value_type_select'>
                  <input type='number' maxlength="30" placeholder="Height" ng-model='v.user_info.height' numberval maxval="999" fractionlen='1'/>
                  <select ng-model='v.user_info.height_unit'>
                    <option value='FEET'>Feet</option>
                    <option value='METER'>Meter</option>
                  </select>
                  <font class='val_type select'></font>
                </div>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <div class='form-item'>
              <img src='img/weight.png'>
              <div class='elem'>
                <span class='key'>Weight :</span>
                <div class='value value_type_select'>
                  <input type='number' maxlength="30" placeholder="Weight" ng-model='v.user_info.weight' numberval maxval="999" fractionlen='1'/>
                  <select ng-model='v.user_info.weight_unit'>
                    <option value='KG'>Kg</option>
                    <option value='LBS'>Lbs</option>
                  </select>
                  <font class='val_type select'></font>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
        </div>
        <!-- <div class='nav_fixed_button text-center'>
          <a ng-click='update_user_info()'>
            <img src='img/nextButton.png' />
          </a>
        </div> -->
      </div>
    </ion-content>

</ion-view>
