<ion-view view-title='Profile Information' align-title='center'>
    <ion-nav-buttons side="right">
      <div class='check_user' ng-click='update_user_info()'>
        <i class='ion-android-done'></i>
      </div>
    </ion-nav-buttons>
    <ion-content scroll='true'  direction='y' class='cred_screen bg_wh user_form_icon user_med_profile'>
      <div class='profile'>
        <div class='image_container'>
          <div class='container'>
            <img src='img/user_account.png' class='user_image' ng-show='v.profile_image == null'/>
            <img src='{{ v.profile_image }}' class='user_image' ng-show='v.profile_image != null'/>
            <div class='camera' ng-click='upload_options()'>
              <img src='img/camera.png'/>
            </div>
          </div>
        </div>
        <div class='text_container'>
          <div class='input-container'>
            <input type='text' placeholder="Enter Your Name" ng-model='v.name'/>
            <img src='img/editpencil.png' />
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
