<ion-view view-title='Log Weight'>
  <ion-nav-buttons side="left">
    <div class="back_button" ng-click='showConfirm()'>
      <!-- <a><img src="img/back_button.png"/></a> -->
      <i class='ion-android-arrow-back left'></i>
    </div>
    <!-- <div class="user_pro" ng-controller='CommonControllerForProfile'>
      <img src='img/user_account.png' ng-show='profile_image == null'/>
      <img src='{{ profile_image }}' ng-show='profile_image != null'/>
    </div>
    <div class="user_pro_name" ng-click='$state.go("user_profile_tab.profile")' ng-controller='CommonControllerForProfile'>
      <span>{{username}}</span>
    </div> -->
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <div class='user_sos' ng-click='$state.go("sos")'></div> -->
    <!-- <div class='check_user'  ng-click="openPopover($event)" ng-controller='CommonControllerForProfile'>
      <i class='ion-android-more-vertical'></i>
    </div> -->
    <div class='check_user'>
      <i class='right' ng-show='!v.is_check_enabled'></i>
      <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_weight()' style="padding:0 10px"></i>
    </div>
  </ion-nav-buttons>
    <ion-content scroll='true'   direction='y' class='cred_screen bg_wh user_form_icon' >
        <div ng-style='device_height_header_tab'>
          <!-- <div class='log_nav'>
            <i class='ion-android-arrow-back left' ng-click="$state.go('main_tabs.log_widget')"></i>
            <span class='title'>Log Weight</span>
            <i class='right' ng-show='!v.is_check_enabled'></i>
            <i class='ion-android-done right' ng-show='v.is_check_enabled' ng-click='log_weight()' style="padding:0 10px"></i>
          </div> -->
          <div class='log_wid log_wid_2'>
            <ion-list class='log_form'>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Previous Weight :</span>
                  <div class='value'>
                    <span class='fixed_val'>{{ v.weight_log_input.existing_weight }} {{ v.weight_log_input.weight_unit | weight_string }}</span>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div class='log_form_item'>
                  <span class='key'>Current Weight :</span>
                  <div class='value'>
                    <div class='input_unit_val'>
                      <input type='number' placeholder="----" ng-model='v.weight_log_input.weight' ng-change='validate_for_check()' numberval maxval="999" fractionlen='1'/>
                      <span>{{ v.weight_log_input.weight_unit | weight_string }}</span>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Date :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Date" readonly="" ng-model='v.weight_log_input.log_date | format_date:"YYYY-MM-DD":"D MMM,YYYY"' ng-click='open_datepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item ng-show='v.is_check_enabled'>
                <div class='log_form_item'>
                  <span class='key'>Time :</span>
                  <div class='value'>
                    <div class='input_val'>
                      <input type='text' placeholder="Time" readonly="" ng-model='v.weight_log_input.log_time_view' ng-click='open_timepicker()'/>
                    </div>
                  </div>
                </div>
              </ion-item>

            </ion-list>
          </div>
        </div>
    </ion-content>
</ion-view>
