<ion-modal-view class=''>
  <ion-header-bar class='bar-calm modal_with_back' align-title="center">
    <div class="buttons">
      <i class='ion-android-arrow-back left' ng-click='why_add.hide();'></i>
    </div>
    <h1 class="title">Why Should I add?</h1>
  </ion-header-bar>
  <ion-content>
    <div class='tip_container'>
      <p>The purpose of complete and accurate patient record documentation is to foster quality and continuity of patient care. At HCN Core we ask for your health records and medical history to create a means of communication between you, your family members & closed ones and health service providers about health status, preventive health services, treatment, planning, and delivery of care.</p>
      <p>Medical records document the history of examination, diagnosis and treatment of a patient. This information is vital for all providers involved in a patient’s care and for any subsequent new provider who assumes responsibility for the patient. Complete and accurate medical records can justify (or refute) the need for a particular treatment. </p>
      <p>Medical records are the single most important evidence for the provider whenever a malpractice claim, or other inquiry, arises concerning patient care. In multi-specialty care, and in ever changing health care networks, it often required for patients to transfer to different providers, and the need for comprehensive and accurate medical records are vital to the whole treatment process.</p>
    </div>
  </ion-content>

</ion-modal-view>
