.card_blog{
  margin-top: 10px;
  position: relative;

  .card_icon{
    border-radius: 20px;
    // padding: 8px 12px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    background: #fff;
    width: 40px;
    height: 40px;
    top:30%;
    left: 12px;
    box-shadow:inset 2px 0px 2px rgba(0,0,0,.4);
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    img{
      height: 20px;
      vertical-align: middle;
    }
  }
  .container{
    display: flex;
    height: 80px;
    width: 100%;
    overflow: hidden;
    .left{
      background: #4CAF50;
      // flex:1;
      width: 30px;
      border-radius: 2px;
      box-shadow:1px 0px 1px rgba(0,0,0,.4);
    }
    .right{
      background: lighten(#4CAF50,15%);
      flex:1;
      margin-left: 5px;
      border-radius: 2px;
      box-shadow:1px 0px 1px rgba(0,0,0,.4);
      .data{
        display: flex;
        .title{
          flex: 6;
          display: flex;
          align-items: center; /* Vertical center alignment */
          justify-content: center; /* Horizontal center alignment */
          span{
            font-family: 'Roboto-Regular' !important;
            font-size: 16px;
            padding: 20px;
            padding-left: 25px;
          }
        }
        .img{
          flex: 4;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}
