.card_current_health{
  margin-top: 10px;
  position: relative;

  .card_icon{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    background: #fff;
    top:35%;
    left: 12px;
    box-shadow:inset 2px 0px 2px rgba(0,0,0,.4);
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    img{
      height: 15px;
      vertical-align: middle;
    }
  }
  .container{
    display: flex;
    height: 120px;
    width: 100%;
    .left{
      background: #03A9F4;
      // flex:1;
      width: 30px;
      border-radius: 2px;
      box-shadow:1px 0px 1px rgba(0,0,0,.4);
    }
    .right{
      background: #fff;
      flex:1;
      margin-left: 5px;
      border-radius: 2px;
      box-shadow:1px 0px 1px rgba(0,0,0,.4);
      border-left: solid 1px #ccc;
      .header{
        position: relative;
        background: #03A9F4;
        display: flex;
        align-items: center; /* Vertical center alignment */
        justify-content: center; /* Horizontal center alignment */
        // flex:1;
        height: 30px;
        border-radius: 2px 2px 0 0 ;
        text-align: center;
        vertical-align: middle;
        color: $light;
        span{
          font-family: 'Roboto-Medium' !important;
          font-size: 16px;
        }
        .info_icon{
          position: absolute;
          height:30px;
          top:0px;
          right:0px;
          padding: 6px 10px;
          // padding-left: 10px;
          border-left:solid 4px #fff;
          img{
            height: 12px;
          }
        }
      }
      .data{
        height: 80px;
        // display: flex;
        align-items: center; /* Vertical center alignment */
        justify-content: center; /* Horizontal center alignment */
        padding: 10px 20px;
        padding-right: 0;
        padding-left: 30px;
        font-family: 'Roboto-Light';
        font-size: 16px;

        .bmi,.ideal{
          padding: 5px;
          label{
            font-size: 20px;
            color:#000;
          }
          span{
            font-size: 20px;
            color:$theme_color;
          }
        }
        .bmi{
          padding-top:0;
          border-bottom: solid 1px rgba(0,0,0,0.25);
        }
        .idel{
          padding-bottom: 0;
        }
      }
    }
  }
}
