.card_text_green{
  color: #009486 !important;
}

.card_text_orange{
  color: #FF9600 !important;
}

.card_text_red{
  color: #F24336 !important;
}

.card_text_purple{
  color: #673AB5 !important;
}

.card_text_skyblue{
  color: #1eaaf1 !important;
}

.card_text_lightgreen{
  color: #4CAD50 !important;
}
