.card_dashboard{
  margin-top: 10px;
  position: relative;
  box-shadow:1px 0px 2px rgba(0,0,0,.4);
  .header{
    height: 30px;
    background: #4FC1F5;
    border-radius: 2px 2px 0 0 ;
    text-align: center;
    // border-left:solid 1px #4FC1F5;
    // border-right:solid 1px #4FC1F5;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    span{
      font-family: 'Roboto-Medium' !important;
      font-size: 16px;
      color: #fff;
    }
    .info_icon{
      position: absolute;
      height:30px;
      top:0px;
      left:0px;
      padding: 6px 10px;
      padding-right: 13px;
      // padding-left: 10px;
      border-right:solid 4px #fff;
      img{
        height: 12px;
      }
    }
  }

  .data{
    // min-height: 100px;
    // border: solid 1px rgba(0,0,0,0.5);
    border-top: none;
    border-radius: 0 0 2px 2px ;
    background: rgba(255,255,255,0.7);
    padding: 5px 5px;

    .card_title{
      display: block;
      text-align: center;
    }

    .bottom_container{
      text-align: center;
      margin-bottom: 10px;
      label{
        font-size: 14px;
        vertical-align: bottom;
        font{
          vertical-align: bottom;
          font-size: 30px;
          line-height: 30px;
          color: $theme_color;
        }
      }
    }

    .sep{
      // content: '';
      display: block;
      border-bottom: solid 1px #000;
      transform: scaleY(0.5);
      width: 100%;
      bottom:0px;
      margin: 10px auto;
    }
  }
}


.card_type_1{
  .top_container{
    padding: 5px;
    display: flex;
    .section{
      flex: 1;
      text-align: center;

      .last_log{
        margin-top: 10px;
        font-size: 14px;
        display: block;
      }
      .figure{
        // display: flex;
        .fig_data{
          display: inline-block;
          font-size: 35px;
          vertical-align: middle;
          line-height: 35px;
        }
        .fig_data.log_data{
          img{
            width: 40px;
          }
          span{
            display: block;
            font-size: 14px;
            margin-top: 4px;
            line-height: 14px;
            font-family: 'Roboto-Regular' !important;
          }
        }
        .unit{
          vertical-align: top;
          margin-left: 0px;
          display: inline-block;
          text-align: left;
          .type{
            font-size: 11px;
            display: inline-block;
            width: 100%;
            line-height: 11px;
          }
          .value{
            font-size: 11px;
            width: 100%;
            line-height: 11px;
          }
        }
      }

    }
  }

  .top_container.with_border{
    .section{
      padding: 5px;
      border-right: solid 1px rgba(0,0,0,0.5);
      &:last-child{
        border-right: none;
      }


    }
  }
}

.card_intake{
  .intake_value{
    .type{
      font-size: 14px;
    }
    .value{
      label{
        font-size: 22px;
        color: #4CAD50;
        font{
          color: #000;
          font-size: 10px;
        }
      }
    }
    .time{
      font-size: 11px;
    }
  }
}

.card_symptoms{
  .intake_value{
    .type{
      font-size: 14px;
      color: #F24336;
    }
    .value{
      font-size: 14px;
    }
    .time{
      font-size: 11px;
    }
  }
}

.card_activity{
  .intake_value{
    .type{
      font-size: 14px;
      color: #673AB5;
    }
    .value{
      label{
        font-size: 22px;
        font{
          color: #000;
          font-size: 10px;
        }
      }
    }
    .time{
      font-size: 11px;
    }
  }
  .bottom_container{
    .summary{
      display: flex;

      .cal,.time{
        flex:1;
        label{
          font-size: 30px;
          font{
            color: #000;
            font-size: 14px;
            margin-left: 5px;
          }
        }
      }
      .cal{
        label{
          color: #1B5E20;
        }
      }
      .time{
        label{
          color: #673AB5;
        }
      }
    }
  }
}

.card_schedule{
  .schedule_row{
    display: flex;
    .schedule_type{
      flex: 1;
      label{
        font-family: 'Roboto-Regular' !important;
      }
    }
    .schedule_data{
      flex:2;
      table{
        width: 100%;
        .key{
          width: 50%;

        }
        .value{
          text-align: right;
        }
        font{
            color: $theme_color;
        }
      }
    }
  }
}
