/* Font Face Section*/
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
}
