.insight_blog{
  margin-bottom: 50px;
  padding: 0px !important;
  ul{
    li{
      margin: 0px;
      padding: 0px;
      border-bottom: solid 1px #ccc;
      .left{
        text-align: left;
        width: 30%;
        img{
          width: 100px;
          height: auto;
          padding-top: 5px;
        }
      }
      .right{
        padding: 5px;
        text-align: right;
        width: 70%;

        h1{
          font-family: 'Roboto-Light';
          font-size: 20px;
          margin-top: 60px;
          font-weight: bold;
        }
        h3{
          font-family: 'Roboto-Light';
          font-size: 18px;

        }
      }
    }
  }
}

.insight_blog_cards{
  padding: 0px;
  margin: 0px;
  .card{
    margin: 0px;
    h1{
      font-family: 'Roboto-Light';
      padding: 10px 10px;
      font-size: 18px;
      font-weight: bold;
    }
    // h3{
    //   font-family: 'Roboto-Light';
    //   padding: 10px 10px;
    //   font-size: 16px;
    //   position: absolute;
    //   right: 20px;
    // }
  }
  .image{
    text-align: center;
    img{
      width: 90%;
      height: auto;
    }
  }
  .content{
    padding: 15px;
    span{
      font-family: 'Roboto-Light';
      font-size: 16px;
      white-space: pre-line;
    }
  }
}
.no_data{
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto-Light';
  margin-top: 50px;
}
