.full_card{
  .day_name{
    padding:10px;
    span{
      font-size: 20px;
      font-family: "Roboto-Light";
      text-transform: uppercase;
      color: #000;
    }
  }
}
.tm_card{
  display: flex;
  background: $light;
  margin-bottom: 5px;
  height: 100px;
  overflow: hidden;
  // border-top: solid 1px rgba(0,0,0,0.7);
  // border-bottom: solid 1px rgba(0,0,0,0.7);
  box-shadow: 1px 0px 0px #000;
  .left_side{
    flex:1;
    // padding: 10px;
    span{
      font-size: 13px;
      font-family: "Roboto-Light";
      text-transform: uppercase;
      color: #000;
      text-align: center;
      padding: 10px;
      margin-top: 5px;
      display: block;
    }
    .img_sep{
      // margin-top: 10px;
      text-align: center;
      position: relative;
      img{
        position: relative;
        height: 40px;
        z-index: 10;
      }

      &:after{
        content: '';
        display: block;
        width: 50%;
        border-bottom: solid 1px #000;
        position: absolute;
        top:45%;
        z-index: 9;
        right:0;
      }

      &:before{
        content: '';
        display: block;

        position: absolute;
        top:42%;
        z-index: 10;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: $light;
        border:solid 1px #000;
        right: -6px;

        // right: 0;
      }
    }
    border-right: solid 5px #f0f0f0;
  }
  .right_side{
    // padding: 10px;
    flex:4;


    .card_heading{
      position: relative;
      padding: 5px;
      text-align: center;
      font-size: 18px;
      font-family: "Roboto-Light";
      // text-transform: uppercase;
      height: 30px;
      &:after{
        content: '';
        display: block;
        width: 100%;
        border-bottom: solid 1px #000;
        position: absolute;
        top:100%;
        z-index: 9;
        right:0;
      }

      &:before{
        content: '';
        display: block;

        position: absolute;
        top:92%;
        z-index: 10;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: $light;
        border:solid 1px #000;
        left: -6px;

        // right: 0;
      }

    }

    .card_data{
      height: 70px;
      // display: flex;
      // align-items: center; /* Vertical center alignment */
      // justify-content: center; /* Horizontal center alignment */
      position: relative;
      padding: 10px 20px;
      .text_theme{
        color: $theme_color;
      }
      svg{
          width: 10px;
          position: absolute;
          right: 10px;
          bottom: 10px;
          .cls-1{fill:#ff9800;}
      }

    }
  }
  &:last-child{
    // margin-bottom: 0px;
  }
}


@mixin card_color($color) {
  display: flex;
  background: $light;
  margin-bottom: 5px;
  height: 100px;
  overflow: hidden;
  position: relative;
  // border-top: solid 1px rgba(0,0,0,0.7);
  // border-bottom: solid 1px rgba(0,0,0,0.7);
  // box-shadow: 1px 0px 1px #000;
  &:before{
    @include custom_border(#000,0.25);
    top:0;
    bottom:auto;
  }

  &:after{
    @include custom_border(#000,0.25);
    bottom:0;
    top:auto;
  }
  .left_side{
    flex:1;
    // padding: 10px;
    span{
      font-size: 13px;
      font-family: "Roboto-Light";
      text-transform: uppercase;
      color: #000;
      text-align: center;
      padding: 10px;
      margin-top: 5px;
      display: block;
    }
    .img_sep{
      // margin-top: 10px;
      text-align: center;
      position: relative;
      img{
        position: relative;
        height: 40px;
        z-index: 10;
      }

      &:after{
        content: '';
        display: block;
        width: 50%;
        border-bottom: solid 1px $color;
        position: absolute;
        top:45%;
        z-index: 9;
        right:0;
      }

      &:before{
        content: '';
        display: block;

        position: absolute;
        top:36%;
        z-index: 10;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: $light;
        border:solid 1px $color;
        right: -8px;

        // right: 0;
      }
    }
    border-right: solid 5px $color;
  }
  .right_side{
    // padding: 10px;
    flex:4;


    .card_heading{
      position: relative;
      padding: 5px;
      text-align: center;
      font-size: 18px;
      font-family: "Roboto-Light";
      // text-transform: uppercase;
      height: 30px;
      &:after{
        content: '';
        display: block;
        width: 100%;
        border-bottom: solid 1px $color;
        position: absolute;
        top:100%;
        z-index: 9;
        right:0;
      }

      &:before{
        content: '';
        display: block;

        position: absolute;
        top:86%;
        z-index: 10;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: $light;
        border:solid 1px $color;
        left: -8px;

        // right: 0;
      }
    }

    .card_data{
      height: 70px;
      // display: flex;
      // align-items: center; /* Vertical center alignment */
      // justify-content: center; /* Horizontal center alignment */
      position: relative;
      padding: 10px 20px;
      .text_theme{
        color: $theme_color;
      }
      svg{
          width: 10px;
          position: absolute;
          right: 10px;
          bottom: 10px;
          .cls-1{fill:$color;}
      }

    }
  }
  &:last-child{
    margin-bottom: 5px;
  }
}


.tm_card_bgl{
  @include card_color(#FF9800);
}


.tm_card_bp{
  @include card_color(#009688);
}


.tm_card_a1c{
  @include card_color(#3F51B5);
}

.tm_card_symptoms{
  @include card_color(#00BCD4);
}

.tm_card_food{
  @include card_color(#FF5722);
}

.tm_card_medicine{
  @include card_color(#F44336);
}

.tm_card_activity{
  @include card_color(#673AB7);
}

.tm_card_weight{
  @include card_color(#3F51B5);
}
