.card_blog_tip{
  margin-top: 10px;
  position: relative;

  .card_icon{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    background: #fff;
    top:35%;
    left: 10px;
    box-shadow:inset 2px 0px 2px rgba(0,0,0,.4);
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    img{
      height: 20px;
      vertical-align: middle;
    }
  }
  .container{
    display: flex;
    height: 120px;
    width: 100%;
    .left{
      background: #FF9800;
      // flex:1;
      width: 30px;
      border-radius: 2px;
      box-shadow:1px 0px 1px rgba(0,0,0,.4);
    }
    .right{
      background: lighten(#FF9800,15%);
      flex:1;
      margin-left: 5px;
      border-radius: 2px;
      box-shadow:1px 0px 1px rgba(0,0,0,.4);
      .header{
        background: #FF9800;
        display: flex;
        align-items: center; /* Vertical center alignment */
        justify-content: center; /* Horizontal center alignment */
        // flex:1;
        height: 30px;
        border-radius: 2px 2px 0 0 ;
        text-align: center;
        vertical-align: middle;
        color: $light;
        span{
          font-family: 'Roboto-Medium' !important;
          font-size: 16px;
        }
      }
      .data{
        height: 80px;
        display: flex;
        align-items: center; /* Vertical center alignment */
        justify-content: center; /* Horizontal center alignment */
        padding: 10px 20px;
        padding-left: 30px;
        span{
          font-family: 'Roboto-Regular' !important;
          font-size: 16px;
        }
      }
    }
  }
}
