.card_tip{
  background: #231F20;
  opacity: 0.5;
  color: #fff;
  height: 50px;
  border-radius: 30px;
  position: relative;
  margin-top: 5px;
  img{
    height: 40px;
    position: absolute;
    left: 5px;
    top:5px;
    padding: 5px;
    margin-left: 5px;

  }
  .data{
    padding-left: 60px;
    padding-right: 20px;
    height: 50px;
    font-family: 'Roboto-Light';
    font-size: 16px;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    span{
      vertical-align: middle;
    }
  }
}
