<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *;img-src * 'self' data: http:">
    <title></title>

    <link href="./lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="./lib/jr-crop/jr-crop.css" rel="stylesheet">
    <link href="lib/drawer/drawer.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="./lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="./lib/ionic/js/angular/angular-resource.min.js"></script>
    <script src="./lib/angular-locker/dist/angular-locker.js"></script>
    <script src="./lib/ionic-datepicker/ionic-datepicker.min.js"></script>
    <script src="./lib/ionic-timepicker/ionic-timepicker.bundle.min.js"></script>
    <script src="./lib/sprintf/sprintf.min.js"></script>
    <script src="./lib/jr-crop/jr-crop.js"></script>
    <!-- <script src="./lib/angular-lazy-img.min.js"></script> -->

    <script src="./lib/country_code.js"></script>
    <script src="./lib/moment.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="./lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/drawer/drawer.js"></script>
    <!-- your app's js -->
    <!-- <script src="js  /app.js"></script> -->

    <!-- build:css dist_css/styles.css -->
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/ionic.app.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:js dist/dist_js/templates.js -->
    <script src="./dist/dist_js/app/templates.js"></script>
    <!-- endbuild -->

    <!-- build:js dist/dist_js/app.min.js -->
    <script src="./dist/dist_js/app/app.js"></script>
    <script src="./dist/dist_js/app/routes.js"></script>

    <!-- endbuild -->
    <script src="./js/build/hcncore.min.js"></script>

    <!-- <script>
    moment.locale('en', {
    ordinal : function (number, token) {
        var b = number % 10;
        var output = (~~ (number % 100 / 10) === 1) ? 'th' :
            (b === 1) ? 'st' :
            (b === 2) ? 'nd' :
            (b === 3) ? 'rd' : 'th';
        return number + '<sup>' + output + '</sup>';
    }
});
    </script> -->
  </head>
  <body ng-app="hcncore" ng-strict-di ng-class='is_big_bar?"big_bar":"small_bar"'>
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-side-menus enable-menu-with-back-views=true>
      <!-- Left menu -->
      <!-- <ion-side-menu side="left">
      </ion-side-menu> -->
      <drawer side="left"  ng-show='false'>
  	  	<ion-nav-bar  class="bar-stable nav-title-slide-ios7 has-tabs-top">
        </ion-nav-bar>

          <ion-view title="Menu" >
            <ion-content scroll='true' direction='y'>
              <ng-include src="'sidemenu.html'" class='sidemenu_include' ng-controller='SideMenuController'/>
            </ion-content>
          </ion-view>
        </drawer>
        <div class='drawer_back' ng-click='closeDrawer()' ng-show='isOpen() && sidemenu_show' id='drawer_back'></div>
        <ion-side-menu-content >
          <ion-nav-bar class="bar-calm" id='hcncore_header' >
          </ion-nav-bar>
          <ion-nav-view name="root-view"></ion-nav-view>
        </ion-side-menu-content>
    </ion-side-menus>
  </body>
</html>
